<div id="main_nav">
    <div id="menu_accordion" class="accordion">
    {% for menugroup, menuitems in menu.iteritems() %}
        <h3><a href="#">{{ menugroup }}</a></h3>
        <div>
        {% for i in menuitems %}
            <a href="/group/{{ i['id'] }}">{{ i['title'] }}</a>
        {% end %}
        </div>
    {% end %}

        <h3></h3>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        $(".accordion").accordion({
            fillSpace: true,
            navigation: true,
        });
        $("#main_nav").find("a[href='"+window.location.pathname+"']").each(function(){
            $(this).addClass("active")
        })

        $(window).resize(function(){
            $('#menu_accordion').accordion('resize');
        });

    });
</script>
