{% extends main_template %}

{% block content %}

<section style="margin: 0px auto; width:70%; padding-bottom:50px;">
    <img src="{{ system_logo }}" alt="logo" style="margin:50px auto; display:block;" />
    <h1>{{ questionary.questionary.name.value }}<br />"{{ questionary.bubble.displayname }}"</h1>
    {{ questionary.questionary.description.value|linebreaksbr }}

    <form id="feedback_form" action="/feedback" method="post">
        <input type="hidden" name="person_questionary" value="{{ questionary.key }}"/>

        <div class="table" style="width:100%">
        {% regroup questions|dictsort:"target_person" by target_person as grouped %}
    	{% for group in grouped %}
            <div class="row">
                <div class="h_header" style="text-align:left;">
                    {% if group.grouper %}{{ group.grouper }}{% else %}{{ str.general_questions }}{% endif %}
                </div>
            </div>

            {% for item in group.list|dictsort:"ordinal" %}
            <div class="row">
                <div class="cell" style="vertical-align:middle;">
                    {{ item.question }}{% if item.is_mandatory %} *{% endif %}
                    {% ifequal item.type "like" %}
                    <div style="float:right;" style="vertical-align:middle;">
                        <input type="hidden" name="{{ item.key }}" value="{{ item.answer|default:"0" }}"/>
                        <img class="unlike" src="/images/like/unlike-off.png" height="20" width="20" alt="0" />
                        <img class="like" src="/images/like/like-off.png" height="20" width="20" alt="0" />
                    </div>
                    {% endifequal %}
                    {% ifequal item.type "rating" %}
                    <div class="range" style="float:right;"><input type="hidden" class="range_input" name="{{ item.key }}" value="{{ item.answer|default:"0" }}"/></div>
                    {% endifequal %}
                    {% ifequal item.type "text" %}
                    <br /><textarea name="{{ item.key }}" rows="1" style="width:100%; height:40px;">{{ item.answer|default:"" }}</textarea>
                    {% endifequal %}
                </div>
            </div>
    	   {% endfor %}
    	{% endfor %}
        </div>

    </form>
    <a href="javascript:void(0);" id="feedback_submit" class="button" style="float:right;">{{ str.feedback_submit }}</a>
    <span style="float:left; font-style:italic; font-size:11px;">{{ str.feedback_mandatory_questions }}<br />{{ unanswered }}</span>
</section>

<script type="text/javascript">
    $(document).ready(function(){

        /* LIKE */
        $('.unlike').each(function(){
            set_like_img($(this).parent());
        });

        $('.like').css('cursor', 'pointer');
        $('.unlike').css('cursor', 'pointer');

        $('.unlike').click(function() {
            set_like($(this).parent(), 'unlike');
        });

        $('.like').click(function() {
            set_like($(this).parent(), 'like');
        });

        function set_like(div, button) {
            score = div.children('input').val()
            if((score === '0' || score === '1') && button === 'unlike') score = -1;
            if((score === '0' || score === '-1') && button === 'like') score = 1;
            if((score === '1') && button === 'like') score = 0;
            if((score === '-1') && button === 'unlike') score = 0;
            div.children('input').val(score);
            set_like_img(div);
        };

        function set_like_img(div) {
            score = div.children('input').val()
            div.children('.unlike').attr('src', '/images/like/unlike-off.png');
            div.children('.like').attr('src', '/images/like/like-off.png');
            if(score === '-1') div.children('.unlike').attr('src', '/images/like/unlike.png');
            if(score === '1') div.children('.like').attr('src', '/images/like/like.png');
        };


        /* RATING */
        $('.range').each(function(){
            rating = $(this);
            value = rating.children('input').val();
            rating.raty({
                number: 5,
                hintList: ['1', '2', '3', '4', '5'],
                cancelHint: '',
                path: '/images/rating/',
                showCancel: true,
                start: value,
                onClick: function(score) {
                    $(this).children('input').val(score);
                }
            });
        });


        /* TEXT */
        $('textarea').elastic();


        /* SUBMIT */
        $('#feedback_submit').click(function(){
            $('#feedback_form').submit();
        });

    });
</script>

{% endblock %}
