{% extends '../../main/template/index.html' %}
{% autoescape None %}

{% include 'start.html' %}

{% block public_content %}
    {% from operator import itemgetter %}
    <script type="text/javascript">
        $('#sign_in_link').attr('href', '/entity/{{ entity['definition_keyname'] }}/{{ entity['id'] }}')
    </script>
    <form id="simple-search" class="form-horizontal" action="/public-{{ path }}/search" method="POST" style="text-align:center;">
        <div class="input-append1">
            <input type="text" name="search" class="span4" placeholder="{{ _('search_placeholder') }}" value="" />
            <div class="btn-group">
                <button class="btn" type="submit">{{ _('search_button') }}</button>
            </div>
        </div>
    </form>
    <div class="pull-right" style="margin:0px 0px 20px 0px; width:120px; text-align:center; text-transform:uppercase; color:#B9B9B9; font-weight:bold;">
        <img src="{{ entity['displaypicture'] }}" id="entity_picture" class="" width="120" style="width:120px;" />
    </div>
    <h3 style="margin:0px 140px 8px 0px; line-height:23px;">{{ entity['displayname'] }}</h3>
    <div style="margin-right:140px;">
        <table class="table table-condensed">
            <tbody>
                {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
                    {% if p.get('visible') and p.get('values') and p['dataproperty'] != 'photo' %}
                        <tr>
                            <th style="text-align:right; min-width:200px;">
                                {{ p['label'] }}
                            </th>
                            <td style="width:100%;">
                                {% if p['datatype'] == 'file' %}
                                    {% if sharing_key %}
                                        {{ '<br />'.join(['<a href="/api2/file-%s?key=%s">%s</a>' % (v['db_value'], sharing_key, v['value']) for v in p['values']]) }}
                                    {% else %}
                                        {{ '<br />'.join(['<a href="/api2/file-%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                                    {% end %}
                                {% elif p['datatype'] == 'reference' %}
                                    {{ '<br />'.join(['<a href="entity-%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                                {% else %}
                                    {{ '<br />'.join(['%s' % v['value'] for v in p['values']]) }}
                                {% end %}
                            </td>
                        </tr>
                    {% end %}
                {% end %}
            </tbody>
        </table>
    </div>
    {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
        {% if p.get('visible') and p.get('values') and p['datatype'] == 'file' and p['dataproperty'] == 'photo' %}
            <div class="item_carousel" style="width:800px; margin: auto;">
                {{ "\n".join(['<div><img src="/api2/file-%s" alt="%s"/></div>' % (v['db_value'], v['value']) for v in sorted(p['values'], key=itemgetter('value'))]) }}
            </div>
        {% end %}
    {% end %}
    <script type="text/javascript">
        $('.item_carousel').slick(
            {
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                autoplay: true,
                autoplaySpeed: 5000
            }
        )
    </script>
{% end %}
