{% extends '../../main/template/index.html' %}
{% autoescape None %}

{% include 'start.html' %}

{% block public_content %}
    {% from operator import itemgetter %}
    <h3 style="margin:0px 0px 8px 0px; line-height:23px;">{{ entity['displayname'] }}</h3>
    <table class="table table-condensed">
        <tbody>
            {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
                {% if p['visible'] and p['values'] %}
                    <tr>
                        <th style="text-align:right; min-width:200px;">
                            {{ p['label'] }}
                        </th>
                        <td style="width:100%;">
                            {% if p['datatype'] == 'file' %}
                                {{ '<br />'.join(['<a href="/public/file-%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                            {% else %}
                                {{ '<br />'.join(['%s' % v['value'] for v in p['values']]) }}
                            {% end %}
                        </td>
                    </tr>
                {% end %}
            {% end %}
        </tbody>
    </table>
{% end %}
