{% extends '../../main/template/index.html' %}

{% include 'start.html' %}

{% block public_content %}
    <table class="table table-bordered">
        <tbody>
            {% for i in entities %}
            <tr>
                <td style="white-space:nowrap; min-width:20px;">
                    <img src="/api2/entity-{{ i['id'] }}/picture" style="height:20px; width:20px;" />
                </td>
                <td style="1white-space:nowrap; width:100%; border-left:none;">
                    <a href="{{ i['url'] }}">{{ i['name'] }}</a>
                </td>
            </tr>
            {% end %}
            <tr>
                <td colspan="3" style="text-align:center;">
                    {{ itemcount }}
                </td>
            </tr>
        </tbody>
    </table>
{% end %}
