{% extends '../../main/template/index.html' %}

{% block logo_url %}/public{% end %}

{% block style %}
    .brand {padding-left:0px !important;}
{% end %}

{% block right_toolbar %}
    <ul class="nav pull-right">
    {% for p, l in paths.iteritems() %}
        <li class="{% if path == p %} active{% end %}"><a href="/public-{{ p }}{% if search %}/search/{{ search }}{% end %}">{{ l }}</a></li>
    {% end %}
    </ul>
{% end %}

{% block content %}
    <div class="container" style="margin-top:70px;">

        {% block public_content %}
            <img src="{{ app_logo_big }}" alt="logo" style="margin:100px auto 50px auto; display:block; max-height:200px;" />
            {% include 'search.html' %}
        {% end %}

        <!--footer>
            <p style="font-size:11px; color:gray;">Copyright ©2012 - Made by Argo Roots</p>
        </footer-->
    </div>
    <script>
        $(document).ready(function(){

            setFooter();

            $(window).resize(function() {
                setFooter();
            });

            function setFooter() {
                position = $('footer').position();
                if (position.top + $('footer').height() < $(window).height()) {
                    $('footer').css({position: 'absolute', top: $(window).height()-$('footer').height() - 10});
                };
            };

            $('#toolbar-item-help').click(function() {
                $('#modal-box').modal('show');
                $('#modal-box-content').html('Kas abist on abi, kui abistaja on abistamisel abitu?');
            });

        });
    </script>
{% end %}
