beautifulsoup4==4.9.3
boto==2.49.0
mistune==0.8.4
mysql-connector-python==8.0.29
pillow==6.2.2
pymongo[srv]==3.12.3
python-dateutil==2.8.2
pyyaml==5.4.1
simpleaes==1.0
tornado==5.1.1
xmltodict==0.12.0
