beautifulsoup4==4.4.1
boto==2.38.0
chardet==2.3.0
markdown2==2.3.0
mistune==0.7.1
mysql-python==1.2.5
newrelic==2.58.2.45
pillow==3.0.0
pymongo==3.2
python-dateutil==2.4.2
pyyaml==3.11
raven==5.8.1
rethinkdb==2.2.0.post1
simpleaes==1.0
suds==0.4
tornado==4.3
torndb==0.3
xmltodict==0.9.2
