{% extends 'index.html' %}

{% block content %}

{% include 'search.html' %}

<table class="table table-bordered">
    <tbody>
        {% for i in items %}
        <tr>
            <td style="white-space:nowrap;">
                {{ i['number'] }}
            </td>
            <td style="1white-space:nowrap; width:100%;">
                <a href="{{ i['url'] }}">{{ i['name'] }}</a>
            </td>
            <td style="white-space:nowrap; font-size:22px; border-left:none;">
                {% if i['file'] == 1 %}<span data-icon="d"></span>{% end %}
                {% if i['file'] > 1 %}<span data-icon="D"></span>{% end %}
            </td>
            <td style="white-space:nowrap;">
                {{ i['date'] }}
            </td>
        </tr>
        {% end %}
        <tr>
            <td colspan="4" style="text-align:center;">
                {{ itemcount }}
            </td>
        </tr>
    </tbody>
</table>

{% end %}
