{% extends '../index.html' %}

{% block content %}

{% include 'search.html' %}

<table class="table table-bordered">
    <tbody>
        {% for i in items %}
        <tr>
            <td style="white-space:nowrap;">
                {{ i['number'] }}
            </td>
            <td style="1white-space:nowrap; width:100%;">
                <a href="{{ i['url'] }}">{{ i['name'] }}</a>
            </td>
            <td style="white-space:nowrap;">
                {{ i['date'] }}
            </td>
        </tr>
        {% end %}
        <tr>
            <td colspan="3" style="text-align:center;">
                {{ itemcount }}
            </td>
        </tr>
    </tbody>
</table>

{% end %}
