{% extends '../main/index.html' %}

{% block logo_url %}/public{% end %}

{% block style %}
    .brand {padding-left:0px !important;}
{% end %}

{% block right_toolbar %}
    {% for p in paths %}
        <li class="toolbar-item{% if path == p.path %} toolbar-item-active{% end %}"><a href="/public-{{ p.path }}{% if search %}/search/{{ search }}{% end %}">{{ p.label }}</a></li>
    {% end %}
    <li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-help" title="{{ _('menu_help') }}"><i class="icon-question-sign"></i></a></li>
{% end %}

{% block content %}
    <div class="container" style="margin-top:70px;">

        {% block public_content %}
            <img src="{{ app_logo_big }}" alt="logo" style="margin:100px auto 50px auto; display:block;" />
            {% include 'search.html' %}
        {% end %}

        <!--footer>
            <p style="font-size:11px; color:gray;">Copyright ©2012 - Made by Argo Roots</p>
        </footer-->
    </div>
    <script>
        $(document).ready(function(){

            setFooter();

            $(window).resize(function() {
                setFooter();
            });

            function setFooter() {
                position = $('footer').position();
                if (position.top + $('footer').height() < $(window).height()) {
                    $('footer').css({position: 'absolute', top: $(window).height()-$('footer').height() - 10});
                };
            };

            $('#toolbar-item-help').click(function() {
                $('#modal-box').modal('show');
                $('#modal-box-content').html('Kas abist on abi, kui abistaja on abistamisel abitu?');
            });

        });
    </script>
{% end %}
