<h2 style="margin-top:30px;">{{ str.application_stateexams }} <span>{{ str.application_stateexams_desc }}</span></h2>

<div class="table_cell" style="padding:0px;">
    <div class="table">
        {% for exam in stateexams|dictsort:"displayname" %}
        <div class="table_row" alt="{{ q.key }}">
            <div class="table_cell" style="white-space:nowrap;">
                {{ exam.displayname }}
            </div>
            <div class="table_cell" style="white-space:nowrap; width:100%;">
                <select name="stateexam_grade" exam="{{ exam.key }}" class="stateexam_grade">
                    <option value=""></option>
                    {% for grade in exam.rating_scale.gradedefinitions %}
                    <option value="{{ grade.key }}"{% ifequal exam.grade grade.key %} selected{% endifequal %}>{{ grade.displayname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="table_cell" style="padding:5px 10px; text-align:justify; vertical-align:top; ">
    {{ str.application_stateexams_desc_points }}
</div>

<script>
    $(document).ready(function(){
        $('.stateexam_grade').change(function() {
            var input = $(this);
            autoSave(input, '{{ post_url }}/stateexam', {
                exam: input.attr('exam'),
            });
        });
    });
</script>