{% autoescape off %}
<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />

        <title>{{ site_name }}</title>

        <link rel="stylesheet" href="//get.pictos.cc/fonts/261/4" />
        <link rel="stylesheet" href="/assets/screen.css?{{ version }}" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/assets/plugins.min.js?{{ version }}" type="text/javascript"></script>

        {% block head %}
        {% endblock %}

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-260765-18']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>
    <body>
        <div id="dropdown">
            <img src="/images/spinner_gray_small.gif" id="dropdown_spinner" class="spinner" />
            <div id="dropdown_content" style="padding:10px;"></div>
        </div>

        <section id="main_toolbar">
            <a href="/" id="site_logo">{{ system_title }}</a>
            <a href="{{ logouturl|escape }}" id="logout" data-icon="Q"></a>
            <a href="javascript:openDropdown('/preferences');" id="site_user">{{ user.displayname }}<img src="{{ user.GetPhotoUrl }}" /></a>
            <span id="tools"></span>
            {% block toolbar %}
                {% if toolbar %}
                    {% for t in toolbar %}
                        <a href="{{ t.url }}" id="{{ t.id }}" data-icon="{{ t.icon }}" title="{{ t.title }}"></a>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </section>

        <section id="main_nav">
            <img src="/images/spinner_white.gif" class="spinner" />
        </section>

        {% block list %}
        {% endblock %}
        {% block content %}
        {% endblock %}

        <script type="text/javascript">
            $(document).ready(function(){

                if(window.location.pathname == '/') {
                    $.jStorage.flush()
                }

                var menu = $.jStorage.get('main_menu');
                if(menu){
                    $('#main_nav').html(menu);
                } else {
                    $.ajax({
                        url: '/dashboard/menu',
                        cache: true,
                        success: function(html){
                            $.jStorage.set('main_menu', html);
                            $('#main_nav').html(html);
                        }
                    });
                }

            });
        </script>
    </body>
</html>
{% endautoescape %}
