{% autoescape off %}
<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />

        <title>{{ site_name }}</title>

        <link rel="stylesheet" href="/css/screen.css?{{ version }}" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/javascript/plugins.min.js?{{ version }}" type="text/javascript"></script>

        {% block head %}
        {% endblock %}

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-260765-18']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>
    <body>
        <section id="main_toolbar">
            <a href="/" id="site_logo">{{ system_title }}</a>
            <a href="javascript:void(0);" id="site_user">Argo Roots<img src="{{ user.GetPhotoUrl }}" /></a>
            <span id="tools"></span>
            {% block toolbar %}
                {% if toolbar %}
                    {% for t in toolbar %}
                        <a href="{{ t.url }}" id="{{ t.id }}" class="icon {{ t.icon }}" title="{{ t.title }}"></a>
                    {% endfor %}
                {% endif %}
            {% endblock %}
        </section>

        <section id="main_nav">
            <img src="/images/spinner_white.gif" class="spinner" />
        </section>

        {% block list %}
        {% endblock %}
        {% block content %}
        {% endblock %}

        <script type="text/javascript">
            $(document).ready(function(){

                if(window.location.pathname == '/') {
                    $.jStorage.deleteKey('main_menu'); //delete cached menu
                }

                menu = $.jStorage.get('main_menu');
                if(menu){
                    $('#main_nav').html(menu);
                } else {
                    $.ajax({
                        url: '/dashboard/menu',
                        cache: true,
                        success: function(html){
                            $.jStorage.set('main_menu', html);
                            $('#main_nav').html(html);
                        }
                    });
                }

                $("#site_user").tipTip({
                    activation: 'click',
                    edgeOffset: -5,
                    keepAlive: true,
                    content: '<a href="/preferences">{{ str.page_preferences }}</a><br /><a href="{{ logouturl|escape }}">{{ str.logout }}</a>',
                });

            });
        </script>
    </body>
</html>
{% endautoescape %}
