{% extends main_template %}

{% block list %}
<section id="list">
    <div id="list_search">
        <input type="search" id="searchbox" placeholder="{{ str.search }}" />
        <span></span>
    </div>
    <div id="list_items">
    </div>
    <img src="/images/spinner_white.gif" class="spinner" />
</section>
<script type="text/javascript">
    $(document).ready(function(){

        items = [];
        if(window.location.hash) {
            open_item(window.location.hash.substring(1));
        }
        get_list();

        $('#searchbox').keyup(function() {
            delay(function(){
                get_list();
            }, 1000 );
        });

        $('#searchbox').focus(function() {
            $(this).select();
        });

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

        function get_list() {
            items = [];
            $('#list .spinner').show()
            $('#list_items').html('');
            $.post('{{ list_url }}', {type: 'search', value: $('#searchbox').val()}, function(list) {
                items = list.keys;
                for (i in items) {
                    $('#list_items').append('<a id="listitem_'+items[i]+'" class="empty_item" href="" data-key="'+items[i]+'"></a>');
                };
                $('#list_search span').html('{{ str.search_found }} '+items.length);
                $('#list .spinner').hide();
                append_list();

            }, 'json');
        }

        function append_list() {
            $('.empty_item').each(function() {
                var listitem = $(this);
                var key = listitem.data('key');
                if (items.indexOf(key) != -1) {
                    position = listitem.position();
                    if ((position.top - $('#list_items').height()) < 100) {
                        getBubbleInfo('', key, '#listitem_'+key, 'searchlist');
                        var idx = items.indexOf(key);
                        if(idx != -1) items.splice(idx, 1);
                    };
                };
            });
        }

        function open_item(id) {
            $('#list_content .spinner').show();
            $('#list_content div').html('');
            $.get('{{ content_url }}/'+id, function(html) {
                $('#list_content .spinner').hide();
                $('#list_content div').html(html);
            });
        }

        $('#list_items a').live('click', function() {
            var item = $(this);
            open_item(item.attr('href').substring(1));
            $('#list_items a.active').removeClass('active');
            item.addClass('active');
        });

        $('#list_items').scroll(function() {
            append_list();
        });

    });
</script>
{% endblock %}

{% block content %}
<section id="list_content">
    <img src="/images/spinner_white.gif" class="spinner" style="display:none;" />
    <div></div>
</section>
{% endblock %}
