{% extends main_template %}

{% block list %}
<section id="list">
    <div id="list_search">
        <input type="search" id="searchbox" placeholder="{{ str.search }}" />
    </div>
    <div id="list_items">
    </div>
    <img src="/images/spinner_white.gif" class="spinner" />
</section>
<script type="text/javascript">
    $(document).ready(function(){

        items = [];
        get_list();
        
        $('#searchbox').keyup(function() {
            delay(function(){
                get_list();
            }, 1000 );
        });

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

        function get_list() {
            items = [];
            $('#list .spinner').show()
            $('#list_items').html('');
            $.post('{{ list_url }}', {search: $('#searchbox').val()}, function(list) {
                items = list.keys;
                $('#list .spinner').hide();
                append_list();
            }, 'json');
        }
        
        function append_list() {
            max = $('#list_items').height() / 30;
            for (i=0;i<=max;i++) {
                alert(items.length);
                get_item(items[i]);
                items.remove(items[i]);
            }
        }
        
        function get_item(key) {
            $.post('{{ list_url }}', {key: key}, function(item) {
                if(item.image) {
                    image = '<img src="'+item.image+'" />';
                } else {
                    image = '';
                }
                if(item.info) {
                    info = '<span>'+item.info+'</span>';
                } else {
                    info = '';
                }
                $('#list_items').append('<a href="#'+item.id+'">'+image+item.title+info+'</a>');
            }, 'json');
        }

        $('#list_items a').live('click', function() {
            $('#list_items a.active').removeClass('active');
            item = $(this);
            item.addClass('active')
            $.get('{{ content_url }}/'+item.attr('href').substring(1), function(html) {
                $('#list_content').html(html);
            });
            position = $('#list_items a:last').position();
        });
        
        $('#list_items').scroll(function() {
            list = $(this);
            position = $('#list_items a:last').position();
            if ((position.top - $('#list_items').height()) < 0 && items.length > 0) {
                append_list();
            }
        });

    });
</script>
{% endblock %}

{% block content %}
<section id="list_content">
</section>
{% endblock %}