<nav>
    <div class="accordion">
    {% regroup bubbletypes|dictsort:"group" by group as menu %}
    {% for m in menu %}
        <h3><a href="#">{{ m.grouper|safe }}</a></h3>
        <div>
        {% for c in m.list|dictsort:"title" %}
            <a href="{{ c.link }}">{{ c.title|safe }}</a>
        {% endfor %}
        </div>
    {% endfor %}

        <h3></h3>
    </div>
</nav>

<script type="text/javascript">
    $(document).ready(function(){

        $(".accordion").accordion({
            fillSpace: true,
            navigation: true,
        });
        $("#main_nav nav").find("a[href='"+window.location.pathname+"']").each(function(){
            $(this).addClass("active")
        })

    });
</script>
