<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page_title }}</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Argo Roots" />

        <link rel="shortcut icon" href="{{ static_url('favicon/favicon.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url('favicon/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url('favicon/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url('favicon/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ static_url('favicon/apple-touch-icon-57-precomposed.png') }}">

        <link href="{{ static_url('bootstrap/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ static_url('bootstrap/responsive.css') }}" rel="stylesheet" />
        <link href="{{ static_url('css/screen.css') }}" rel="stylesheet" />
        <link href="{{ static_url('css/print.css') }}" rel="stylesheet" media="print" />

        <style type="text/css">
        {% block style %}{% end %}
        </style>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="{{ static_url('bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('javascript/jquery.elastic.source.js') }}"></script>
        <script src="{{ static_url('javascript/date-et-EE.js') }}"></script>
        {% if google_analytics_code %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
                _gaq.push(['_setDomainName', 'entu.ee']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% end %}
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container{% block fluid %}{% end %}">
                    <a class="brand" href="{% block logo_url %}{% end %}
">{{ app_title }}</a>
                    <ul class="nav pull-right">
                        {% block right_toolbar %}{% end %}
                    </ul>
                    <ul class="nav" style="margin:0px;">
                        {% block left_toolbar %}{% end %}
                    </ul>
                </div>
            </div>
        </div>

        {% block content %}
        {% end %}

        <div id="modal-box" class="modal fade" style="display:none;">
        </div>

        <script>
            $(document).ready(function(){

                if (navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) $('.hideonmobile').hide();
            });
        </script>
    </body>
</html>
