<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />
        <title>EKA</title>
        <style type="text/css">
            body {
                margin: 200px;
                background: white;
                color: black;
                font-family: "Lucida Grande", "Sans Serif", Arial;
            }
            a:link, a:visited, a:active {
                color: black;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    <center>
        <img src="{{ app_logo_big }}" /><br /><br /><br />
        <strong>Kõik sisseastumist puudutavad dokumendid palun saata e-posti aadresile <a href="mailto:sisseastumine@artun.ee">sisseastumine@artun.ee</a><br /><br />Muu info on saadaval aadressil <a href="http://www.artun.ee/index.php?lang=est&main_id=934">www.artun.ee/index.php?lang=est&main_id=934</a></strong>
    <center>
    </body>
</html>
