<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />
        <title>EKA</title>
        <style type="text/css">
            body {
                margin: 200px;
                background: white;
                color: black;
                font-family: "Lucida Grande", "Sans Serif", Arial;
            }
            a:link, a:visited, a:active {
                color: black;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
    <center>
        <img src="{{ app_logo_big }}" /><br /><br /><br />
        <strong>SISSEASTUMINE ON HETKEL SULETUD<br /><br />AVAME KELL 12:00</strong><br /><br />
    <center>
    </body>
</html>
