{% extends '../main/index.html' %}
{% autoescape None %}

{% include 'start.html' %}

{% block logo_url %}/application/form{% end %}

{% block sub_content %}

    {% from operator import itemgetter %}

    <div class="row span12">
        <div class="span5">
            {% for submission in sorted(submissions.values(), key=itemgetter('label')) %}
            <h4 style="padding:4px 5px;">{{ escape(submission.get('label', '')) }}</h4>
            <table class="table table-condensed table-bordered" style="background-color:#F5F5F5;">
                <tbody>
                    {% for s in sorted(submission.get('childs', {}), key=itemgetter('label')) %}
                    <tr>
                        <td style="width:100%; vertical-align:middle;">
                            {% if s['url'] %}
                                <a href="{{ s['url'] }}" target="_blank">{{ escape(s['label']) }}</a>
                            {% else %}
                                {{ escape(s['label']) }}
                            {% end %}
                            <span style="color:gray; font-size:10px;"><br />{{ s['info'] }}</span>
                        </td>
                        <td style="border-left:none; vertical-align:middle;">
                            <button class="btn subscribe{% if s['subscribed'] %} subscribed btn-success{% end %}" data-id="{{ s['id'] }}">{{ _('application_subscribe') }}</button>
                        </td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
            {% end %}
        </div>
        <div class="span6">
        {% for fieldset in sorted(properties.values(), key=itemgetter('label')) %}
            <table class="table table-condensed 1table-bordered">
                <thead>
                    <tr>
                        <th colspan="2"><h4>{{ escape(fieldset.get('label', '')[3:]) }}</h4></th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in sorted(fieldset.get('properties', {}).values(), key=itemgetter('ordinal')) %}
                    <tr{% if p['description'] %} title="{{ escape(p['description']) }}"{% end %}>
                        <th class="span2" style="text-align:right; vertical-align:middle;">
                            <h6>{%if p['multiplicity'] == 1 %}{{ p['label'] }}{% else %}{{ p['label_plural'] }}{% end %}</h6>
                        </th>
                        <td style="padding-bottom:0px; vertical-align:middle;">
                            {% if p['datatype'] in ['string', 'datetime', 'date', 'integer', 'decimal'] %}
                                {% if p.get('select', None) %}
                                    {% for v in p['values'] %}
                                        <select class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ escape(v['db_value']) }}" style="width:100%; margin-bottom:4px;">
                                            <option value=""></option>
                                            {% for s in p.get('select','') %}
                                            <option value="{{ s['label'] }}" {% if s['label'] == v['value'] %} selected{% end %}>{{ escape(s['label']) }}</option>
                                            {% end %}
                                        </select>
                                    {% end %}
                                {% else %}
                                    {% for v in p['values'] %}
                                        <input type="text" class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ escape(v['value']) }}" value="{{ escape(v['value']) }}" style="width:98%; margin-bottom:4px;" />
                                    {% end %}
                                {% end %}
                            {% elif p['datatype'] == 'text' %}
                                {% for v in p['values'] %}
                                    <textarea class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ escape(v['value']) }}" style="width:98%; margin-bottom:4px;" rows="1">{{ escape(v['value']) }}</textarea>
                                {% end %}
                            {% elif p['datatype'] == 'boolean' %}
                                {% for v in p['values'] %}
                                    <input type="checkbox" class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" {% if v.get('db_value', 0) == 1 %} checked{% end %} style="margin-bottom:4px;" />
                                {% end %}
                            {% elif p['datatype'] == 'file' %}
                                {% for v in p['values'] %}
                                    {% if not v['id'] %}
                                        <span id="blobstore_upload_{{ p['id'] }}"></span>
                                        <img src="{{ static_url('images/spinner_white.gif') }}" style="display:none;" />
                                        <iframe name="iframe_{{ p['id'] }}" height="0" width="0" frameborder="0" scrolling="no" onLoad="showDocument(this.contentWindow.document.body.innerHTML, '#blobstore_upload_{{ p['id'] }}');" style="display:none;"></iframe>
                                        <form method="post" action="/entity/save" target="iframe_{{ p['id'] }}" enctype="multipart/form-data" style="margin:0px; padding:0px;">
                                            <input type="hidden" name="property_id" value="{{ p['id'] }}" />
                                            <input type="file" name="file" class="dtype-{{ p['datatype'] }}" style="border:none; width:80px; margin-bottom:4px;" />
                                        </form>
                                    {% else %}
                                        <a href="/entity/file-{{ v['db_value'] }}">{{ v['value'] }}</a><br />
                                    {% end %}
                                {% end %}
                            {% end %}
                        </td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
        {% end %}
        </div>
    </div>

    {% for child in sorted(childs, key=itemgetter('ordinal')) %}
    <div class="row span11">
        <h4 class="span11" style="padding:4px 5px;">{{ child['label'] }}{% if child['description'] %} <span style="font-size:11px; color:gray;"><br />{{ child['description'] }}</span>{% end %}</h4>
        <table class="span11 table table-condensed">
            <thead>
                <tr>
                    {% for c in sorted(child['childs'][0].get('properties').values(), key=itemgetter('ordinal')) %}
                    <th style="vertical-align:middle;">
                        <h6>{{ c.get('label', '') }}</h6>
                    </th>
                    {% end %}
                </tr>
            </thead>
            <tbody>
                {% for s in sorted(child['childs'], key=itemgetter('ordinal')) %}
                <tr data-definition="{{ s.get('definition_id', '') }}" data-entity="{{ s.get('id', '') }}">
                    {% for p in sorted(s.get('properties').values(), key=itemgetter('ordinal')) %}
                    <td style="padding-bottom:0px; vertical-align:middle;">
                            {% if p['datatype'] in ['string', 'datetime', 'date', 'integer', 'decimal'] %}
                                {% if p.get('select', None) %}
                                    {% for v in p['values'] %}
                                        <select class="autosave_child {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}"data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ escape(v['db_value']) }}" style="width:100%; margin-bottom:4px;">
                                            <option value=""></option>
                                            {% for s in p.get('select','') %}
                                            <option value="{{ s['label'] }}" {% if s['label'] == v['value'] %} selected{% end %}>{{ escape(s['label']) }}</option>
                                            {% end %}
                                        </select>
                                    {% end %}
                                {% else %}
                                    {% for v in p['values'] %}
                                        <input type="text" class="autosave_child {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}"data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ escape(v['value']) }}" value="{{ escape(v['value']) }}" style="width:98%; margin-bottom:4px;" />
                                    {% end %}
                                {% end %}
                            {% elif p['datatype'] == 'text' %}
                                {% for v in p['values'] %}
                                    {% if s['definition_id'] == 25 %}
                                        {{ escape(v['value']) }}
                                    {% else %}
                                        <textarea class="autosave_child {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}"data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ escape(v['value']) }}" style="width:98%; margin-bottom:4px;">{{ escape(v['value']) }}</textarea>
                                    {% end %}
                                {% end %}
                            {% elif p['datatype'] == 'boolean' %}
                                {% for v in p['values'] %}
                                    <input type="checkbox" class="autosave_child {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}"data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" {% if v.get('db_value', 0) == 1 %} checked{% end %} style="margin-bottom:4px;" />
                                {% end %}
                            {% elif p['datatype'] == 'file' %}
                                {% for v in p['values'] %}
                                    {% if not v['id'] %}
                                        <span id="blobstore_upload_{{ p['id'] }}"></span>
                                        <img src="{{ static_url('images/spinner_white.gif') }}" style="display:none;" />
                                        <iframe name="iframe_{{ p['id'] }}" height="0" width="0" frameborder="0" scrolling="no" onLoad="showDocument(this.contentWindow.document.body.innerHTML, '#blobstore_upload_{{ p['id'] }}');" style="display:none;"></iframe>
                                        <form method="post" action="/application/save_file" target="iframe_{{ p['id'] }}" enctype="multipart/form-data" style="margin:0px; padding:0px;">
                                            <input type="hidden" name="property_id" value="{{ p['id'] }}" />
                                            <input type="file" name="file" class="dtype-{{ p['datatype'] }}" style="border:none; width:80px; margin-bottom:4px;" />
                                        </form>
                                    {% else %}
                                        <a href="/entity/file-{{ v['db_value'] }}">{{ v['value'] }}</a><br />
                                    {% end %}
                                {% end %}
                            {% end %}
                    </td>
                    {% end %}
                </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    {% end %}

    <div class="row">
        <button class="span4 offset4 btn btn-large btn-primary">{{ _('application_submit') }}</button>
    </div>

    <script>


        function showDocument(json_string, div){
            newvalue = jQuery.parseJSON(json_string.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">','').replace('</pre>',''))
            $('#file_entity_id').val(newvalue.entity_id);
            $(div).append(newvalue.value+'<br />');
            $(div).parent().children('img').hide();
            $(div).parent().children('form').children('.dtype-file').val('');
            $(div).parent().children('form').show();
        };

        $(document).ready(function(){

            document.body.style.cursor = 'default';

            $('[title]').tooltip({placement: 'bottom'});
            $('textarea').elastic();

            $('.dtype-datetime').change(function() {
                $(this).val(format_date($(this).val(), 'yyyy-MM-dd HH:mm'));
            });
            $('.dtype-date').change(function() {
                $(this).val(format_date($(this).val(), 'yyyy-MM-dd'));
            });
            function format_date(dinput, format) {
                var result = ''
                dvalue = Date.parse(dinput);
                if(dvalue) {
                    result = dvalue.toString(format);
                }
                return result;
            }

            $('.can_add_new').keypress(function() {
                var inputbox = $(this);
                var newinput = inputbox.clone(true);
                newinput.val('');
                newinput.removeData('id');
                newinput.removeData('value');
                inputbox.after(newinput);
                inputbox.removeClass('can_add_new');
                inputbox.unbind('keypress');
            });

            $('.autosave').change(function() {
                var inputbox = $(this);
                if (inputbox.attr('type') == 'checkbox') {
                    value = inputbox.is(':checked');
                } else {
                    value = inputbox.val();
                }
                if (value != inputbox.data('value')) {
                    $.post('/application/save', {
                        property_id: inputbox.data('property'),
                        value_id: inputbox.data('id'),
                        value: value
                    },
                    function(newvalue) {
                        inputbox.data('id', newvalue.value_id);
                    }, 'json');
                }
            });

            $('.autosave_child').change(function() {
                var inputbox = $(this);
                if (inputbox.attr('type') == 'checkbox') {
                    value = inputbox.is(':checked');
                } else {
                    value = inputbox.val();
                }
                if (value != inputbox.data('value')) {
                    $.post('/application/save/child', {
                        entity_id: inputbox.parent().parent().data('entity'),
                        entity_definition_id: inputbox.parent().parent().data('definition'),
                        property_id: inputbox.data('property'),
                        value_id: inputbox.data('id'),
                        value: value
                    },
                    function(newvalue) {
                        inputbox.parent().parent().data('entity', newvalue.entity_id);
                        inputbox.data('id', newvalue.value_id);
                    }, 'json');
                }
            });

            $('.dtype-file').change(function() {
                $(this).parent().hide();
                $(this).parent().parent().children('img').show()
                $(this).parent().submit();
            });

            $('.subscribe').click(function() {
                button = $(this);
                if(button.hasClass('btn-success') == true) {
                    $.post('/application/subscribe', {
                        entity_id: button.data('id'),
                        action: 'unsubscribe'
                    }, function(newvalue) {
                        button.removeClass('btn-success');
                        button.removeClass('subscribed');
                    });
                } else {
                    if($('button.subscribed').length < 4) {
                        $.post('/application/subscribe', {
                            entity_id: button.data('id'),
                            action: 'subscribe'
                        }, function(newvalue) {
                            button.addClass('btn-success');
                            button.addClass('subscribed');
                        });
                    } else {
                        alert('{{ _('application_subscribe_max_reached') }}');
                    };
                };
            });
        });
    </script>

{% end %}
