{% extends '../main/index.html' %}

{% block logo_url %}/application{% end %}

{% block right_toolbar %}
    <li class="dropdown toolbar-item">
        <a href="#" class="dropdown-toggle header-menu-item" data-toggle="dropdown" data-icon="G"></a>
        <ul class="dropdown-menu toolbar-item-add" style="margin-left: -16px;">
            <li><a href="?language=estonian">Eesti</a></li>
            <li><a href="?language=english">English</a></li>
        </ul>
    </li>
    {% if current_user %}
        <li class="toolbar-item"><a href="/exit" data-icon="Q"></a></li>
    {% end %}
{% end %}

{% block content %}
    <div class="container" style="margin-top:70px;">
        <img src="{{ app_logo_big }}" alt="logo" style="margin:30px auto 0px auto; display:block;" />
        <h1 style="text-align:center; margin-bottom:30px;">{{ _('application') }}</h1>
        {% block sub_content %}
        {% end %}

        <footer>
            <p style="font-size:11px; color:gray;">Copyright ©2012 - Made by Argo Roots</p>
        </footer>
    </div>
    <script>
        $(document).ready(function(){

            setFooter();

            $(window).resize(function() {
                setFooter();
            });

            function setFooter() {
                position = $('footer').position();
                if (position.top + $('footer').height() < $(window).height()) {
                    $('footer').css({position: 'absolute', top: $(window).height()-$('footer').height() - 10});
                };
            };

            $('#toolbar-item-help').click(function() {
                $('#modal-box').modal('show');
                $('#modal-box-content').html('Kas abist on abi, kui abistaja on abistamisel abitu?');
            });

        });
    </script>
{% end %}
