<header class="bar bar-nav">
    <a class="icon icon-bars pull-left" data-transition="slide-out" href="#/"></a>
    <h1 class="title">{{ entities.result[0].definition.label_plural | cut:false:20:' ...' }}</h1>
</header>
<div class="bar bar-standard bar-header-secondary">
    <form ng-submit="searchEntities()">
        <input type="search" placeholder="Search" ng-model="query">
    </form>
</div>
<div class="content">
    <ul class="table-view" style="margin:0px;">
        <li class="table-view-cell media" ng-repeat="entity in entities.result">
            <a class="navigate-right" data-transition="slide-in" href="#/{{ entity.definition.definition }}/{{ entity.id }}">
                <img class="media-object pull-left" style="width:60px; height:60px;" ng-src="/api2/entity-{{ entity.id }}/picture">
                <div class="media-body">
                    {{ entity.name }}
                    <p>{{ entity.info }}</p>
                </div>
            </a>
        </li>
    </ul>
</div>
