<header class="bar bar-nav">
    <!--a class="icon icon-person pull-right" href=""></a-->
    <h1 class="title">Entu</h1>
</header>
<div class="content" ng-controller="menuCtrl">
    <span ng-repeat="(group_key, group) in definitions.result">
        <h5 class="content-padded">{{ group.label }}</h5>
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="(definition_key, definition) in group.definitions">
                <a class="navigate-right" data-transition="slide-in" href="#/{{ definition.keyname }}">{{ definition.label }}</a>
            </li>
        </ul>
    </span>
</div>
