{% if current_user %}
<li><a href="/exit">{{ _('menu_exit') }}</a></li>
{% else %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ _('menu_login') }}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li class="auth_link"><a href="/auth/mobileid" style="background-position: 0 -140px;"></a></li>
        <hr style="margin:5px;" />
        <li class="auth_link hideonmobile"><a href="/auth/idcard" style="background-position: 0 -70px;"></a></li>
        <hr class="hideonmobile" style="margin:5px;" />
        <li class="auth_link"><a href="/auth/twitter" style="background-position: 0 -175px;"></a></li>
        <hr style="margin:5px;" />
        <li class="auth_link"><a href="/auth/facebook" style="background-position: 0 0"></a></li>
        <hr style="margin:5px;" />
        <li class="auth_link"><a href="/auth/google" style="background-position: 0 -35px;"></a></li>
        <hr style="margin:5px;" />
        <li class="auth_link"><a href="/auth/live" style="background-position: 0 -105px;"></a></li>
    </ul>
</li>
{% end %}
