{% extends '../../main/template/index.html' %}

{% block head %}
  {% from random import randint %}
  <style type="text/css">
    body {
       padding-right: 0;
       padding-left: 0;
       font-size: 16px;
       font-family: "museo-sans";
       background: none;
       text-rendering: optimizelegibility;
       -webkit-font-smoothing: antialiased;
    }

    #header {
       padding: 0px 0px 40px 0px !important;
       border-bottom: 1px solid #ededed;
       background: #ffffff url('{{ static_url('images/bg-optimized-%s.png' % randint(1, 11)) }}') no-repeat;
       background-position:  0px -150px;
       background-size: cover;
    }

    #navigation .span12 {
       padding: 20px 5px 10px 0px;
    }

    #navigation .dom-link {
       margin: 0px 0px 0px 20px;
       color: #ffffff;
       text-shadow: 0px 1px 3px #000000;
       font-weight: bold;
       font-size: 14px;
    }

    #header-title {
       margin: 50px 0px 0px 0px;
       color: #ffffff;
       text-shadow: 0px 1px 6px #000000;
       font-size: 64px;
       font-family: "museo-slab";
       line-height: 64px;
    }

    #header p {
       margin: 0px 0px 250px 0px;
       color: #ffffff;
       text-shadow: 0px 1px 3px #000000;
       font-weight: normal;
       font-size: 32px;
    }

    #nav-join {
       border: none;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       text-shadow: none;
       font-weight: bold;
       font-family: "museo-slab";
       -o-box-shadow: none;
    }

    #bullets {
       padding: 20px !important;
    }

    #bullets .bullets-row {
       margin: 20px 0px 20px 0px;
    }

    #bullets .bullets-row .icon {
       width: 50px;
       height: 50px;
       font-size: 50px;
    }

    #bullets .bullets-row .heading {
       margin: 0px 0px 10px 0px;
       color: #454545;
       font-size: 29px;
       font-family: "museo-slab";
       font-weight: bold;
       text-align: center;
    }

    #bullets .bullets-row p {
       text-align: justify;
       line-height: 25px;
    }

    #bullets .bullets-row .icon.icon-credit-card {
       width: 50px;
       height: 50px;
       font-size: 50px;
    }

    #bullets .bullets-row .icon.icon-sitemap {
       width: 50px;
       height: 50px;
       font-size: 50px;
    }

    #bullets .bullets-row .icon.icon-lock {
       width: 50px;
       height: 50px;
       font-size: 50px;
    }

    #bullets .bullets-row .icon.icon-cloud {
       width: 50px;
       height: 50px;
       font-size: 50px;
    }

    #bullets .bullets-row .icon.icon-link {
       width: 50px;
       height: 50px;
       font-size: 50px;
    }

    #about {
       padding: 30px 20px 40px 20px !important;
       border-top: 1px solid #ededed;
       border-right: none;
       border-bottom: 1px solid #ededed;
       border-left: none;
       background: #f8f8f8;
    }

    #about .heading {
       margin: 0px 0px 20px 0px;
       font-family: "museo-slab";
    }

    #about p {
       margin: 0px 0px 10px 0px;
       text-align: justify;
    }

    #about h4 {
       margin: 20px 0px 0px 0px;
    }

    #about pa {
       margin: 0px 0px 0px 0px;
    }

    #team {
       padding: 30px 20px 40px 20px !important;
    }

    #team .team-row {
       margin: 20px 0px 20px 0px;
    }

    #team .heading.heading-2 {
       margin: 0px 0px 20px 0px;
       font-family: "museo-slab";
    }

    #team .heading.heading-1 {
       margin: 0px;
       padding: 0px;
    }

    #team img {
       margin: 7px 10px 0px 0px;
    }


    #prices {
       padding: 30px 20px 30px 20px !important;
       border-top: 1px solid #dddddd;
       border-bottom: 1px solid #dddddd;
       background: #f8f8f8;
    }

    #prices .heading.heading-1 {
       margin: 0px 5px 0px 5px;
       padding: 5px 0px 5px 0px;
       border-bottom: 1px solid #dddddd;
       text-align: center;
    }

    #prices .heading.heading-2 {
       margin: 0px;
       font-family: "museo-slab";
    }

    #prices p.p-1 {
       margin: 0px 5px 0px 5px;
       padding: 10px 0px 10px 0px;
       text-align: center;
    }

    #prices p.p-2 {
       border-bottom: 1px solid #dddddd;
    }

    #prices p.p-3 {
       margin: 0px 0px 20px 0px;
    }

    #prices .thumbnails {
       margin: 0px;
    }

    #prices .thumbnails .thumbnail {
       padding: 0px;
       background: #ffffff;
    }

    #join {
       padding: 30px 20px 40px 20px !important;
    }

    #join .heading {
       font-family: "museo-slab";
       margin: 0px 0px 20px 0px;
    }

    #join-form {
       margin: 0px 0px 10px 0px;
    }

    #join-form input.join-input {
       font-family: "museo-slab";
    }

    #join-form input.join-input-domain {
       font-family: "museo-slab";
       text-align: right;
    }

    #join-submit {
       font-family: "museo-slab";
       font-weight: bold;
    }

    #contact {
       padding: 30px 20px 30px 20px !important;
       background: #333333;
    }

    #contact p {
       margin: 0px;
       color: #ffffff;
       font-weight: 300;
       font-family: "museo-slab";
       line-height: 36px;
    }

    #contact .nav {
       margin: 0px;
    }

    #contact .nav li a {
       margin: 0px 2px 0px 0px;
       color: #cccccc;
       text-align: center;
       font-family: "museo-slab";
    }
  </style>

  <link href="{{ static_url('javascript/fancybox/jquery.fancybox-1.3.4.css') }}" media="screen" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="{{ static_url('javascript/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
  <script type="text/javascript" src="//use.typekit.net/rjh8jde.js"></script>
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}

    $(document).ready(function() {

      $('a[href^="#"]').click(function() {
        $('html,body').animate({ scrollTop: $(this.hash).offset().top}, 400);
        return false;
        e.preventDefault();
      });

      $('.screenshot').fancybox({
        'transitionIn'  : 'elastic',
        'transitionOut' : 'elastic',
        'titlePosition' : 'over',
        'titleFormat'   : function(title, currentArray, currentIndex, currentOpts) {
          return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? '  ' + title : '') + '</span>';
        }
      });

      $(window).scroll(function() {
        $('#header').css('background-position', '0px ' + (($(window).scrollTop() * 0.3) - 150) + 'px');
      });

      $('#join-submit').click(function() {
        $.post('/info/register', {
          company: $('#join-company').val(),
          domain: $('#join-domain').val(),
          name: $('#join-name').val(),
          email: $('#join-email').val(),
        }, function( data ) {
          $('#join-submit').hide();
          $('#join-form').html('<b>Liitumine õnnestus.</b> Teiega võetakse peatselt ühendust.');
        });
      });

    });
  </script>


{% end %}

{% block navbar %}
{% end %}


{% block content %}
    <a href="https://plus.google.com/114659090004040603287" rel="publisher" style="display:none;">Google+</a>

    <div class="container-fluid" id="header">
      <div class="container" id="navigation">
        <div class="row-fluid">
          <span class="span12">
            <a class="dom-link pull-right" href="#contact">Kontakt</a>
            <a class="dom-link pull-right" href="#prices">Hinnad</a>
            <a class="dom-link pull-right" href="#team">Meeskond</a>
            <a class="dom-link pull-right" href="#about">Info</a>
          </span>
        </div>
      </div>
      <div class="container">
        <div class="row-fluid">
          <h1 class="heading" id="header-title">Entu</h1>
          <p>Tuleviku andmehaldus</p>
          <div class="btns">
            <a class="btn btn-success btn-large pull-right" id="nav-join" href="#join">Liitu tasuta!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="bullets">
      <div class="row-fluid bullets-row">
        <span class="span4">
          <h2 class="heading">
            <i class="icon icon-magic pull-center"></i><br />
            Lihtne
          </h2>
          <p>Tänapäeval ei pea infosüsteemi juurutamine ja kasutamine olema keeruline. Oleme Entu funktsionaalse ja visuaalse disaini juures lähtunud põhimõttest, et <b>lihtne on alati parem</b>.</p>
        </span>
        <span class="span4">
          <h2 class="heading">
            <i class="icon icon-credit-card pull-center"></i><br />
            Soodne
          </h2>
          <p>Mitme infosüsteemi haldamine või uue rätsepatööna tellimine on kallis. Entu'ga <b>saate alustada täiesti tasuta</b> ja hiljem, andmemahu kasvades, valida soodsa kuumaksuga paketi.</p>
        </span>
        <span class="span4">
          <h2 class="heading">
            <i class="icon icon-sitemap pull-center"></i><br />
            Paindlik
          </h2>
          <p>Enamus infosüsteeme on mõeldud katma vaid kitsast ärivaldkonda. Nende muutmine on võimatu või kulukas. Entu saate seadistada <b>just Teie vajadustest lähtuvalt</b>.</p>
        </span>
      </div>
      <div class="row-fluid bullets-row">
        <span class="span4">
          <h2 class="heading">
            <i class="icon icon-lock pull-center"></i><br />
            Turvaline
          </h2>
          <p>Kogu andmevahetus Teie arvuti ja Entu serveri vahel on <b>krüpteeritud</b>. Kõikidest andmetest tehakse kord tunnis lokaalne <b>varukoopia</b>. Sellele lisaks iga 24h tagant veel ka <b>Amazoni serveritesse</b>.</p>
        </span>
        <span class="span4">
          <i class="icon icon-cloud pull-center"></i><br />
          <h2 class="heading">
            Pilvel
          </h2>
          <p>Entu on veebipõhine ja kättesaadav igast internetiühendusega arvutist. Te <b>ei pea muretsema tarkvara paigaldamise ega uuendamise pärast</b>. Entu on pidevas arendamises. Kuulame klientide tagasisidet ja lisame uut funktsionaalsust pidevalt.</p>
        </span>
        <span class="span4">
          <h2 class="heading">
            <i class="icon icon-link pull-center"></i><br />
            Liidestatav
          </h2>
          <p>Kui Entu veel ei kata kõiki Teie vajadusi või on Teil mõni <b>spetsiaalrakendus</b>, millest loobuda ei saa, siis saate selle Entuga <b>siduda API kaudu</b>.</p>
        </span>
      </div>
    </div>

    <div class="container-fluid" id="about">
      <div class="container">
        <h1 class="heading">Info</h1>

        <p>Enamus andmehaldus- ja infosüsteeme on mõeldud katma vaid kitsast ärivaldkonda. Nende muutmine on võimatu või kulukas. Katmata vajaduste jaoks luuakse aina uusi, eraldiseisvaid andmebaase. Enamasti on raskendatud või koguni võimatu ka nende omavaheline liidestamine ja andmete liigutamine ühest süsteemist teise käib käsitsi.</p>
        <p>Entu's saate hoida andmeid just nii nagu Teile vajalik. Te saate kirjeldada andmeobjektide tüüpe, nende parameetreid ja omavahelisi seosed. Seda kõike saate hiljem lihtsalt muuta ja täiendada. Tänu Entu paindlikkusele saate kogu oma info siia kokku koondada ja jääb ära eri süsteemide liidestamine või käsitsi infovahetus. Entus olevaid andmed saab omavahel siduda. Näiteks, kui olete inimese lisanud personali moodulisse, siis ei pea Te tegema süsteemi enam eraldi kasutajat, lisama teda raamatukogu lugejaks või ruumide eest vastutavate isikute nimekirja. Samas on kõik isikuga seotud varad, ruumid, laenutused jm info isiku andmetes näha. Osakondade all on näha osakonna töötajad, kontaktid, varad, ruumid, dokumendikaustad jne.</p>

        <h4>Andmeobjektid</h4>
        <p>Entu hoiab andmeid objektides. Objekti tüüpe (näiteks raamat, persoon, artikel, kaust jne) saate ise defineerida ja hiljem alati muuta. Objekti tüüpi defineerides saab anda sellele nime ja kirjelduse; määrata mis moodulis/menüügrupis seda tüüpi objekte kuvatakse; millist teist tüüpi objektidega saab seda siduda jne. Üks objekt saab sisaldada ka teisi objekte (näiteks kaust dokumente, õpik peatükke jne).</p>
        <p>Igal objektil on parameetrid (näiteks raamatul on pealkiri, autor, ilmumisaasta jne). Parameetrid võivad olla teksti, numbri, kuupäeva, viite (teisele objektile) jm tüüpi. Igal parameetril saab seadistada nime ja kirjelduse; kas see on avalikus vaates nähtav; kas selle järgi saab otsida ja/või sorteerida; mis on vaikeväärtus; kas seda parameetrit võib sisestada ühe või mitu (näiteks raamatul on üks pealkiri aga mitu autorit) jm. Lisaks staatilistele andmeväljadele on olemas ka dünaamilised, teiste andmeväljade või teiste objektide väljade järgi arvutatavad väljad.</p>

        <h4>Õigused</h4>
        <p>Kasutajate autentimine käib läbi suuremate identiteedihoidjate (Google, Facebook, Twitter, MS Live, Mobiil ID) ning kasutajaõigused on objektipõhised - rolli mõistet süsteemis pole. Igal objektil on omanik(ud). Omanik saab määrata, kes sellele objektile ligi pääsevad; kes saab seda muuta, kustutada, lisada alamosi. Objekti saab teha ka avalikuks, et anda ligipääs sisselogimata kasutajatele.</p>

        <h4>Turvalisus</h4>
        <p>Kogu liiklus Teie brauseri ja Entu serveri vahel on krüpteeritud. Me ei salvesta enda juures Teie salasõna - see ei käi meie juurest isegi läbi.</p>
        <p>Teie andmebaasist tehakse kord tunnis varukoopia, mida säilitatakse 24 tundi lokaalselt. Sellele lisaks tehakse iga 24h tagant veel ka krüpteeritult koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a> serveritesse. Seal hoitakse seda 30 päeva.</p>

        <h4>Eelseadistatud moodulid</h4>
        <p>Entu kasutuselevõtu hõlbustamiseks oleme eelseadistanud mitmeid mooduleid. Neis moodulites olevad objektid tüübid püüavad katta erinevaid infovajadusi ja näitlikustada Entu võimalusi. Kõiki neid mooduleid ja objekte saate ise muuta ning laiendada. Mõned eelseadistatud moodulid on: personal ja kontaktid; dokumendihaldus; raamatukogu; ruumid ja inventar.</p>

        <h4>Ekraanivaated</h4>
        <div class="row-fluid">
          <span class="span12">
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/ss-1.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/ss-optimized-1.png') }}" class="image">
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/ss-2.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/ss-optimized-2.png') }}" class="image">
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/ss-3.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/ss-optimized-3.png') }}" class="image">
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/ss-4.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/ss-optimized-4.png') }}" class="image">
              </a>
            </li>
          </span>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="team">
      <div class="container">
        <h1 class="heading heading-2">Meeskond</h1>
        <div class="row-fluid team-row">
          <span class="span12">
            <div class="span4">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c39.39.490.490/s320x320/318876_10151770513514897_1766731435_n.jpg" class="img-circle span2">
              <h3 class="heading heading-1">Argo Roots</h3>
              <p>Asutaja, Peaarhitekt</p>
            </div>
            <div class="span4">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c66.66.828.828/s320x320/305915_10151524066419561_1036558367_n.jpg" class="img-circle span2">
              <h3 class="heading heading-1">Mihkel Putrinš</h3>
              <p>Asutaja, Visionäär</p>
            </div>
          </span>
        </div>
        <div class="row-fluid team-row">
          <span class="span12">
            <div class="span4">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/c55.55.686.686/s320x320/13207_553122048042599_1481054879_n.jpg" class="img-circle span2">
              <h3 class="heading heading-1">Ando Roots</h3>
              <p>Nõunik</p>
            </div>
            <div class="span4">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c16.0.414.414/s320x320/72148_1400041572333_7064693_n.jpg" class="img-circle span2">
              <h3 class="heading heading-1">Karl-Oskar Masing</h3>
              <p>Projektijuht, Arendaja</p>
            </div>
            <div class="span4">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/c57.57.712.712/s320x320/63936_472338686166041_1275420337_n.jpg" class="img-circle span2">
              <h3 class="heading heading-1">Julia Gritsuk</h3>
              <p>Arendaja</p>
            </div>
          </span>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="prices">
      <div class="container">
        <h1 class="heading heading-2">Hinnad</h1>
        <p class="p-3">* majutusteenuse ühe kuu (käibemaksuga) hinnad.</p>
        <div class="row-fluid">
          <span class="span12">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <h3 class="heading heading-1">Tasuta</h3>
                  <p class="p-1 p-2">Eelseadistatud moodulid</p>
                  <p class="p-1 p-2">Kuni 2 kasutajat</p>
                  <p class="p-1 p-2">Kuni 100 objekti</p>
                  <p class="p-1 p-2">Kuni 100MB andmeid</p>
                  <p class="p-1">HTTPS</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <h3 class="heading heading-1">9€</h3>
                  <p class="p-1 p-2">Eelseadistatud moodulid</p>
                  <p class="p-1 p-2">Piiramatult kasutajaid</p>
                  <p class="p-1 p-2">Kuni 100 000 objekti</p>
                  <p class="p-1 p-2">Kuni 1GB andmeid</p>
                  <p class="p-1 p-2">HTTPS</p>
                  <p class="p-1">Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <h3 class="heading heading-1">39€</h3>
                  <p class="p-1 p-2">Eelseadistatud moodulid</p>
                  <p class="p-1 p-2">Piiramatult kasutajaid</p>
                  <p class="p-1 p-2">Kuni 500 000 objekti</p>
                  <p class="p-1 p-2">Kuni 5GB andmeid</p>
                  <p class="p-1 p-2">HTTPS</p>
                  <p class="p-1 p-2">Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                  <p class="p-1">Oma aadress</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <h3 class="heading heading-1">99€</h3>
                  <p class="p-1 p-2">Eelseadistatud moodulid</p>
                  <p class="p-1 p-2">Piiramatult kasutajaid</p>
                  <p class="p-1 p-2">Piiramatult objekte</p>
                  <p class="p-1 p-2">Kuni 25GB andmeid</p>
                  <p class="p-1 p-2">HTTPS</p>
                  <p class="p-1 p-2">Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                  <p class="p-1 p-2">Oma aadress</p>
                  <p class="p-1">Personaalteenindus</p>
                </div>
              </li>
            </ul>
          </span>
        </div>
        <p class="p-3"><b>NB!</b> Soovita Entu't sõpradele ja saad iga uue (maksva) kliendi eest 10% objekte ja andmemahtu juurde.</p>
      </div>
    </div>

    <div class="container-fluid" id="join">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <h1 class="heading">Liitumine</h1>
            <div class="row-fluid" id="join-form">
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">Nimi:</label>
                  <div class="controls">
                    <input class="input-big join-input" type="text" id="join-name" name="name" placeholder="Juhan Õunaseeme">
                  </div>
                </div>
              </span>
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">Asutus:</label>
                  <div class="controls">
                    <input class="input-big join-input" type="text" id="join-company" name="company" value="" placeholder="Õunaseemne AS">
                  </div>
                </div>
              </span>
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">E-post:</label>
                  <div class="controls">
                    <input class="input-big join-input" type="text" id="join-email" placeholder="juhan@õunaseeme.ee" name="email">
                  </div>
                </div>
              </span>
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">Domeen:</label>
                  <div class="controls input-append">
                    <input class="input-medium join-input join-input-domain" type="text" id="join-domain" name="domain" value="" placeholder="ounaseeme">
                    <span class="add-on">.entu.ee</span>
                  </div>
                </div>
              </span>
            </div>
            <a class="btn btn-success btn-large span3 offset4" id="join-submit" href="javascript:void(0);">Liitu</a>
          </span>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="contact">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
              <p>
                info@entu.ee<br />
                +372 5663 0526
              </p>
            </div>
            <ul class="nav nav-pills pull-right">
              <li>
                <a href="https://www.facebook.com/entugram">Facebook</a>
              </li>
              <!--li>
                <a href="#">Terms Of Service</a>
              </li-->
            </ul>
          </span>
        </div>
      </div>
    </div>

{% end %}
