{% extends '../../main/template/index.html' %}

{% block head %}
  {% from random import randint %}
  <style type="text/css">
    body {
      padding-right: 0;
      padding-left: 0;
      font-family: "museo-sans";
      text-align: justify;
      font-size: 16px;
      line-height: 20px;
      background: none;
      text-rendering: optimizelegibility;
      -webkit-font-smoothing: antialiased;
    }

    .container-fluid {
      padding: 40px 0px !important;
      background: #ffffff;
    }

    .container-fluid:nth-child(even) {
      border-top: 1px solid #ededed;
      border-bottom: 1px solid #ededed;
      background: #f8f8f8;
    }
    .acontainer {
      width: 1100px;
    }

    h1 {
      font-family: "museo-slab";
      font-size: 64px;
      line-height: 64px;
    }

    h2 {
      margin: 0px;
      padding: 0px 0px 20px 0px;
      font-family: "museo-slab";
      font-size: 29px;
      line-height: 29px;
    }

    h3 {
      margin: 0px;
      padding: 20px 0px 0px 0px;
      font-size: 20px;
      line-height: 20px;
    }

    h4 {
      margin: 0px;
      padding: 10px 0px 0px 0px;
    }

    p {
      margin: 0px;
      padding: 10px 0px 0px 0px;
    }

    p:nth-of-type(1) {
      margin: 0px;
      padding: 0px;
    }

    li {
      margin: 0px;
      padding: 0px;
    }

    #header {
      border-top: none;
      color: #ffffff;
      background: #ffffff url('{{ static_url('images/backgrounds/bg-%s.png' % randint(1, 12)) }}') no-repeat;
      background-position:  0px -150px;
      background-size: cover;
    }

    #header-title {
      margin-top: 50px;
      text-shadow: 0px 1px 6px #000000;
    }

    #header-subtitle {
      text-shadow: 0px 1px 3px #000000;
      font-weight: normal;
      font-size: 32px;
    }

    #navigation .span12 {
       padding: 20px 5px 10px 0px;
    }

    #navigation .nav-link {
       margin: 0px 0px 0px 20px;
       color: #ffffff;
       text-shadow: 0px 1px 3px #000000;
       font-weight: bold;
       font-size: 16px;
    }

    #nav-join {
       margin: 200px 0px 0px 0px;
       border: none;
       font-weight: bold;
       font-family: "museo-slab";
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       text-shadow: none;
       -o-box-shadow: none;
    }

    .bullet h2 {
      margin: 30px 0px 0px 0px;
      text-align: center;
    }

    .bullet i {
      width: 50px;
      height: 50px;
      font-size: 50px;
    }

    .screenshot {
      margin: 10px 0px 0px 0px;
    }

    .team {
      margin: 0px;
      padding: 0px 0px 0px 0px;
      text-align: center;
    }

    .team h3 {
      margin: 0px;
      padding: 0px 0px;
      font-size: 20px;
    }

    .team img {
      width: 70px;
      height: 70px;
      margin: 0px 0px 10px 0px;
    }

    .thanks {
      padding: 40px 0px 0px 0px;
    }

    .price {
      margin: 10px 0px 0px 0px;
      padding: 0px 5px;
      background: #ffffff;
      text-align: center;
    }

    .price h3 {
      padding: 20px 0px 20px 0px;
      background: #ffffff;
      font-size: 24px;
    }

    .price p {
      padding: 10px 0px;
      border-top: 1px solid #dddddd;
    }

    #contact {
      color: #ffffff;
      background: #333333;
    }

    #contact a {
      color: #ffffff;
      background: #333333;
    }

  </style>

  <link  href="{{ static_url('frameworks/bootstrap2/css/bootstrap-responsive.min.css') }}" rel="stylesheet" />
  <link  href="{{ static_url('frameworks/fancybox/jquery.fancybox.css') }}" media="screen" rel="stylesheet" />
  <script src="{{ static_url('frameworks/fancybox/jquery.fancybox.pack.js') }}"></script>
  <script src="https://use.typekit.net/rjh8jde.js"></script>
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}

    $(document).ready(function() {

      $('a[href^="#"]').click(function() {
        $('html,body').animate({ scrollTop: $(this.hash).offset().top}, 400);
        return false;
        e.preventDefault();
      });

      $('.screenshot').fancybox({
        'padding'       : 0,
        'margin'        : 50,
      });

      $(window).scroll(function() {
        $('#header').css('background-position', '0px ' + (($(window).scrollTop() * 0.3) - 150) + 'px');
      });

      $('#join-submit').click(function() {
        $.post('/info/register', {
          company: $('#join-company').val(),
          domain: $('#join-domain').val(),
          name: $('#join-name').val(),
          email: $('#join-email').val(),
        }, function( data ) {
          $('#join-submit').hide();
          $('#join-form').html('<b>Liitumine õnnestus.</b> Teiega võetakse peatselt ühendust.');
        });
      });

    });
  </script>


{% end %}

{% block navbar %}
{% end %}


{% block content %}
    <a href="https://plus.google.com/114659090004040603287" rel="publisher" style="display:none;">Google+</a>

    <div class="container-fluid" id="header">
      <div class="container">
        <div class="row-fluid" id="navigation">
          <a class="nav-link pull-right" href="#contact">Kontakt</a>
          <a class="nav-link pull-right" href="#prices">Hinnad</a>
          <a class="nav-link pull-right" href="#about">Info</a>
        </div>
        <div class="row-fluid">
          <h1 id="header-title">Entu</h1>
          <p id="header-subtitle">Tuleviku andmehaldus</p>
        </div>
        <div class="row-fluid">
          <a class="btn btn-success btn-large pull-right" id="nav-join" href="#join">Liitu tasuta!</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container">
        <div class="row-fluid">
          <div class="span4 bullet">
            <h2>
              <i class="fa fa-magic"></i><br />
              Lihtne
            </h2>
            <p>Tänapäeval ei pea infosüsteemi juurutamine ja kasutamine olema keeruline. Oleme Entu funktsionaalse ja visuaalse disaini juures lähtunud põhimõttest, et <b>lihtne on alati parem</b>.</p>
          </div>
          <div class="span4 bullet">
            <h2>
              <i class="fa fa-credit-card"></i><br />
              Soodne
            </h2>
            <p>Mitme infosüsteemi haldamine või uue rätsepatööna tellimine on kallis. Entu'ga <b>saate alustada täiesti tasuta</b> ja hiljem, andmemahu kasvades, valida soodsa kuumaksuga paketi.</p>
          </div>
          <div class="span4 bullet">
            <h2>
              <i class="fa fa-sitemap"></i><br />
              Paindlik
            </h2>
            <p>Enamus infosüsteeme on mõeldud katma vaid kitsast ärivaldkonda. Nende muutmine on võimatu või kulukas. Entu saate seadistada <b>just Teie vajadustest lähtuvalt</b>.</p>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span4 bullet">
            <h2>
              <i class="fa fa-lock"></i><br />
              Turvaline
            </h2>
            <p>Kogu andmevahetus Teie arvuti ja Entu serveri vahel on <b>krüpteeritud</b>. Kõikidest andmetest tehakse kord tunnis lokaalne <b>varukoopia</b>. Sellele lisaks iga 24h tagant veel ka <b>Amazoni serveritesse</b>.</p>
          </div>
          <div class="span4 bullet">
            <h2>
              <i class="fa fa-cloud"></i><br />
              Pilvel
            </h2>
            <p>Entu on veebipõhine ja kättesaadav igast internetiühendusega arvutist. Te <b>ei pea muretsema tarkvara paigaldamise ega uuendamise pärast</b>. Entu on pidevas arendamises. Kuulame klientide tagasisidet ja lisame uut funktsionaalsust pidevalt.</p>
          </div>
          <div class="span4 bullet">
            <h2>
              <i class="fa fa-link"></i><br />
              Liidestatav
            </h2>
            <p>Kui Entu veel ei kata kõiki Teie vajadusi või on Teil mõni <b>spetsiaalrakendus</b>, millest loobuda ei saa, siis saate selle Entuga <b>siduda API kaudu</b>.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="about">
      <div class="container">
        <h2>Info</h2>

        <p>Enamus andmehaldus- ja infosüsteeme on mõeldud katma vaid kitsast ärivaldkonda. Nende muutmine on võimatu või kulukas. Katmata vajaduste jaoks luuakse aina uusi, eraldiseisvaid andmebaase. Enamasti on raskendatud või koguni võimatu ka nende omavaheline liidestamine ja andmete liigutamine ühest süsteemist teise käib käsitsi.</p>
        <p>Entu's saate hoida andmeid just nii nagu Teile vajalik. Te saate kirjeldada andmeobjektide tüüpe, nende parameetreid ja omavahelisi seosed. Seda kõike saate hiljem lihtsalt muuta ja täiendada. Tänu Entu paindlikkusele saate kogu oma info siia kokku koondada ja jääb ära eri süsteemide liidestamine või käsitsi infovahetus. Entus olevaid andmed saab omavahel siduda. Näiteks, kui olete inimese lisanud personali moodulisse, siis ei pea Te tegema süsteemi enam eraldi kasutajat, lisama teda raamatukogu lugejaks või ruumide eest vastutavate isikute nimekirja. Samas on kõik isikuga seotud varad, ruumid, laenutused jm info isiku andmetes näha. Osakondade all on näha osakonna töötajad, kontaktid, varad, ruumid, dokumendikaustad jne.</p>
        <h3>Andmeobjektid</h3>
        <p>Entu hoiab andmeid objektides. Objekti tüüpe (näiteks raamat, persoon, artikel, kaust jne) saate ise defineerida ja hiljem alati muuta. Objekti tüüpi defineerides saab anda sellele nime ja kirjelduse; määrata mis moodulis/menüügrupis seda tüüpi objekte kuvatakse; millist teist tüüpi objektidega saab seda siduda jne. Üks objekt saab sisaldada ka teisi objekte (näiteks kaust dokumente, õpik peatükke jne).</p>
        <p>Igal objektil on parameetrid (näiteks raamatul on pealkiri, autor, ilmumisaasta jne). Parameetrid võivad olla teksti, numbri, kuupäeva, viite (teisele objektile) jm tüüpi. Igal parameetril saab seadistada nime ja kirjelduse; kas see on avalikus vaates nähtav; kas selle järgi saab otsida ja/või sorteerida; mis on vaikeväärtus; kas seda parameetrit võib sisestada ühe või mitu (näiteks raamatul on üks pealkiri aga mitu autorit) jm. Lisaks staatilistele andmeväljadele on olemas ka dünaamilised, teiste andmeväljade või teiste objektide väljade järgi arvutatavad väljad.</p>
        <h3>Õigused</h3>
        <p>Kasutajate autentimine käib läbi suuremate identiteedihoidjate (Google, Facebook, Twitter, MS Live, Mobiil ID) ning kasutajaõigused on objektipõhised - rolli mõistet süsteemis pole. Igal objektil on omanik(ud). Omanik saab määrata, kes sellele objektile ligi pääsevad; kes saab seda muuta, kustutada, lisada alamosi. Objekti saab teha ka avalikuks, et anda ligipääs sisselogimata kasutajatele.</p>
        <h3>Turvalisus</h3>
        <p>Kogu liiklus Teie brauseri ja Entu serveri vahel on krüpteeritud. Me ei salvesta enda juures Teie salasõna - see ei käi meie juurest isegi läbi.</p>
        <p>Teie andmebaasist tehakse kord tunnis varukoopia, mida säilitatakse 24 tundi lokaalselt. Sellele lisaks tehakse iga 24h tagant veel ka krüpteeritult koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a> serveritesse. Seal hoitakse seda 30 päeva.</p>
        <h3>Eelseadistatud moodulid</h3>
        <p>Entu kasutuselevõtu hõlbustamiseks oleme eelseadistanud mitmeid mooduleid. Neis moodulites olevad objektid tüübid püüavad katta erinevaid infovajadusi ja näitlikustada Entu võimalusi. Kõiki neid mooduleid ja objekte saate ise muuta ning laiendada. Mõned eelseadistatud moodulid on: personal ja kontaktid; dokumendihaldus; raamatukogu; ruumid ja inventar.</p>
        <h3>Ekraanivaated</h3>
        <div class="row-fluid">
          <div class="span12">
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/screenshots/ss-1.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/screenshots/ss-1.png') }}" class="image" />
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/screenshots/ss-2.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/screenshots/ss-2.png') }}" class="image" />
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/screenshots/ss-3.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/screenshots/ss-3.png') }}" class="image" />
              </a>
            </li>
            <li class="span3">
              <a class="thumbnail screenshot" href="{{ static_url('images/screenshots/ss-4.png') }}" rel="thumbnails">
                <img src="{{ static_url('images/screenshots/ss-4.png') }}" class="image" />
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="team">
      <!--div class="container">
        <h2>Meeskond</h2>
        <div class="row-fluid">
          <ul class="media-list">
            <li class="media">
              <img class="media-object pull-left span1 img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c39.39.490.490/s320x320/318876_10151770513514897_1766731435_n.jpg" />
              <div class="media-body">
                <h4 class="media-heading">Argo Roots</h4>
                Asutaja, Peaarhitekt
              </div>
            </li>
            <li class="media">
              <img class="media-object pull-left span1 img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/c66.66.828.828/s320x320/305915_10151524066419561_1036558367_n.jpg" />
              <div class="media-body">
                <h4 class="media-heading">Mihkel Putrinš</h4>
                Asutaja, Visionäär
              </div>
            </li>
          </ul>
        </div>
      </div-->
      <div class="container">
        <h2>Partnerid</h2>
        <div class="row-fluid">
          <div class="span4">
            <img src="{{ static_url('images/sponsors/eka.png') }}" /><br />
          </div>
          <div class="span4">
            <img src="{{ static_url('images/sponsors/eas.jpg') }}" class="span10 offset1" /><br />
            <p style="font-size:10px; line-height:11px; text-align:center;">Perioodil 08.07.2013 kuni 21.10.2013 viidi Euroopa Regionaalarengu Fondi kaasrahastamisel ellu projekt „entu.ee tootearendus”. Projekt sai tuge EAS-i Innovatsiooniosakute toetusmeetmest.</p>
          </div>
          <div class="span4">
            <img src="{{ static_url('images/sponsors/ccfft.png') }}" style="margin-top:30px;" /><br />
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="prices">
      <div class="container">
        <h2>Hinnad</h2>
        <p>* majutusteenuse ühe kuu (käibemaksuga) hinnad.</p>
        <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail price">
                  <h3>Tasuta</h3>
                  <p>Eelseadistatud moodulid</p>
                  <p>Piiramatult kasutajaid</p>
                  <p>Piiramatult objekte</p>
                  <p>Kuni 100MB andmeid</p>
                  <p>HTTPS</p>
                  <p>Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail price">
                  <h3>9€</h3>
                  <p>Eelseadistatud moodulid</p>
                  <p>Piiramatult kasutajaid</p>
                  <p>Piiramatult objekte</p>
                  <p>Kuni 1GB andmeid</p>
                  <p>HTTPS</p>
                  <p>Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail price">
                  <h3>39€</h3>
                  <p>Eelseadistatud moodulid</p>
                  <p>Piiramatult kasutajaid</p>
                  <p>Piiramatult objekte</p>
                  <p>Kuni 5GB andmeid</p>
                  <p>HTTPS</p>
                  <p>Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                  <p>Oma aadress</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail price">
                  <h3>99€</h3>
                  <p>Eelseadistatud moodulid</p>
                  <p>Piiramatult kasutajaid</p>
                  <p>Piiramatult objekte</p>
                  <p>Kuni 25GB andmeid</p>
                  <p>HTTPS</p>
                  <p>Igapäevane koopia <a href="https://aws.amazon.com/glacier/" target="_blank">Amazon WS</a>i</p>
                  <p>Oma aadress</p>
                  <p>Personaalteenindus</p>
                </div>
              </li>
            </ul>
        </div>
        <p class="p-3"><b>NB!</b> Soovita Entu't sõpradele ja saad iga uue (maksva) kliendi eest 10% andmemahtu juurde.</p>
      </div>
    </div>

    <div class="container-fluid" id="join">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <h2>Liitumine</h2>
            <div class="row-fluid" id="join-form">
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">Nimi:</label>
                  <div class="controls">
                    <input class="input-big join-input" type="text" id="join-name" name="name" placeholder="Juhan Õunaseeme">
                  </div>
                </div>
              </span>
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">Asutus:</label>
                  <div class="controls">
                    <input class="input-big join-input" type="text" id="join-company" name="company" value="" placeholder="Õunaseemne AS">
                  </div>
                </div>
              </span>
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">E-post:</label>
                  <div class="controls">
                    <input class="input-big join-input" type="text" id="join-email" placeholder="juhan@õunaseeme.ee" name="email">
                  </div>
                </div>
              </span>
              <span class="span3">
                <div class="control-group">
                  <label class="control-label">Domeen:</label>
                  <div class="controls input-append">
                    <input class="input-medium join-input join-input-domain" type="text" id="join-domain" name="domain" value="" placeholder="ounaseeme">
                    <span class="add-on">.entu.ee</span>
                  </div>
                </div>
              </span>
            </div>
            <a class="btn btn-success btn-large span3 offset4" id="join-submit" href="javascript:void(0);">Liitu</a>
          </span>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="contact">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
              <p>
                <a href="mailto:info@entu.ee">info@entu.ee</a><br />
                +372 5663 0526
              </p>
            </div>
            <ul class="pull-right">
              <a href="https://www.facebook.com/entugram">Facebook</a>
            </ul>
          </span>
        </div>
      </div>
    </div>

{% end %}
