* {
    background-color: #fff !important
}

#content,
.container {
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    max-width: 99% !important;
    overflow: hidden !important;
    padding: 5px !important;
    position: relative;
    right: 0 !important;
    top: 0 !important
}

footer,
#modal-box,
#menu,
#menu_hidden,
#list,
#list_search,
#drift-widget-container,
.no-print,
.navbar {
    display: none !important
}
