@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

* {
	outline-style:none;
	outline-width:0;
}

html, body {
	background: #FFFFFF;
	font-family: 'Lucida Grande', Arial, Verdana, Helvetica, sans-serif;
	1font-family: 'Reenie Beanie', arial, serif;
	font-size: 11px;
	text-align: justify;
}

textarea {
	font-family: 'Lucida Grande', Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	height: auto;
}

hr {
	margin: 10px 0px 10px 0px;
}




#header {
	padding: 0px 0px 0px 0px;
	background-position: 10px bottom;
	background-repeat: no-repeat;
	background-image: url(/images/logo_small.png);
	border-bottom: 1px solid #AACCEE;
}

#menu a{
	text-decoration: none;
}

#footer {
	text-align: center;
	font-size: 10px;
	color: gray;
}

#footer a {
	color: gray;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h1 a, h1 a:hover, h1 a:active, h1 a:visited {
	font-family: 'Reenie Beanie', arial, serif;
    font-size: 25px;
    padding: 15px 0px 5px 100px;
    margin: 0px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

h2, h2 a, h2 a:visited {
	margin: 0px;
	margin-top: -0.3em;
	margin-bottom: 5px;
	padding: 0px;
	color: #1F75CC;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}





a, a:visited {
	color: #1F75CC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}





fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
	text-align: left;
}





.whitebox {
	padding: 10px;
	border: 1px solid #AACCEE;
	background: #FFFFFF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

.bluebox {
	padding: 10px;
	border: 1px solid #AACCEE;
	background: #E9F4FF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	box-shadow: #DFDFDF 1px 2px 3px;
	-moz-box-shadow: #DFDFDF 1px 2px 3px;
	-webkit-box-shadow: #DFDFDF 1px 2px 3px;
}




img.openid , span.openid {
	padding: 5px 9px;
	background: #FFFFFF;
	border: 1px solid #D1D1D1;
	cursor: pointer;
}

img.openid-selected, span.openid-selected  {
	border: 1px solid #2041A2;
}





a.button {
	font-family: 'Lucida Grande', Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	1font-weight: bold;
	cursor: pointer;
	border: 1px solid #AACCEE;
	background-color: #FFFFFF;
	color: #1F75CC;
	padding: 1px 15px;
	text-align: center;
	display: block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

a.button:hover {
	text-decoration: none;
}

a.button:active {
	position: relative;
	top: 1px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}