@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

* {
	outline-style:none;
	outline-width:0;
}

html, body {
	background: #F7F7F7;
    color: #454A4E;
    font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: left;
    -webkit-font-smoothing: antialiased;
}

input {
    padding: 3px;
}

textarea {
    font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: auto;
}

fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
	text-align: left;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

h1, h1 a, h1 a:hover, h1 a:active, h1 a:visited {
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #2041A2;
	text-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
}

h2, h2 a, h2 a:hover, h2 a:active, h2 a:visited {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
}

#header {
	padding: 0px 0px 0px 0px;
	background-position: 10px bottom;
	background-repeat: no-repeat;
	background-image: url(/images/logo_small.png);
}

#header_menu {
    float: right;
    padding-top: 12px;
    text-align: right;
    color: #8A8A86;
}

#header_menu a {
    margin: 0px;
    padding: 0px 10px;
    display: inline;
    border-left: 1px solid #8A8A86;
    color: #8A8A86;
}

#header_title a {
    float: left;
	font-family: 'Reenie Beanie', arial, serif;
    font-size: 28px;
    font-weight: bold;
    color: #0092E6;
}

#header_title a:hover {
    text-decoration: none;
}

#logo {
    text-align: center;
    padding: 0px;
}

#footer {
    text-align: center;
    white-space: nowrap;
    font-size: 10px;
    color: gray;
}

#footer a {
    white-space: nowrap;
    color: gray;
}

#content {
    padding: 10px;
    min-height: 500px;
    background-color: #FFFFFF;
    border: 1px solid #D5D4D1;
    box-shadow: rgba(0,0,0,0.2) 2px 3px 4px;
    -moz-box-shadow: rgba(0,0,0,0.2) 2px 3px 4px;
    -webkit-box-shadow: rgba(0,0,0,0.2) 2px 3px 4px;
}

#page {
    min-height: 500px;
	-webkit-box-shadow: rgba(0,0,0,0.3) -1px 0px 3px;
	-moz-box-shadow: rgba(0,0,0,0.3) -1px 0px 3px; /* FF 3.5+ */
}




.filter label {
	margin: 0px;
	padding: 3px 0px;
	display: block;
	text-align: center;
	border-bottom: 1px solid #D1D1D1;
	color: #5D5D5D;
	background: #D1D1D1 url('/images/slickmap/white-highlight.png') top left repeat-x;
}

.filter select {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-size: 12px;
	border: none;
}

.filter div select option {
	padding: 2px 3px;
}

.filter div {
	border: 1px solid #D1D1D1;
	border-left: none;
}
.filter div:first-child {
	border-left: 1px solid #D1D1D1;
}




/* TABLE */

.table {
    display: table;
    margin: 20px 0px;
    width: 100%;
}

.table_row {
    display: table-row;
}

.table_row:nth-child(even) {
        background: white;
}

.table_row:nth-child(odd) {
        background: #E9F4FA;
}

.table_cell {
    display: table-cell;
    padding: 5px 10px;
}



label.error {
    padding: 10px 2px;
    text-transform: none;
    font-size: 11px;
    color: #CC0000;
    background: none;
    border: none;
}

input.error {
    border: 1px solid #CC0000;
}




.button {
    font-size: 10px;
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
    background-color: #23AA3D;
    color: #FFFFFF;
    padding: 1px 15px 4px 15px;
    text-align: center;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: #CCCCCC 1px 2px 3px;
    -moz-box-shadow: #CCCCCC 1px 2px 3px;
    -webkit-box-shadow: #CCCCCC 1px 2px 3px;
}

.button:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
    color: #FFFFFF;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}