#content {
    bottom: 0;
    left: 502px
}

#content,
#content-wide {
    overflow: auto;
    padding: 15px;
    position: fixed;
    right: 0;
    top: 48px
}

#content-wide {
    bottom: 0;
    left: 201px
}

#list {
    background: #fbfbfb;
    bottom: 0;
    left: 201px;
    margin-top: 52px;
    overflow-y: auto;
    top: 51px;
    width: 300px
}

#list .not-completed {
    border-left: 3px solid red
}

#list a div,
#list a:active div,
#list a:visited div {
    color: #b9b9b9;
    float: right;
    font-size: 16px;
    line-height: 16px;
    padding-left: 10px
}

#list a img,
#list a:active img,
#list a:visited img {
    float: left;
    height: 32px;
    margin: 0 10px 0 0;
    width: 32px
}

#list a span,
#list a:active span,
#list a:visited span {
    color: gray;
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding-top: 3px
}

#list a,
#list a:active,
#list a:visited {
    border-bottom: 1px solid #b9b9b9;
    color: #454a4e;
    display: block;
    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    min-height: 32px;
    outline: 0;
    padding: 10px;
    text-decoration: none
}

#list a.active {
    background: #eee
}

#list img.spinner {
    display: block;
    margin: 100px auto 0
}

#list,
#list_search,
#menu_hidden {
    border-right: 1px solid #b9b9b9;
    position: fixed
}

#list_search {
    background: #fff;
    border-bottom: 1px solid #b9b9b9;
    height: 43px;
    padding: 9px 20px 0;
    top: 50px;
    width: 260px
}

#list_search input,
#list_search input:focus {
    border: 1px solid #b9b9b9 !important;
    box-shadow: none;
    font-size: 12px;
    line-height: 12px;
    margin: 0 auto;
    padding: 0 10px;
    width: 240px
}

#list_search span {
    color: #686868;
    display: block;
    font-size: 10px;
    line-height: 10px;
    padding-top: 3px;
    text-align: center
}

#menu {
    background: #44494d;
    border-right: 1px solid #222;
    bottom: 0;
    position: fixed;
    top: 50px;
    width: 200px
}

#menu .accordion {
    border-bottom: 1px solid #222
}

#menu .accordion div {
    border-top: 1px solid #222;
    display: block;
    font-size: 12px !important
}

#menu .accordion div a,
#menu .accordion div a:active,
#menu .accordion div a:visited {
    border: none;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 2px 10px;
    text-decoration: none
}

#menu .accordion div a.active {
    background: #fff;
    color: #3d4548;
    opacity: .6
}

#menu .accordion h3 {
    border-top: 1px solid #222;
    display: block;
    font-size: 12px;
    line-height: 32px;
    margin: 0;
    outline: 0
}

#menu .accordion h3 a,
#menu .accordion h3 a:focus {
    background: #33393d;
    border-bottom: 1px solid #3d4548;
    border-top: 1px solid #3d4548;
    color: #fff;
    display: block;
    font-weight: 700;
    padding: 0 10px !important;
    text-decoration: none
}

#menu .accordion h3.ui-state-active a {
    outline: 0
}

#menu_hidden {
    background: #44494d;
    bottom: 0;
    color: #fff;
    display: none;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
    top: 50px;
    vertical-align: middle;
    white-space: nowrap;
    width: 35px
}

#menu_hidden .rotate {
    padding-left: 10px
}

.brand {
    display: block;
    float: left;
    font-size: 28px !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    margin: 0 !important;
    padding: 7px 0 2px 10px !important
}

.brand span {
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding-left: 1px
}

.container-fluid {
    padding: 0 !important
}

.dropdown-menu {
    margin-right: 7px;
    margin-top: -5px
}

.dropdown-menu .dropdown-header {
    color: #b9b9b9;
    font-size: 10px;
    font-weight: 700;
    padding: 0 8px;
    text-transform: uppercase;
    white-space: nowrap
}

.entity-list-item {
    display: block;
    margin-left: 21px;
    padding: 0
}

.entity-list-item img {
    float: left;
    height: 20px;
    margin: 0 4px 0 -25px;
    width: 20px
}

.entity-list-item span {
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    margin: -2px 0 0 1px
}

.file-input-name {
    display: none
}

.login-box {
    background: rgba(255, 255, 255, .9);
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    padding-top: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 300px
}

.modal {
    bottom: 0 !important;
    display: flex;
    flex-direction: column;
    margin: -4px 0 -4px -400px !important;
    top: 0 !important;
    width: 800px !important
}

.modal-body {
    max-height: none !important;
    padding: 0 !important
}

.modal-body .nav-tabs {
    margin: 20px 0 -1px !important;
    padding-left: 10px
}

.modal-header {
    background: #f5f5f5 !important;
    padding: 14px 15px 15px;
}

.modal-header h3 {
    overflow: hidden !important;
    white-space: nowrap
}

.navbar-inner {
    box-shadow: none
}

.no-underline:hover {
    text-decoration: none !important
}

.select2-drop {
    border-bottom: 1px solid #b9b9b9 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important
}

.select2-no-results,
.select2-searching,
.select2-selection-limit {
    background: 0 0 !important;
    border: none !important;
    color: #454a4e !important;
    font-size: 12px;
    margin: 0 8px !important
}

.select2-result-item {
    border-top: solid 1px #ececec;
    font-weight: 700;
    min-height: 32px;
    padding: 6px
}

.select2-result-item img {
    float: left;
    height: 32px;
    margin: 0 8px 0 0;
    width: 32px
}

.select2-result-item span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px
}

.select2-result-label,
.select2-results {
    margin: 0 !important;
    padding: 0 !important
}

.toggle-table th {
    background: #f0f0f0;
    cursor: pointer
}

.tooltip-inner {
    max-width: 350px;
    width: 350px
}

a.toolbar-item {
    border-left: 1px solid #d4d4d4;
    padding: 14.5px 16px !important
}

a.toolbar-item i {
    font-size: 20px
}

button,
input,
textarea,
button:focus,
input:focus,
textarea:focus {
    border: none !important;
    box-shadow: none !important;
    outline: 0 !important
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    background: #fafafa
}

table.edit-form td {
    padding: 0;
    vertical-align: middle
}

table.edit-form td .new-input {
    border-bottom: solid 1px #ddd
}

table.edit-form td .select2-choice {
    background: 0 0 !important;
    border: none !important;
    height: 20px;
    line-height: 20px;
    padding: 8px
}

table.edit-form td .select2-choice .select2-arrow,
table.edit-form td .select2-choices,
table.edit-form td .select2-search-choice {
    background: 0 0 !important;
    border: none !important
}

table.edit-form td .select2-input {
    padding: 8px !important
}

table.edit-form td .select2-search-choice {
    border-bottom: 1px solid #ddd !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important
}

table.edit-form td .select2-search-choice .select2-search-choice-close {
    margin: 8px 3px !important
}

table.edit-form td .select2-search-choice div {
    color: #454a4e !important;
    line-height: 20px !important;
    margin-left: 16px !important;
    padding: 8px !important
}

table.edit-form td div.edit,
table.edit-form td input,
table.edit-form td select,
table.edit-form td textarea {
    border: none;
    margin: 0 2px 1px 0;
    padding: 8px
}

table.edit-form td div.edit,
table.edit-form td input[type=text],
table.edit-form td select,
table.edit-form td textarea {
    width: 565px !important
}

table.edit-form th {
    text-align: right;
    vertical-align: middle;
    width: 200px !important
}

td p {
    margin: 0 0 10px
}

td p:last-child {
    margin-bottom: 0
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block
}
