<h2 style="margin-top:30px;">{{ str.application_edu_higher }} <span>{{ str.application_edu_higher_desc }}</span></h2>

<div class="table">
    {% for s in highschools|dictsort:"start" %}
    <div class="table_row" alt="{{ q.key }}">
        <div class="table_cell">
            <input type="text" class="autosave_highschool" name="organisation" value="{{ s.organisation|default:"" }}" alt="{{ s.key }}" placeholder="{{ str.school_name }}" style="width:200px;"{% if application_submitted %} readonly{% endif %}>
        </div>
        <div class="table_cell">
            <input type="text" class="autosave_highschool" name="start" value="{{ s.start|default:"" }}" placeholder="{{ str.start_date }}" style="width:100px;"{% if application_submitted %} readonly{% endif %}> -
            <input type="text" class="autosave_highschool" name="end" value="{{ s.end|default:"" }}" placeholder="{{ str.end_date }}" style="width:100px;"{% if application_submitted %} readonly{% endif %}>
        </div>
        <div class="table_cell" style="">
            <input type="text" class="autosave_highschool" name="description" value="{{ s.description|default:"" }}" placeholder="{{ str.additional_info }}" style="width:410px;"{% if application_submitted %} readonly{% endif %}>
        </div>
    </div>
    {% endfor %}
    {% if application_submitted %}{% else %}
    <div id="new_highschool" class="table_row" alt="{{ q.key }}">
        <div class="table_cell">
            <input type="text" class="autosave_highschool new_highschool" name="organisation" placeholder="{{ str.school_name }}" style="width:200px;">
        </div>
        <div class="table_cell">
            <input type="text" class="autosave_highschool new_highschool" name="start" placeholder="{{ str.start_date }}" style="width:100px;"> -
            <input type="text" class="autosave_highschool new_highschool" name="end" placeholder="{{ str.end_date }}" style="width:100px;">
        </div>
        <div class="table_cell" style="">
            <input type="text" class="autosave_highschool new_highschool" name="description" placeholder="{{ str.additional_info }}" style="width:410px;">
        </div>
    </div>
    {% endif %}
</div>

<div style="margin-top:10px;">
    <input type="checkbox" id="have_been_subsidised" name="have_been_subsidised"{% if person.have_been_subsidised %} checked{% endif %} style="margin:0px padding:0px; border:none;"{% if application_submitted %} disabled{% endif %} /><label for="have_been_subsidised" id="have_been_subsidised_label">{{ str.application_edu_been_subsidised }}</label>
</div>

{% if application_submitted %}{% else %}
<script>
    $(document).ready(function(){
        $('.new_highschool').keypress(function() {
            var newhighschool = $('#new_highschool').clone(true);
            newhighschool.find('input').attr('alt', '');
            newhighschool.find('input').val('');

            $('.new_highschool').unbind('keypress');
            $('.new_highschool').removeClass('new_highschool');

            newhighschool.find('input').addClass('new_highschool');
            $('#new_highschool').after(newhighschool);
            $('#new_highschool').attr('id', '');
        });

        $('.autosave_highschool').change(function() {
            var input = $(this);
            autoSave(input, '/application/cv', {
                type: 'higher_education',
                key: input.parent().parent().find('input[alt!=""]').attr('alt')
            });
        });

        $('#have_been_subsidised').change(function() {
            var checkbox = $(this);
            autoSave(checkbox, '/application/person', {
                value: checkbox.is(':checked'),
            });
        });
    });
</script>
{% endif %}