<h2 style="margin-top:30px;">{{ str.application_edu_secondary }} <span>{{ str.application_edu_secondary_desc }}</span></h2>

<div class="table">
    {% for s in secondaryschools|dictsort:"start" %}
    <div class="table_row" alt="{{ q.key }}">
        <div class="table_cell" style="white-space:nowrap;">
            {% if application_readonly %}
            {{ s.organisation|default:"" }}
            {% else %}
            <input type="text" class="autosave_secondaryschool" name="organisation" value="{{ s.organisation|default:"" }}" alt="{{ s.key }}" placeholder="{{ str.school_name }}" maxlength="500" style="width:200px;" />
            {% endif %}
        </div>
        <div class="table_cell" style="white-space:nowrap;">
            {% if application_readonly %}
            {{ s.start|default:"" }} - {{ s.end|default:"" }}
            {% else %}
            <input type="text" class="autosave_secondaryschool" name="start" value="{{ s.start|default:"" }}" placeholder="{{ str.start_date }}" maxlength="500" style="width:100px;" /> -
            <input type="text" class="autosave_secondaryschool" name="end" value="{{ s.end|default:"" }}" placeholder="{{ str.end_date }}" maxlength="500" style="width:100px;" />
            {% endif %}
        </div>
        <div class="table_cell">
            {% if application_readonly %}
            {{ s.description|default:"" }}
            {% else %}
            <input type="text" class="autosave_secondaryschool" name="description" value="{{ s.description|default:"" }}" placeholder="{{ str.additional_info }}" maxlength="500" style="width:410px;" />
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% if application_readonly %}{% else %}
    <div id="new_secondaryschool" class="table_row" alt="{{ q.key }}">
        <div class="table_cell">
            <input type="text" class="autosave_secondaryschool new_secondaryschool" name="organisation" placeholder="{{ str.school_name }}" maxlength="500" style="width:200px;">
        </div>
        <div class="table_cell">
            <input type="text" class="autosave_secondaryschool new_secondaryschool" name="start" placeholder="{{ str.start_date }}" maxlength="500" style="width:100px;"> -
            <input type="text" class="autosave_secondaryschool new_secondaryschool" name="end" placeholder="{{ str.end_date }}" maxlength="500" style="width:100px;">
        </div>
        <div class="table_cell" style="">
            <input type="text" class="autosave_secondaryschool new_secondaryschool" name="description" placeholder="{{ str.additional_info }}" maxlength="500" style="width:410px;">
        </div>
    </div>
    {% endif %}
</div>

{% if application_readonly %}{% else %}
<script>
    $(document).ready(function(){
        $('.new_secondaryschool').keypress(function() {
            var newsecondaryschool = $('#new_secondaryschool').clone(true);
            newsecondaryschool.find('input').attr('alt', '');
            newsecondaryschool.find('input').val('');

            $('.new_secondaryschool').unbind('keypress');
            $('.new_secondaryschool').removeClass('new_secondaryschool');

            newsecondaryschool.find('input').addClass('new_secondaryschool');
            $('#new_secondaryschool').after(newsecondaryschool);
            $('#new_secondaryschool').attr('id', '');
        });

        $('.autosave_secondaryschool').change(function() {
            var input = $(this);
            autoSave(input, '{{ post_url }}/cv', {
                type: 'secondary_education',
                key: input.parent().parent().find('input[alt!=""]').attr('alt')
            });
        });
    });
</script>
{% endif %}