{% for reception in receptions %}
<h2 style="margin-top:30px;">{{ reception.reception.name.translate }}</h2>
<p class="field switch" style="vertical-align:top; padding:10px 5px 5px 10px; float:right;">
    <input type="radio" id="radio1" class="autosave_reception" name="field" checked />
    <input type="radio" id="radio2" class="autosave_reception" name="field" />
    <label for="radio1" class="cb-enable{% if reception.application.status %}{% ifequal reception.application.status "unselected" %}{% else %} selected{% endifequal %}{% endif %}" alt="{{ reception.reception.key }}"><span>{{ str.application_apply }}</span></label>
    <label for="radio2" class="cb-disable{% if reception.application.status %}{% ifequal reception.application.status "unselected" %} selected{% endifequal %}{% endif %}" alt="{{ reception.reception.key }}"><span>{{ str.application_dont_apply }}</span></label>
</p>
<span style="color:gray; font-size:12px;">{{ reception.reception.description.translate|urlize|linebreaks }}</span>
<div id="comment_{{ reception.reception.key }}"{% ifequal reception.application.status "unselected" %} style="display:none;"{% endifequal%}>
    <textarea class="autosave_application_comment" name="comment" alt="{{ reception.reception.key }}" style="width:99%; margin-top:10px;" rows="3"{% if application_readonly %} disabled{% endif %}>{{ reception.application.comment|default:"" }}</textarea>
</div>
{% endfor %}

{% if application_readonly %}{% else %}
<script>
    $(document).ready( function(){
        $(".cb-enable").click(function(){
            var select = $(this);
            var parent = select.parents('.switch');
            $('.cb-disable',parent).removeClass('selected');
            select.addClass('selected');
            $('.checkbox',parent).attr('checked', true);

            $('#comment_' + select.attr('alt')).slideDown();

            autoSave(null, '{{ post_url }}', {
                key: select.attr('alt'),
                field: 'selected',
                value: 'true',
            });
        });

        $(".cb-disable").click(function(){
            var select = $(this);
            var parent = select.parents('.switch');
            $('.cb-enable',parent).removeClass('selected');
            select.addClass('selected');
            $('.checkbox',parent).attr('checked', false);

            $('#comment_' + select.attr('alt')).slideUp();

            autoSave(null, '{{ post_url }}', {
                key: select.attr('alt'),
                field: 'selected',
                value: 'false',
            });
        });

        $('.autosave_application_comment').change(function() {
            autoSave($(this), '{{ post_url }}', {});
        });
    });
</script>
{% endif %}