<div class="row" style="text-align:center; margin-bottom:10px;">
    <div class="input-append">
        <input type="text" id="search-text" name="search" class="span4" placeholder="{{ _('action_add_ester_search_placeholder') }}" value="" /><button id="search-button" class="btn">{{ _('search_button') }}</button>
    </div>
    <img src="{{ static_url('images/spinner_white.gif') }}" id="search-spinner" style="padding:40px; display:none;" />
</div>
<table id="search-results" class="table" style="margin:0px;">
</table>

<script>

    function importItem(ester_id, parent_entity_id, entity_definition_keyname) {
        $('#modal-box').modal('hide');
        $('#modal-box').html('');
        $.post('/action/ester/import', {
            ester_id: ester_id,
            parent_entity_id: parent_entity_id,
            entity_definition_keyname: entity_definition_keyname,
        },
        function(new_id) {
            window.location = '/entity/{{ entity_definition_keyname }}/'+new_id;
        });
    };

    function openItem(entity_definition_keyname, entity_id) {
        $('#modal-box').modal('hide');
        $('#modal-box').html('');
        window.location = '/entity/'+entity_definition_keyname+'/'+entity_id;
    };

    $(document).ready(function(){

        $('#search-text').focus();

        $("#search-text").keyup(function(event) {
            if(event.keyCode == 13){
                $("#search-button").click();
            }
        });

        $('#search-button').click(function() {
            $('#search-spinner').show();
            $('#search-results').hide();
            $('#search-results').html('');
            $.post('/action/ester/search', {
                query: $('#search-text').val()
            },
            function(list) {
        		for (i in list.items) {
                    var item = list.items[i];
                    var tr = '<tr>';
                    tr += '<td style="width:100%;"><b>'+item.title[0]+'</b><br />'+item.publishing_date[0]+'<br /><i>'+item.isbn[0]+'</i></td>';
                    if(item.entity_id) {
                        tr += '<td><a href="javascript:openItem(\''+item.entity_definition_keyname+'\','+item.entity_id+');" class="btn btn-info">{{ _('action_add_ester_open') }}</a></td>';
                    } else {
                        tr += '<td><a href="javascript:importItem(\''+item.id+'\',{{ parent_entity_id }},\'{{ entity_definition_keyname }}\');" class="btn btn-success">{{ _('action_add_ester_add') }}</a></td>';
                    }
                    tr += '</tr>';
                    $('#search-results').append(tr);
                };
                $('#search-results').show();
                $('#search-spinner').hide();
            }, 'json');
        });

    });
</script>
