<ion-view title="{{ entity.result.displayname }}">
    <ion-nav-page>
        <ion-content has-header="true">
            <ion-refresher on-refresh="loadEntity()" refreshing-icon="ion-refreshing"></ion-refresher>
            <div class="list card">
                <div class="item item-avatar">
                    <img ng-if="entity.result.id" ng-src="{{ entu_url }}entity-{{ entity.result.id }}/picture">
                    <h2>{{ entity.result.displayname }}</h2>
                    <p>{{ entity.result.displayinfo }}</p>
                </div>
                <div class="item item-text-wrap">
                    <dl ng-show="property.values" ng-repeat="property in entity.result.properties">
                        <dt>{{ property.label }}:</dt>
                        <dd ng-repeat="value in property.values">{{ value.value }}</dd>
                    </dl>
                </div>
            </div>
            <div class="card list" ng-repeat="child in childs.result">
                <div class="item item-divider">
                    {{ child.label_plural }}
                    <p style="float:right; color:gray;">{{ child.entities.length }}</p>
                </div>
                <a class="item item-icon-right" ng-repeat="entity in child.entities" href="#/{{ child.definition }}/{{ entity.id }}" >
                    {{ entity.name }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </div>
            <div class="card list" ng-repeat="referrer in referrers.result">
                <div class="item item-divider">
                    {{ referrer.label_plural }}
                    <p style="float:right; color:gray;">{{ referrer.entities.length }}</p>
                </div>
                <a class="item item-icon-right" ng-repeat="entity in referrer.entities" href="#/{{ referrer.definition }}/{{ entity.id }}" >
                    {{ entity.name }}
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </div>
        </ion-content>
    </ion-nav-page>
</ion-view>
