<ion-view title="{{ entities.result[0].definition.label_plural }}">
    <ion-nav-page>
        <ion-content has-header="true">
            <ion-refresher on-refresh="loadEntities(true)" refreshing-icon="ion-refreshing"></ion-refresher>
            <ion-list>
                <ion-item class="item-avatar item-icon-right" ng-repeat="entity in entities.result" href="#/{{ entity.definition.keyname }}/{{ entity.id }}">
                    <img ng-src="{{ entu_url }}entity-{{ entity.id }}/picture">
                    <h2>{{ entity.name }}</h2>
                    <p>{{ entity.info }}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="!noMoreItems" on-infinite="loadEntities(false)" distance="10%"></ion-infinite-scroll>
        </ion-content>
    </ion-nav-page>
</ion-view>
