{% extends main_template %}

{% block head %}
<script src="/javascript/jquery.elastic.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        <li><a href="/reception">{{ str.reception }}</a></li>
        <li>{{ bubble.displayname }} ({{ bubble.displaydate }})</li>
    </ul>
</nav>
{% endblock %}

{% block content %}

<section id="wide_content">

    <div class="vertical_table">
        <div class="table_row">
            <div class="header_cell">
                {{ str.send_from }}:
            </div>
            <div class="table_cell">
                {{ user.displayname }}
            </div>
        </div>
        <div class="table_row">
            <div class="header_cell">
                {{ str.send_to }} ({{ persons|length }}):
            </div>
            <div class="table_cell">
                {% for p in persons|dictsort:"displayname" %}{{ p.displayname }}, {% endfor %}
            </div>
        </div>
        <div class="table_row">
            <div class="header_cell">
                {{ str.send_subject }}:
            </div>
            <div class="table_cell">
                <input type="text" id="subject" style="width:99%;" />
            </div>
        </div>
        <div class="table_row">
            <div class="header_cell">
                {{ str.send_message }}:
            </div>
            <div class="table_cell">
                <textarea id="message" style="width:99%; margin-top:10px;" rows="3"></textarea>
            </div>
        </div>
        <div class="table_row">
            <div class="header_cell">
            </div>
            <div class="table_cell">
                <a href="javascript:void(0);" class="tag" data-tag="{bubble_name}" title="{{ bubble.displayname }}">{bubble_name}</a>
                <a href="javascript:void(0);" class="tag" data-tag="{bubble_url}" title="{{ bubble.url }}">{bubble_url}</a>
                <a href="javascript:void(0);" class="tag" data-tag="{bubble_date}" title="{{ bubble.displaydate }}">{bubble_date}</a>
                <a href="javascript:void(0);" class="tag" data-tag="{person_name}" title="{{ str.person_name }}">{person_name}</a>
                <br />
                <span style="font-size:11px;">{{ str.send_tags_info }}</span>
            </div>
        </div>
    </div>
    <a id="send_message" href="javascript:void(0);" class="button" style="float:right; margin:5px;">{{ str.send_submit }}</a>

</section>

<script>
    jQuery.fn.extend({
        insertAtCaret: function(myValue){
          return this.each(function(i) {
            if (document.selection) {
              this.focus();
              sel = document.selection.createRange();
              sel.text = myValue;
              this.focus();
            }
            else if (this.selectionStart || this.selectionStart == '0') {
              var startPos = this.selectionStart;
              var endPos = this.selectionEnd;
              var scrollTop = this.scrollTop;
              this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
              this.focus();
              this.selectionStart = startPos + myValue.length;
              this.selectionEnd = startPos + myValue.length;
              this.scrollTop = scrollTop;
            } else {
              this.value += myValue;
              this.focus();
            }
          })
        }
    });

    $(document).ready(function(){

        var selectedInput = null;

        $('textarea').elastic();

        $('#subject, #message').focus(function() {
            selectedInput = $(this);
        });

        $('a.tag').click(function() {
            selectedInput.insertAtCaret($(this).data('tag'));
        });

        $('#send_message').click(function() {
            if( $('#message').val()) {
                $.post('/spam', { bubble: '{{ bubble.key.id }}', persons: '{% for p in persons %}{{ p.key.id }}.{% endfor %}', subject: $('#subject').val(), message: $('#message').val() }, function(data) {
                    $('#subject').val('');
                    $('#message').val('');
                    alert(data);
                });
            }
        });
    });
</script>

{% endblock %}