{% extends main_template %}

{% block head %}
<script src="/javascript/jquery.elastic.js" type="text/javascript"></script>
<script src="http://cdn.jquerytools.org/1.2.5/form/jquery.tools.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/dateinput.css"/>
{% endblock %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        <li><a href="/reception">{{ str.reception }}</a></li>
        <li id="crumb_title">{{ reception.name.value }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div style="display:table-row;">
    <div id="content">
    </div>


    <form id="rightbox" method="post" action="" >
        <label for="name">{{ str.curriculum }}</label>
        <select name="curriculum" id="question_type">
        {% regroup curriculums|dictsort:"group" by group as grouped %}
        {% for group in grouped %}
            <optgroup label="{{ group.grouper }}">
            {% for item in group.list|dictsort:"name" %}
                <option value="{{ item.key }}">{{ item.name }}</option>
            {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
    </form>
</div>

{% endblock %}