{% autoescape None %}

<img src="{{ entity['displaypicture'] }}" id="entity_picture" class="" width="120" style="float:right; margin-bottom:20px;" />
<h3 style="margin-right:140px;">{{ entity['displayname'] }}</h3>
<div style="margin-right:140px;">
    <table class="table table-condensed">
        <tbody>
            {% for p in entity['properties'] %}
            <tr>
                <th style="text-align:right; white-space:nowrap;">
                    <h6>{{ p['label'] }}</h6>
                </th>
                <td style="width:100%;">
                    {% if p['datatype'] == 'file' %}
                        {{ '<br />'.join(['<a href="/entity/file-%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                    {% else %}
                        {{ '<br />'.join(['%s' % v['value'] for v in p['values']]) }}
                    {% end %}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

<ul id="toolbar_template" style="display:none;">
    {% if allowed_childs %}
    <li class="dropdown toolbar-item">
        <a href="#" class="dropdown-toggle header-menu-item" data-toggle="dropdown" data-icon="+"></a>
        <ul class="dropdown-menu toolbar-item-add">
            {% for c in allowed_childs %}
            <li><a href="javascript:void(0);" data-id="{{ c.id }}">{{ c.label }}</a></li>
            {% end %}
        </ul>
    </li>
    {% end %}
    <li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-edit" data-icon="E"></a></li>
    <!--li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-rights" data-icon="L"></a></li-->
</ul>


<!--ul class="nav nav-tabs" id="myTab" style="clear:both;">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#profile">Alamullid</a></li>
    <li><a href="#messages">Messages</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">...</div>
    <div class="tab-pane" id="profile">...</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div-->

{% for t, d in relatives.iteritems() %}
{% for k, v in d.iteritems() %}
    <table class="table table-condensed table-bordered" style="clear:both; margin-top:20px;">
        <thead class="toggle-table">
            <tr>
                <th {% if v[0].get('displaytable', None) %}colspan="{{ len(v[0].get('displaytable', '')) }}"{% end %}>
                    <h6>{{ k }}<span style="float:right; font-weight:normal;">{{ len(v) }}</span></h6>
                </th>
            </tr>
        </thead>
        <tbody style="1display:none;">
            {% if v[0].get('displaytable', None) %}
            <tr>
                {% for l in v[0].get('displaytable_labels', '') %}
                <td style="min-width:100px;">
                    <h6>{{ l }}</h6>
                </td>
                {% end %}
            </tr>
            {% end %}
            {% for i in v %}
            <tr>
                {% if i.get('displaytable', None) %}
                    {% for x in i.get('displaytable', '') %}
                    <td style="min-width:100px;">
                        <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{{ x }}</a>
                    </td>
                    {% end %}
                {% else %}
                <td style="">
                    <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{{ i.get('displayname', '') }}</a>
                </td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
{% end%}
{% end%}

<script>
    $(document).ready(function(){

        document.title = '{{ page_title }}';

        $('.toggle-table').click(function() {
            $(this).parent().children('tbody').toggle();
        });

        $('#entity_picture').dblclick(function() {
            window.open('https://appengine.google.com/datastore/edit?app_id=s~bubbledu&key={{ entity['gae_key'] }}');
        });

        $('#toolbar').html($('#toolbar_template').html());
        $('#toolbar_template').html('')

        $('.toolbar-item-add a').click(function() {
            $.get('/entity-{{ entity['id'] }}/add/'+$(this).data('id'), function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box-content').html(html);
            });
        });

        $('#toolbar-item-edit').click(function() {
            $.get('/entity-{{ entity['id'] }}/edit', function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box-content').html(html);
            });
        });

    });
</script>
