{% autoescape None %}

<img src="{{ item_picture }}" class="1thumbnail" style="float:right; height:120px; width:120px; margin-bottom:20px;" />
<h3 style="margin-right:140px;">{{ item_name }}</h3>
<div style="margin-right:140px;">
    <table class="table table-condensed">
        <tbody>
            {% for i in properties %}
            <tr>
                <th style="text-align:right; white-space:nowrap;">
                    <h6>{{ i['label'] }}</h6>
                </th>
                <td style="width:100%;">
                    {% if 'url' in i %}
                    <a hrfef="{{ i['value'] }}">{{ i['value'] }}</a>
                    {% else %}
                    {{ i['value'] }}
                    {% end %}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

<!--ul class="nav nav-tabs" id="myTab" style="clear:both;">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#profile">Alamullid</a></li>
    <li><a href="#messages">Messages</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">...</div>
    <div class="tab-pane" id="profile">...</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div-->

{% for t, d in relatives.iteritems() %}
{% for k, v in d.iteritems() %}
    <table class="table table-condensed table-bordered" style="clear:both; margin-top:20px;">
        <thead class="toggle-table">
            <tr>
                <th {% if v[0].get('displaytable', None) %}colspan="{{ len(v[0].get('displaytable', '')) }}"{% end %}>
                    <h6>{{ k }}<span style="float:right; font-weight:normal;">{{ len(v) }}</span></h6>
                </th>
            </tr>
        </thead>
        <tbody style="1display:none;">
            {% if v[0].get('displaytable', None) %}
            <tr>
                {% for l in v[0].get('displaytable_labels', '') %}
                <td style="min-width:100px;">
                    <h6>{{ l }}</h6>
                </td>
                {% end %}
            </tr>
            {% end %}
            {% for i in v %}
            <tr>
                {% if i.get('displaytable', None) %}
                    {% for x in i.get('displaytable', '') %}
                    <td style="min-width:100px;">
                        <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{{ x }}</a>
                    </td>
                    {% end %}
                {% else %}
                <td style="">
                    <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{{ i.get('displayname', '') }}</a>
                </td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
{% end%}
{% end%}

<script>
    $(document).ready(function(){

        entity_id = window.location.hash.substring(1);

        document.title = '{{ page_title }}';

        $('.toggle-table').click(function() {
            $(this).parent().children('tbody').toggle();
        });

    });
</script>
