{% if show_list %}
<div id="list">
    <div id="list_items"></div>
    <img src="{{ static_url('images/spinner_white.gif') }}" class="spinner" />
</div>
<script>
    $(document).ready(function(){
        old_search = $('#searchbox').val();

        if(window.location.hash) {
            open_item(window.location.hash.substring(1));
        };

        items = [];
        get_list();

        $('#searchbox').keyup(function(e) {
            if(old_search != $('#searchbox').val()) {
                old_search = $('#searchbox').val();
                get_list();
            };
        });

        $('#list').scroll(function() {
            append_list();
        });

        function get_list() {
            items = [];
            $('#list .spinner').show();
            $('#list_items').html('');
            $.post(window.location.pathname, {'search': $('#searchbox').val()}, function(list) {
                items = list.items;
                for (i in list.items) {
                    var id = list.items[i];
                    $('#list_items').append('<a id="listitem_'+id+'" class="empty_item" href="#'+id+'" data-item="'+id+'"></a>');
                };
                $('#list_search span').html('{{ _('search_result') }} '+list.items.length);
                $('#list .spinner').hide();

                append_list();
            }, 'json');
        }

        function append_list() {
            $('.empty_item').each(function() {
                var listitem = $(this);
                var id = listitem.data('item');
                if (items.indexOf(id) != -1) {
                    position = listitem.position();
                    if ((position.top - $(document).height()) < 100) {
                        getEntityInfo('', id, '#listitem_'+id, 'searchlist');
                        var idx = items.indexOf(id);
                        if(idx != -1) items.splice(idx, 1);
                    };
                };
            });
        };

        function open_item(id) {
            $('#content').html('');
            $.get('/entity-'+id, function(html) {
                $('#content').html(html);
            });
        };

        $('#list_items a').live('click', function() {
            var item = $(this);
            open_item(item.attr('href').substring(1));
            $('#list_items a.active').removeClass('active');
            item.addClass('active');
        });

    });
</script>
{% end %}
