{% extends main_template %}

{% block content %}

<img src="{{ system_logo }}" alt="logo" style="margin:50px auto; display:block;" />
<h1>{{ bubble.displayname }}<br /><br />Arvestusleht nr ……………</h2>

<div class="table" style="margin: 50px 0px;">
    <div class="row">
        <div class="cell">Kuupäev</div>
        <div class="cell">{{ date|date:"d.m.Y" }}</div>
    </div>
    <div class="row">
        <div class="cell">Ainekood</div>
        <div class="cell">{{ bubble.GetTypedTags.code }}</div>
    </div>
    <div class="row">
        <div class="cell">Ainepunkte</div>
        <div class="cell">{{ bubble.points|default:"" }}</div>
    </div>
    <div class="row">
        <div class="cell">Semester</div>
        <div class="cell">{{ bubble.GetTypedTags.semester }}</div>
    </div>
    <div class="row">
        <div class="cell">Õppejõud</div>
        <div class="cell">{% if bubble.GetSeeders %}{% for p in bubble.GetSeeders|dictsort:"displayname" %}{{ p.displayname }}{% if not forloop.last %}, {% endif %} {% endfor %}{% endif %}</div>
    </div>
</div>

<div class="table" style="margin: 50px 0px; width:100%">
    <div class="row">
        <div class="h_header">#</div>
        <div class="h_header">Nimi</div>
        <div class="h_header">ID</div>
        <div class="h_header">Rühm</div>
        <div class="h_header">Tulemus</div>
        <div class="h_header">Kuupäev</div>
    </div>
    {% if leechers %}
    {% for p in leechers|dictsort:"displayname" %}
    <div class="row">
        <div class="cell" style="text-align:right;">{{ forloop.counter }}</div>
        <div class="cell">{{ p.displayname }}</div>
        <div class="cell">{{ p.key.id }}</div>
        <div class="cell">{{ p.group|join:", " }}</div>
        <div class="cell"></div>
        <div class="cell"></div>
    </div>
    {% endfor %}
    {% endif %}
</div>

Õppejõu allkiri:   ........................

{% endblock %}