<h2>{{ str.bubble_edit }}</h2>
<section class="table" style="width:100%;">
    {% for t in bubble.GetProperties %}
        <div class="row">
            <div class="v_header" {% if t.is_public %}style="color:red;"{% endif %}>
                {{ t.name }}
            </div>
            <div class="cell" style="width:100%">
                {% if t.is_read_only %}
                    {% for v in t.values %}
                        {{ v.value|default:"" }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                {% else %}
                    {% if t.data_type == "string" or t.data_type == "integer" or t.data_type == "float" or t.data_type == "date" or t.data_type == "datetime" %}
                        {% for v in t.values %}
                            <input type="text" name="{{ t.key }}" data-oldvalue="{{ v.value|default:"" }}" class="autosave dtype_{{ t.data_type }}{% if t.can_add_new and forloop.last %} can_add_new{% endif %}" value="{{ v.value|default:"" }}" />
                        {% endfor %}
                    {% endif %}

                    {% if t.data_type == "dictionary_string" %}
                        {% for v in t.values %}
                            <input type="text" name="{{ t.key }}" data-oldvalue="{{ v.key }}" class="autosave dtype_{{ t.data_type }}{% if t.can_add_new and forloop.last %} can_add_new{% endif %}" value="{{ v.value|default:"" }}" />
                        {% endfor %}
                    {% endif %}

                    {% if t.data_type == "password"  %}
                        {% for v in t.values %}
                            <input type="password" name="{{ t.key }}" data-oldvalue="{{ v.value|default:"" }}" class="autosave dtype_{{ t.data_type }}{% if t.can_add_new and forloop.last %} can_add_new{% endif %}" value="{{ v.value|default:"" }}" />
                        {% endfor %}
                    {% endif %}

                    {% if t.data_type == "dictionary_text" %}
                        {% for v in t.values %}
                            <textarea name="{{ t.key }}" data-oldvalue="{{ v.key }}" class="autosave dtype_{{ t.data_type }}{% if t.can_add_new and forloop.last %} can_add_new{% endif %}">{{ v.value|default:"" }}</textarea>
                        {% endfor %}
                    {% endif %}

                    {% if t.data_type == "text" %}
                        {% for v in t.values %}
                            <textarea name="{{ t.key }}" data-oldvalue="{{ v.value|default:"" }}" class="autosave dtype_{{ t.data_type }}{% if t.can_add_new and forloop.last %} can_add_new{% endif %}">{{ v.value|default:"" }}</textarea>
                        {% endfor %}
                    {% endif %}

                    {% ifequal t.data_type "boolean" %}
                        {% for v in t.values %}
                            <input type="checkbox" name="{{ t.key }}" data-oldvalue="{{ v.value|default:"" }}" class="autosave dtype_{{ t.data_type }}"{% if v.value|default:"" %} checked{% endif %} />
                        {% endfor %}
                    {% endifequal %}

                    {% if t.data_type == "blobstore" %}
                        {% for v in t.values %}
                            {{ v.value|default:"" }}{% if not forloop.last %}<br />{% endif %}
                            {% if forloop.last %}
                                <span id="blobstore_upload_{{ t.key }}"></span>
                                <img src="/images/spinner_gray_small.gif" style="display:none;" />
                                <iframe name="iframe_{{ t.key }}" height="0" width="0" frameborder="0" scrolling="no" onLoad="showDocument(this.contentWindow.document.body.innerHTML, '#blobstore_upload_{{ t.key }}');" style="display:none;"></iframe>
                                <form method="post" action="{{ blobstore_upload_url }}" target="iframe_{{ t.key }}" enctype="multipart/form-data">
                                    <input type="file" name="file" class="dtype_{{ t.data_type }}" style="border:none; width:80px;" />
                                    <input type="hidden" name="property" value="{{ t.key }}" />
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if t.choices %}
                            <img src="/images/spinner_gray_small.gif" />
                            <select name="{{ t.key }}" data-oldvalue="{% for v in t.values %}{{ v.key }}{% if not forloop.last %} : {% endif %}{% endfor %}" class="autosave choices dtype_{{ t.data_type }}" data-placeholder="..."{% if t.can_add_new %} multiple{% endif %} style="display:none;">
                            <option value=""></option>
                        </select>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>

<script type="text/javascript">
    function showDocument(json_string, div){
        $(div).append(json_string+'<div />');
        $(div).parent().children('img').hide();
        $(div).parent().children('form').children('.dtype_blobstore').val('');
        $(div).parent().children('form').show();
    };

    $(document).ready(function(){

        $('textarea').elastic();

        fillSelects();

        // $('input:password').dPassword();

        $('.dtype_blobstore').change(function() {
            $(this).parent().hide();
            $(this).parent().parent().children('img').show()
            $(this).parent().submit();
        });

        function sort_unique(arr) {
            arr = arr.sort(function (a, b) { return a*1 - b*1; });
            var ret = [arr[0]];
            for (var i = 1; i < arr.length; i++) { // start loop at 1 as element 0 can never be a duplicate
                if (arr[i-1] !== arr[i]) {
                    ret.push(arr[i]);
                }
            }
            return ret;
        };

        function fillSelects(){
            names = [];
            $('.choices').each(function() {
                names.push($(this).attr('name'));
            });
            names = sort_unique(names);
            for (n in names) {
                getChoices(names[n]);
            };

        };

        $('.dtype_datetime').change(function() {
            $(this).val(format_date($(this).val(), 'dd.MM.yyyy HH:mm'));
        });

        $('.dtype_date').change(function() {
            $(this).val(format_date($(this).val(), 'dd.MM.yyyy'));
        });

        $('.can_add_new').keypress(function() {
            var inputbox = $(this);
            var newinput = inputbox.clone(true);
            newinput.val('');
            newinput.removeData('oldvalue');
            inputbox.after(newinput);
            inputbox.removeClass('can_add_new');
            inputbox.unbind('keypress');
        });


        function format_date(dinput, format) {
            var result = ''
            dvalue = Date.parse(dinput);
            if(dvalue) {
                result = dvalue.toString(format);
            }
            return result;
        }

        $('.autosave').change(function() {
            var inputbox = $(this);
            if (inputbox.attr('type') == 'checkbox') {
                value = inputbox.is(':checked');
            } else if (inputbox.attr('multiple')) {
                value = inputbox.val();
                if (value) {
                    value = value.join(' : ');
                }
                if (value == null) {
                    value = '';
                }
            } else {
                value = inputbox.val();
            }
            if (value != inputbox.data('oldvalue')) {
                $.post('/bubble/edit/{{ bubble.key.id }}', {property: inputbox.attr('name'), oldvalue: inputbox.data('oldvalue'), newvalue: value}, function(newvalue) {
                    inputbox.data('oldvalue', newvalue);
                });
            }
        });

    });
</script>
