<section class="table" style="margin:0px; width:100%;">
    {% for t in bubble.GetProperties %}
    <div class="row">
        <div class="v_header" {% if t.is_mandatory %}style="color:red;"{% endif %}>
            {{ t.name }}
        </div>
        <div class="cell" style="width:100%">
            {% for v in t.value %}
                {% if t.data_type == "dictionary_string" or t.data_type == "string" or t.data_type == "integer" or t.data_type == "float" or t.data_type == "date" or t.data_type == "datetime" %}
                <input type="text" name="{{ t.key }}" data-oldvalue="{{ v }}" class="autosave dtype_{{ t.data_type }}" value="{{ v }}" />
                {% endif %}

                {% if t.data_type == "password"  %}
                <input type="password" name="{{ t.key }}" data-oldvalue="{{ v }}" class="autosave dtype_{{ t.data_type }}" value="{{ v }}" />
                {% endif %}

                {% if t.data_type == "dictionary_text" or t.data_type == "text" %}
                <textarea type="text" name="{{ t.key }}" data-oldvalue="{{ v }}" class="autosave dtype_{{ t.data_type }}">{{ v }}</textarea>
                {% endif %}

                {% ifequal t.data_type "boolean" %}
                <input type="checkbox" name="{{ t.key }}" data-oldvalue="{{ v }}" class="autosave dtype_{{ t.data_type }}"{% if v %} checked{% endif %} />
                {% endifequal %}

                {% ifequal t.data_type "blobstore" %}
                {{ v.filename }}{% if not forloop.last %}, {% endif %}
                {% if forloop.last and t.can_add_new %}
                <iframe name="iframe_{{ t.key }}" height="0" width="0" frameborder="0" scrolling="no" onLoad="showDocument(this.contentWindow.document.body.innerHTML);" style="display:none;"></iframe>
                <form method="post" action="{{ blobstore_upload_url }}" target="iframe_{{ t.key }}" enctype="multipart/form-data">
                    <input type="file" name="file" class="dtype_{{ t.data_type }}" style="border:none;" />
                    <input type="hidden" name="property" value="{{ t.key }}" />
                </form>
                {% endif %}
                {% endifequal %}

                {% if t.choices %}
                <select name="{{ t.key }}" data-oldvalue="{{ v }}" class="autosave dtype_{{ t.data_type }}" data-placeholder="{{ v.value }}">
                    <option value=""></option>
                    {% for c in t.choices %}
                    <option value="{{ c.key }}"{% ifequal v c.key %} selected{% endifequal %}>{{ c.value }}</option>
                    {% endfor %}
                </select>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>

<script type="text/javascript">
    $(document).ready(function(){

        $('textarea').elastic();

        // $('input:password').dPassword();

        $('.dtype_blobstore').change(function() {
            $(this).parent().submit();
        });

        function showDocument(json_string){
            alert(json_string);
        };

        $('select').chosen({
            allow_single_deselect: true,
        });

        $('.dtype_datetime').change(function() {
            $(this).val(format_date($(this).val(), 'dd.MM.yyyy HH:mm'));
        });

        $('.dtype_date').change(function() {
            $(this).val(format_date($(this).val(), 'dd.MM.yyyy'));
        });

        function format_date(dinput, format) {
            result = ''
            dvalue = Date.parse(dinput);
            if(dvalue) {
                result = dvalue.toString(format);
            }
            return result;
        }

        $('.autosave').change(function() {
            inputbox = $(this);
            if (inputbox.attr('type') == 'checkbox') {
                value = inputbox.is(':checked');
            } else {
                value = inputbox.val();
            }
            if (value != inputbox.data('oldvalue')) {
                $.post('/bubble/edit/{{ bubble.key.id }}', {property: inputbox.attr('name'), oldvalue: inputbox.data('oldvalue'), newvalue: value}, function(newvalue) {
                    inputbox.data('oldvalue', newvalue);
                });
            }
        });

    });
</script>
