<img src="{{ bubble.photourl }}" id="person_photo" />
<h1>{{ bubble.displayname }}</h1>
<section class="table">
    {% for t in bubble.GetProperties %}
    {% if t.has_values %}
    <div class="row">
        <div class="v_header">
            {{ t.name }}
        </div>
        <div class="cell">
            {% for v in t.values %}
                {% if v.value %}
                    {% if t.data_type == "blobstore" %}
                        <a href="/bubble/file/{{ t.data_property }}/{{ v.key }}">{{ v.value|linebreaks }}</a>
                    {% else %}
                        {{ v.value|safe|urlize|linebreaks }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>

<div id="tiptip_holder" style="max-width: 200px; margin-right: 0px; margin-bottom: 0px;" class="tip_bottom">
    <div id="tiptip_arrow" style="margin-left: 20px; margin-top: -12px; ">
        <div id="tiptip_arrow_inner"></div>
    </div>
    <div id="tiptip_content">
        {% for t in bubble.GetAllowedSubtypes %}
        <a href="javascript:void(0);" class="add_new_subbubble" data-type="{{ t.key }}">{{ t.displayname }}</a><br />
        {% endfor %}
    </div>
</div>

<section class="info_accordion">
    <div style="display:none;">
        <h2>{{ str.bubble_leecher }}<span><img src="/images/spinner_gray_small.gif" /></span></h2>
        <div id="leecher" class="subbubbles_list"></div>
    </div>
    <div style="display:none;">
        <h2>{{ str.bubble_leechers }}<span><img src="/images/spinner_gray_small.gif" /></span></h2>
        <div id="leechers" class="subbubbles_list"></div>
    </div>
    {% for t in bubbletypes %}
    <div style="display:none;">
        <h2>{{ t.displayname }}<span><img src="/images/spinner_gray_small.gif" /></span></h2>
        <div class="subbubbles_list subbubbles" data-type="{{ t.path }}"></div>
    </div>
    {% endfor %}
</section>

<script type="text/javascript">
    $(document).ready(function(){

        document.title = '{{ site_name }}';

        $('.info_accordion div h2').click(function() {
            $(this).next().slideToggle();
        });

        tools = [
            {% if bubble.CanAddSubbubble and bubble.GetAllowedSubtypes %}
                '<a id="open_new_tipmenu" href="javascript:void(0);" data-icon="+" class="add" title="{{ str.bubble_add_new }}"></a>',
            {% endif %}
            {% if bubble.CanEdit %}
                '<a id="open_edit" href="javascript:void(0);" data-icon="E" class="tiptip" title="{{ str.bubble_edit }}"></a>',
            {% endif %}
            {% if bubble.GetMyRole == 'owner' %}
                '<a id="open_rights" href="javascript:void(0);" data-icon="L" class="tiptip" title="{{ str.rights_caption }}"></a>',
            {% endif %}
            {% if bubbletype.action %}
                '<a id="open_action" href="javascript:void(0);" data-icon="A" class="tiptip" title="{{ str.bubble_actions }}"></a>',
            {% endif %}
            {% if bubble.rating_scale %}
                '<a id="open_rating" href="javascript:void(0);" data-icon="r" class="tiptip" title="{{ str.bubble_actions }}"></a>',
            {% endif %}
            {% if bubble.icalurl %}
                '<a href="{{ bubble.icalurl }}" data-icon="C"></a>',
            {% endif %}
        ];
        $('#tools').html(tools.join(''));

        $("#open_new_tipmenu").click(function() {
            var tiptip = $('#tiptip_holder');
            var button = $(this);
            tiptip.left = button.left+(button.width/2)-(tiptip.width/2);
            tiptip.top = button.top+button.height;
            tiptip.show();
        });

        $("#tiptip_holder").mouseleave(function() {
            $(this).hide();
        });

        $('.add_new_subbubble').click(function() {
            $('#tools').html('');
            $("#tiptip_holder").hide();
            openDropdown('/bubble/add/'+$(this).data('type')+'/{{ bubble.key.id }}', reload_item);
        });

        $('#open_edit').click(function() {
            $('#tools').html('');
            openDropdown('/bubble/edit/{{ bubble.key.id }}', reload_item);
        });

        $('#open_action').click(function() {
            $('#tools').html('');
            openDropdown('/action/timeslot/{{ bubble.key.id }}', reload_item);
        });

        $('#open_rating').click(function() {
            $('#tools').html('');
            openDropdown('/action/rating/{{ bubble.key.id }}', reload_item);
        });

        $('#open_rights').click(function() {
            openDropdown('/bubble/rights/{{ bubble.key.id }}');
        });

        ajax_bubbles_list('/bubble/', { type: 'leecher_in', value: '{{ bubble.key }}' }, $('#leecher'), 'leecher');
        ajax_bubbles_list('/bubble/', { type: 'leecher', value: '{{ bubble.key }}' }, $('#leechers'), 'leechers');

        $('.subbubbles').each(function() {
            ajax_bubbles_list('/bubble/'+$(this).data('type'), { type: 'subbubbles', value: '{{ bubble.key }}' }, $(this), 'subbubbles');
        });

        $('.open_subbubble').live('click', function() {
            var id = $(this).attr('href').substring(1)
            open_item(id);
            $('#list_items a.active').removeClass('active');
            $('#list_items a[href$="#'+id+'"]').addClass('active');
        });

        function reload_item() {
            $.modal.close();
            open_item({{ bubble.key.id }});
            removeBubbleInfo('{{ bubble.key }}');
            getBubbleInfo('', '{{ bubble.key }}', '#listitem_{{ bubble.key }}', 'searchlist');
        }

        function open_item(id) {
            $('#list_content .spinner').show();
            $('#list_content div').html('');
            $.get('/bubble/show/'+id, function(html) {
                $('#list_content .spinner').hide();
                $('#list_content div').html(html);
            });
        }

        function ajax_bubbles_list(post_url, post_data, div, id) {
            $.post(post_url, post_data, function(list) {
                for (i in list.keys) {
                    div.append('<a href="#" id="'+id+'_'+list.keys[i]+'">&nbsp;</a>');
                    getBubbleInfo('{{ bubble.y_type }}', list.keys[i], '#'+id+'_'+list.keys[i], 'accordion');
                }
                if (list.keys.length > 0) {
                    div.parent().show();
                    div.parent().children('h2').children('span').html(list.keys.length);
                }
            }, 'json');
        }

    });
</script>
