<div>
    <label style="display:block;">{{ str.bubble_prerequisites }} ({{ bubble.prerequisite_bubbles|length }}):</label>
    {% for nl in bubble.prerequisite_bubbles2|dictsort:"displayname" %}
        <a href="javascript:void(0);" prerequisite="{{ nl.key }}" type="prerequisite" class="deletable">{{ nl.type2.displayname }} {{ nl.displayname }}</a><br />
    {% endfor %}
    {% if prerequisite_bubbles %}
    <select id="prerequisite" name="prerequisite" class="autosave" style="margin-bottom:15px; width:300px; display:block;">
        <option value="">{{ str.add_new }}</option>
        {% regroup prerequisite_bubbles|dictsort:"type" by type2.displayname as prerequisites %}
        {% for prerequisite in prerequisites %}
        <optgroup label="{{ prerequisite.grouper }}">
            {% for add in prerequisite.list|dictsort:"displayname" %}
            <option value="{{ add.key }}">{{ add.displayname }}</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    {% endif %}
</div>