<h2>{{ str.rights_caption }}</h2>
<section class="table" style="width:100%;">
    {% for p in persons|dictsort:"displayname" %}
        <div class="row">
            <div class="v_header">
                {{ p.displayname }}
            </div>
            <div class="cell">
                <select class="right" data-person="{{ p.key }}" {% if p.relation_currentuser %} disabled{% endif %}>
                    <option value="">{{ str.rights_no_access }}</option>
                    <option value="viewer" {% if p.relation_type == "viewer" %} selected{% endif %}>{{ str.rights_viewer }}</option>
                    <option value="subbubbler" {% if p.relation_type == "subbubbler" %} selected{% endif %}>{{ str.rights_subbubbler }}</option>
                    <option value="editor" {% if p.relation_type == "editor" %} selected{% endif %}>{{ str.rights_editor }}</option>
                    <option value="owner" {% if p.relation_type == "owner" %} selected{% endif %}>{{ str.rights_owner }}</option>
                </select>
            </div>
        </div>
    {% endfor %}
        <div class="row">
            <div class="v_header">
                <input type="text" id="new_person" placeholder="{{ str.rights_add }}" style="width:100%" />
            </div>
            <div class="cell">
                <select id="new_right" class="right" style="display:none;">
                    <option value="">{{ str.rights_no_access }}</option>
                    <option value="viewer">{{ str.rights_viewer }}</option>
                    <option value="subbubbler">{{ str.rights_subbubbler }}</option>
                    <option value="editor">{{ str.rights_editor }}</option>
                    <option value="owner">{{ str.rights_owner }}</option>
                </select>
            </div>
        </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){

        $('#new_person').autocomplete({
            serviceUrl: '/bubble/autocomplete',
            onSelect: function(value, data) {
                $('#new_right').data('person', data);
                $('#new_right').show();
            },
        });

        $('.right').change(function() {
            var rightbox = $(this);
            if(rightbox.data('person')) {
                $.post('/bubble/rights/{{ bubble.key.id }}', { person: rightbox.data('person'), right: rightbox.val() }, function(json){
                    if(rightbox.attr('id') == 'new_right') {
                        var oldrow = rightbox.parent().parent();
                        var newrow = oldrow.clone(true);
                        oldrow.before(newrow);
                        oldrow.find('input').val('');
                        oldrow.find('select').val('');
                        oldrow.find('select').removeData('person');
                        oldrow.find('select').hide();

                        newrow.find('.v_header').html(json.name);
                        newrow.find('select').data('person', json.key);
                        newrow.find('select').removeAttr('id')
                        newrow.find('select').val(json.right)
                    }
                }, 'json');
            };
        });

    });
</script>
