<script>
    function showCSV(file_id){
        if(file_id) {
            $.post('/action/csv/read', {
                file_id: file_id,
                entity_definition_keyname: '{{ entity_definition_keyname }}',
                parent_entity_id: {{ parent_entity_id }}
            }, function(data) {
                $('#csv-table').replaceWith(data);
            });
        };
    };

    $(document).ready(function(){

        $('.csv-file').change(function() {
            $('#csv-form').hide();
            $('#csv-spinner').show()
            $('#csv-form').submit();
        });

    });
</script>
<table id="csv-table" class="edit-form table table-bordered">
    <tbody>
        <tr>
            <th>
                {{ _('action_add_csv_file') }}
            </th>
            <td style="padding:8px;">
                <img id="csv-spinner" src="{{ static_url('images/spinner_white.gif') }}" style="display:none;" />
                <form id="csv-form" method="post" action="/action/csv/upload" target="csv-iframe" enctype="multipart/form-data" style="margin:0px; padding:0px;">
                    <input type="file" name="file" class="csv-file" title="{{ _('add_files_computer') }}"  style="margin:0px; padding:0px;" data-bfi-disabled />
                </form>
            </td>
        <tr>
    </tbody>
</table>
<iframe name="csv-iframe" height="0" width="0" frameborder="0" scrolling="no" onLoad="showCSV(this.contentDocument.body.textContent);" style="display:none;"></iframe>
