{% from operator import itemgetter %}

<form id="csv-form" method="post" action="/action/csv/import" style="margin:0px; padding:0px;">
    <input type="hidden" name="file_id" value="{{ file_id }}" />
    <input type="hidden" name="parent_entity_id" value="{{ parent_entity_id }}" />
    <input type="hidden" name="entity_definition_keyname" value="{{ entity_definition_keyname }}" />
    <table class="edit-form table table-bordered">
        <tbody>
            <tr>
                <th>
                    {{ _('action_add_csv_file') }}
                </th>
                <td>
                    <span style="padding:8px; font-style:italic; color:gray;">{{ file_name }}</span>
                </td>
            <tr>
            <tr>
                <th>
                    {{ _('action_add_csv_encoding') }}
                </th>
                <td>
                    <select type="text" id="encoding" class="resubmit" name="encoding" style="width:100%;">
                        <option value="utf-8"{% if encoding == 'utf-8' %} selected{% end %}>UTF-8</option>
                        <option value="windows-1252"{% if encoding == 'windows-1252' %} selected{% end %}>Western (Windows Latin 1)</option>
                        {% if encoding != 'utf-8' and encoding != 'windows-1252' %}
                            <option value="{{ encoding }}" selected>{{ encoding }}</option>
                        {% end %}
                    </select>
                </td>
            <tr>
            <tr>
                <th>
                    {{ _('action_add_csv_delimiter') }}
                </th>
                <td>
                    <input type="text" id="delimiter" class="resubmit" name="delimiter" maxlength="1" value="{{ delimiter }}" />
                </td>
            <tr>
            <tr>
                <th>
                    {{ _('action_add_csv_first_row') }}
                </th>
                <td>
                    <input type="text" id="first_row" name="first_row" maxlength="2" value="{{ first_row }}" />
                </td>
            <tr>
        </tbody>
    </table>
    <table class="edit-form table table-bordered" style="margin:30px 0px 50px 0px;">
        <tbody>
            {% for p in sorted(properties, key=itemgetter('ordinal')) %}
            <tr>
                <th>
                    {{ p.get('label') }}
                </th>
                <td>
                    <select class="csv-field" name="{{ 'field_%s' % p.get('dataproperty') }}" style="width:100%;">
                        <option></option>
                        {% for idx, h in enumerate(csv_headers) %}
                            <option value="{{ idx }}" {% if p.get('label') == h %} selected{% end %}>{{ h }}</option>
                        {% end %}
                    </select>
                </td>
            <tr>
            {% end %}
            <tr>
                <th>

                </th>
                <td>
                    <div class="edit">
                        <a id="csv-submit" class="btn btn-success disabled" href="javascript:void(0);">{{ _('action_add_csv_do_import') % row_count }}</a>
                        <img id="csv-spinner" src="{{ static_url('images/spinner_white.gif') }}" style="display:none;" />
                    </div>
                </td>
            <tr>
        </tbody>
    </table>
</form>

<script>
    $(document).ready(function(){

        $('select').select2();

        $('#first_row').change(function() {
            if ($(this).val() < 1) {
                $(this).val(1);
            }
            if ($(this).val() > {{ row_count }}) {
                $(this).val({{ row_count }});
            }
            $('#csv-submit').html('{{ _('action_add_csv_do_import') % '@@' }}'.replace('@@', {{ row_count }}-$(this).val()+1))
        });

        $('.resubmit').change(function() {
            if(delimiter) {
                $.post('/action/csv/read', {
                    file_id: {{ file_id }},
                    delimiter: $('#delimiter').val(),
                    first_row: $('#first_row').val(),
                    encoding: $('#encoding').val(),
                    entity_definition_keyname: '{{ entity_definition_keyname }}',
                    parent_entity_id: {{ parent_entity_id }}
                }, function(data) {
                    $('#csv-form').replaceWith(data);
                });
            };
        });

        $('.csv-field').change(function() {
            $('#csv-submit').addClass('disabled');
            $('.csv-field').each(function() {
                if($(this).val()) {
                    $('#csv-submit').removeClass('disabled');
                }
            });
        });

        $('#csv-submit').click(function() {
            if(!$(this).hasClass('disabled')) {
                $('#csv-submit').hide();
                $('#csv-spinner').show()
                $.post('/action/csv/import', $('#csv-form').serialize(), function(data) {
                    $('#modal-box').modal('hide');
                    $('#modal-box').html('');
                });
            }
        });

    });
</script>

