{% from operator import itemgetter %}

<div class="modal-header">
    <h3>{{ entity.get('displayname', '') }}</h3>
</div>
<div class="modal-body">
    {% if actions and len(actions) > 1 %}
        <ul class="nav nav-tabs" data-intro="{{ _('edit_help_tabs') }}" data-position="left" style="margin-top:0px !important; padding-top:0px; background: #f5f5f5;">
            {% for idx, action in enumerate(actions) %}
                <li{% if idx == 0 %} class="active"{% end %}><a href="#{{ action }}" data-toggle="tab">{{ _('action_add_%s' % action) }}</a></li>
            {% end %}
        </ul>
    {% end %}
    <div class="tab-content">
        {% for idx, action in enumerate(actions) %}
            <div id="{{ action }}" class="tab-pane{% if idx == 0 %} active{% end %}" >
                {% if action == 'default' %}{% include 'edit_default.html' %}{% end %}
                {% if action == 'ester' %}{% include '../../library/template/ester.html' %}{% end %}
                {% if action == 'cmdi' %}{% include '../../importers/template/cmdi.html' %}{% end %}
                {% if action == 'csv' %}{% include 'csv.html' %}{% end %}
            </div>
        {% end %}
    </div>
</div>
<div class="modal-footer">
    {% if entity.get('right') == 'owner' %}
    <a id="delete-entity" class="btn btn-link pull-left" style="color:red;" href="javascript:void(0);">{{ _('entity_delete') }}</a>
    {% end %}
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
</div>

<div id="database" data-entity_id="{{ entity.get('id', '') }}" style="display:hidden;"></div>
