{% from operator import itemgetter %}

<div class="modal-header" style="border:none;">
    <h3>{{ _('share_by_email') }}</h3>
</div>
<div class="modal-body" style="padding:0px;">
    <table class="edit-form table table-bordered">
        <tbody>
            <tr>
                <th>
                    {{ _('share_to') }}
                </th>
                <td>
                    <input type="text" id="email-to" />
                </td>
            </tr>
            <tr>
                <th>
                    {{ _('share_message') }}
                </th>
                <td>
                    <textarea id="email-message"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
    <button id="send-email" class="btn btn-primary">{{ _('share_send') }}</button>
</div>

<script>

    $(document).ready(function(){

        $('textarea').elastic();

        $('#send-email').click(function() {
            $.post('/api2/entity-{{ entity_id }}/share', { to: $('#email-to').val(), message: $('#email-message').val() }, function(newvalue) {
                $('#modal-box').modal('hide')
            });
        });

    });
</script>
