{% autoescape None %}
{% from operator import itemgetter %}
{% import markdown2 %}

{% if parents %}
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr class="breadcrumb">
                {% for parentgroup in parents %}
                    {% for parent in parentgroup %}
                        <td style="text-align:center;">
                            <a class="no-underline" href="#{{ parent.get('id', '') }}" style="display:block; padding:0px 8px;">
                                <i class="divider icon-arrow-up pull-left" style="padding-left:0px; padding-top:2px;"></i>
                                <b>{{ parent.get('label', '') }}:</b> {{ parent.get('displayname', '') }}
                                <i class="divider icon-arrow-up pull-right" style="padding-right:0px; padding-top:2px;"></i>
                            </a>
                        </td>
                    {% end %}
                {% end %}
            </tr>
        </tbody>
    </table>
{% end %}

<div class="pull-right" style="margin:0px 0px 20px 0px; width:120px; text-align:center; text-transform:uppercase; color:#B9B9B9; font-weight:bold;">
    <img src="{{ entity['displaypicture'] }}" id="entity_picture" class="" width="120" style="padding-bottom:4px; width:120px;" /><br />
    {{ entity['label'] }}
</div>
<h3 style="margin:0px 140px 8px 0px; line-height:23px;">{{ entity['displayname'] }}</h3>
<div style="margin-right:140px;">
    <table class="table table-condensed">
        <tbody>
            {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
            <tr>
                <th style="text-align:right; min-width:200px;{%if not p['public'] %} color:gray;{% end %}">
                    {{ p['label'] }}
                </th>
                <td style="width:100%;{%if not p['public'] %} color:gray;{% end %}">
                    {% if p['datatype'] == 'file' %}
                        {{ '<br />'.join(['<a href="/entity/file-%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                        {% if len(p['values']) > 1 %}
                            <a href="/entity/file-{{ ','.join(['%s' % v['db_value'] for v in p['values']]) }}" style="font-size:11px; font-style:italic; float:right;">{{ _('download_all_as_zip') }}</a>
                        {% end %}
                    {% elif p['datatype'] == 'html' %}
                        <div class="html-property" data-property="{{ p['dataproperty'] }}" style="display:block; width:100%;"><img src="{{ static_url('images/spinner_white.gif') }}" id="search-spinner" /></div>
                    {% elif p['datatype'] == 'text' %}
                        {{ markdown2.markdown('   \n'.join(['%s' % v['value'].replace('\n', '   \n') for v in p['values']])) }}
                    {% elif p['datatype'] == 'reference' %}
                        {{ '<br />'.join(['<a href="#%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                    {% else %}
                        {{ '<br />'.join(['%s' % v['value'] for v in p['values']]) }}
                    {% end %}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

<ul id="toolbar_template" style="display:none;">
    {% if allowed_childs or add_definitions %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle header-menu-item toolbar-item" data-toggle="dropdown" title="{{ _('menu_add') }}"><i class="icon-plus"></i></a>
            <ul class="dropdown-menu">
                {% for c in add_definitions %}
                    <li><a href="javascript:void(0);" class="open-modal-box" data-url="/entity-{{ c.related_entity_id }}/add/{{ c['keyname'] }}">{{ c['label'] }}</a></li>
                {% end %}
                {% if allowed_childs and add_definitions %}
                    <li class="divider"></li>
                {% end %}
                {% for c in allowed_childs %}
                    <li><a href="javascript:void(0);" class="open-modal-box" data-url="/entity-{{ entity['id'] }}/add/{{ c['keyname'] }}">{{ c['label'] }}</a></li>
                {% end %}
            </ul>
        </li>
    {% end %}
    {% if entity['right'] in ['editor', 'owner'] %}
        <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/edit" title="{{ _('menu_edit') }}"><i class="icon-pencil"></i></a></li>
        <!--li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/relate" title="{{ _('menu_relate') }}"><i class="icon-link"></i></a></li-->
    {% end %}
    {% if entity['right'] == 'owner' %}
        <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/rights" title="{{ _('menu_rights') }}"><i class="icon-lock"></i></a></li>
    {% end %}
    <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/share" title="{{ _('menu_share') }}"><i class="icon-envelope"></i></a></li>
    <!--li><a href="/entity-{{ entity['id'] }}/download" class="toolbar-item" title="{{ _('menu_download') }}"><i class="icon-cloud-download"></i></a></li-->
    <li><a href="javascript:javascript:window.print();" class="toolbar-item " title="{{ _('menu_print') }}"><i class="icon-print"></i></a></li>
    <li><a href="javascript:void(0);" id="toolbar-item-fullscreen" class="toolbar-item " title="{{ _('menu_fullscreen') }}"><i class="icon-resize-full"></i></a></li>
</ul>

<!--ul class="nav nav-tabs" id="myTab" style="clear:both;">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#profile">Alamullid</a></li>
    <li><a href="#messages">Messages</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">...</div>
    <div class="tab-pane" id="profile">...</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div-->

{% for k, v in relatives.iteritems() %}
    <table class="table table-condensed table-bordered" style="clear:both; margin-top:20px;">
        <thead class="toggle-table">
            <tr>
                <th {% if v[0].get('displaytable', None) %}colspan="{{ len(v[0].get('displaytable', '')) }}"{% end %}>
                    {{ k }}<span style="float:right; font-weight:normal;">{{ len(v) }}</span>
                </th>
            </tr>
        </thead>
        <tbody style="1display:none;">
            {% if v[0].get('displaytable', None) %}
            <tr>
                {% for l in v[0].get('displaytable_labels', '') %}
                <th style="min-width:100px;">
                    {{ l }}
                </th>
                {% end %}
            </tr>
            {% end %}
            {% for i in v %}
            <tr>
                {% if i.get('displaytable', None) %}
                    {% for x in i.get('displaytable', '') %}
                    <td style="min-width:100px;">
                        <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{% if x %}{{ x }}{% else %}&nbsp;{% end %}</a>
                    </td>
                    {% end %}
                {% else %}
                <td style="">
                    <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{% if i.get('displayname', '') %}{{ i.get('displayname', '') }}{% else %}&nbsp;{% end %}</a>
                </td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
{% end%}

<script>
    $(document).ready(function(){

        document.title = "{{ page_title.replace('\"', '\\\"') }}";

        $('#list_items a.active').removeClass('active');
        $('#listitem_{{ entity.get('id') }}').addClass('active');

        $('.toggle-table').click(function() {
            $(this).parent().children('tbody').toggle();
        });

        $('#toolbar').html($('#toolbar_template').html());
        $('#toolbar_template').html('')

        change_fullscreen_icon();

        function change_fullscreen_icon() {
            if($('#content').hasClass('fullscreen')) {
                $('#toolbar-item-fullscreen').children('i').removeClass('icon-resize-full');
                $('#toolbar-item-fullscreen').children('i').addClass('icon-resize-small');
            } else {
                $('#toolbar-item-fullscreen').children('i').removeClass('icon-resize-small');
                $('#toolbar-item-fullscreen').children('i').addClass('icon-resize-full');
            }
        }

        $('#toolbar-item-fullscreen').click(function() {
            if($('#content').hasClass('fullscreen')) {
                if($('#content').hasClass('menu-hidden')) {
                    $('#menu_hidden').show();
                } else {
                    $('#menu').show();
                };
                $('#list').show();
                $('#list_search').show();
                $('#content').css('left', parseInt($('#list').css('left'))+parseInt($('#list').css('width'))+'px');
                $('#content').removeClass('fullscreen');
            } else {
                if($('#content').hasClass('menu-hidden')) {
                    $('#menu_hidden').hide();
                } else {
                    $('#menu').hide();
                };
                $('#list').hide();
                $('#list_search').hide();
                $('#content').css('left', '0px');
                $('#content').addClass('fullscreen');
            }
            change_fullscreen_icon();
        });

        $('.open-modal-box').click(function() {
            url = $(this).data('url');
            $.get(url, function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
                setTimeout(function () {
                    $(':text:input:first').focus();
                    document.body.style.cursor = 'default';
                }, 400);
            });
        });

        $('.html-property').each(function() {
            div = $(this);
            $.get('/entity-{{ entity['id'] }}/html-'+div.data('property'), function(html) {
                div.html(html);
            });
        });

    });
</script>
