{% autoescape None %}
{% from operator import itemgetter %}
{% import mistune %}

{% if parents %}
    <table class="table table-condensed table-bordered">
        <tbody>
            <tr class="breadcrumb">
                {% for parentgroup in parents %}
                    {% for parent in parentgroup %}
                        <td style="text-align:center;">
                            <a class="no-underline" href="#{{ parent.get('id', '') }}" style="display:block; padding:0px 8px;">
                                <i class="divider fa fa-arrow-up pull-left" style="padding-left:0px; padding-top:2px;"></i>
                                <b>{{ parent.get('label', '') }}:</b> {{ parent.get('displayname', '') }}
                                <i class="divider fa fa-arrow-up pull-right" style="padding-right:0px; padding-top:2px;"></i>
                            </a>
                        </td>
                    {% end %}
                {% end %}
            </tr>
        </tbody>
    </table>
{% end %}

<style>
#entity_meta {
    visibility: hidden;
}
.pull-right:hover~#entity_meta {
    visibility: visible;
}
</style>
<div class="pull-right" style="margin:0px 0px 20px 0px; width:120px; text-align:center; text-transform:uppercase; color:#B9B9B9; font-weight:bold;">
    <img src="/api2/entity-{{ entity.get('id') }}/picture" id="entity_picture" class="" width="120" style="padding-bottom:4px; width:120px;" /><br />
    {{ entity['label'] }}
    {% if public_path %}
        <br />
        <a class="no-underline" href="/public-{{ public_path[0].public_path }}/entity-{{ entity.get('id') }}" title="/public-{{ public_path[0].public_path }}/entity-{{ entity.get('id') }}" style="display:block; text-transform:none; font-weight:normal; padding:0px 8px;">
            {{ _('public_link') }}
        </a>
    {% end %}
</div>
<table id="entity_meta" style="z-index: 2; position: absolute; top: 60px; right: 160px; background-color: rgb(245, 245, 245); border: rgb(221, 221, 221) solid 1px; border-radius: 4px; border-spacing: 6px; border-collapse: separate;">
    <tr>
        <td for="entity_created">{{ _('created') }}</td><td id="entity_created">
            {% if entity.get('properties', {}).get('entu-created-by', {}).get('values', False) %}
                {{ entity.get('properties', {}).get('entu-created-by', {}).get('values')[0].get('value') }}
            {% end %}
            {% if entity.get('properties', {}).get('entu-created-at', {}).get('values', False) %}
                <div id="entu-created-at"/>
                <script type="text/javascript">
                    var date = new Date("{{ entity.get('properties', {}).get('entu-created-at', {}).get('values',[{'value':''}])[0].get('value') }}".replace(' ', 'T')).toLocaleString()
                    document.getElementById('entu-created-at').textContent = date
                </script>
            {% end %}
        </td>
    </tr>
    <tr>
        <td for="entity_changed">{{ _('changed') }}</td><td id="entity_changed">
            {% if entity.get('properties', {}).get('entu-changed-by', {}).get('values', False) %}
                {{ entity.get('properties', {}).get('entu-changed-by', {}).get('values')[0].get('value') }}
            {% end %}
            {% if entity.get('properties', {}).get('entu-changed-at', {}).get('values', False) %}
                <div id="entu-changed-at"/>
                <script type="text/javascript">
                    var date = new Date("{{ entity.get('properties', {}).get('entu-changed-at', {}).get('values',[{'value':''}])[0].get('value') }}".replace(' ', 'T')).toLocaleString()
                    document.getElementById('entu-changed-at').textContent = date
                </script>
            {% end %}
        </td>
    </tr>
</table>

<h3 style="margin:0px 140px 8px 0px; line-height:23px;">{{ entity['displayname'] }}</h3>
<div style="margin-right:140px;">
    <table class="table table-condensed">
        <tbody>
            {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
                {% if p['visible'] and (p.get('values') or p['mandatory']) %}
                    <tr>
                        <th style="text-align:right; min-width:200px;{%if not p['public'] %} color:gray;{% end %}{%if p['mandatory'] and not p.get('values') %} background-color:#fff5f5;{% end %}">
                            {%if p.get('values') and len(p.get('values')) > 1 %}{{ p['label_plural'] }}{% else %}{{ p['label'] }}{% end %}
                        </th>
                        <td style="width:100%;{%if not p['public'] %} color:gray;{% end %}{%if p['mandatory'] and not p.get('values') %} background-color:#fff5f5;{% end %}">
                            {% if p['datatype'] == 'file' %}
                                <!-- <p>Meta: {{ p }}</p> -->
                                {{ '<br />'.join(['<a id="fileLink%s" href="/api2/file-%s" target="_blank">%s</a> <i style="white-space: nowrap;">%sb@%s</i>' % (v.get('db_value'), v.get('db_value'), v.get('value'), v.get('filesize'), v.get('created')) for v in p.get('values', []) if v]) }}
                            {% elif p['datatype'] == 'html' %}
                                <div class="html-property" data-property="{{ p['dataproperty'] }}" style="display:block; width:100%;"><img src="{{ static_url('images/spinner_white.gif') }}" id="search-spinner" /></div>
                            {% elif p['datatype'] == 'text' %}
                                {{ mistune.Markdown().render('   \n'.join(['%s' % v.get('value').replace('\n', '   \n') for v in p.get('values', [])])) }}
                            {% elif p['datatype'] == 'reference' %}
                                {{ '<br />'.join(['<a href="#%s">%s</a>' % (v.get('db_value'), v.get('value')) for v in p.get('values', [])]) }}
                            {% elif p['datatype'] == 'string' %}
                                {{ '<br />'.join(['%s' % linkify(v.get('value'), shorten=True, extra_params='target="_blank"') for v in p.get('values', [])]) }}
                            {% else %}
                                {{ '<br />'.join(['%s' % v.get('value') for v in p.get('values', [])]) }}
                            {% end %}
                        </td>
                    </tr>
                {% end %}
            {% end %}
        </tbody>
    </table>
</div>

<ul id="toolbar_template" style="display:none;">
    {% if allowed_childs or add_definitions %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle header-menu-item toolbar-item" data-toggle="dropdown" title="{{ _('menu_add') }}"><i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                {% for ck, cv in add_definitions.iteritems() %}
                    <li class="dropdown-header">{{ _('menu_add_under').replace('%s', ck) }}</li>
                    {% for c in sorted(cv, key=itemgetter('label')) %}
                        <li><a href="javascript:void(0);" class="open-modal-box" data-url="/entity-{{ c['related_entity_id'] }}/add/{{ c['keyname'] }}">{{ c['label'] }}</a></li>
                    {% end %}
                {% end %}

                {% if allowed_childs %}
                    <li class="dropdown-header">{{ _('menu_add_under_this') }}</li>
                    {% for c in sorted(allowed_childs, key=itemgetter('label')) %}
                        <li><a href="javascript:void(0);" class="open-modal-box" data-url="/entity-{{ entity['id'] }}/add/{{ c['keyname'] }}">{{ c['label'] }}</a></li>
                    {% end %}
                {% end %}
            </ul>
        </li>
    {% end %}
    {% if entity['right'] in ['editor', 'owner'] %}
        <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/edit" title="{{ _('menu_edit') }}"><i class="fa fa-pencil"></i></a></li>
        <!--li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/relate" title="{{ _('menu_relate') }}"><i class="fa fa-link"></i></a></li-->
    {% end %}
    {% if entity['right'] in ['editor', 'owner'] and allowed_parents %}
        <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/duplicate" title="{{ _('menu_duplicate') }}"><i class="fa fa-copy"></i></a></li>
        <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/parents" title="{{ _('menu_parents') }}"><i class="fa fa-arrow-up"></i></a></li>
    {% end %}
    {% if entity['right'] == 'owner' %}
        <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/rights" title="{{ _('menu_rights') }}"><i class="fa fa-lock"></i></a></li>
    {% end %}
    <li><a href="javascript:void(0);" class="toolbar-item open-modal-box" data-url="/entity-{{ entity['id'] }}/share" title="{{ _('menu_share') }}"><i class="fa fa-envelope"></i></a></li>
    <!--li><a href="/entity-{{ entity['id'] }}/download" class="toolbar-item" title="{{ _('menu_download') }}"><i class="fa fa-cloud-download"></i></a></li-->
    <li><a href="javascript:javascript:window.print();" class="toolbar-item " title="{{ _('menu_print') }}"><i class="fa fa-print"></i></a></li>
    <li><a href="javascript:void(0);" id="toolbar-item-fullscreen" class="toolbar-item " title="{{ _('menu_fullscreen') }}"><i class="fa fa-expand"></i></a></li>
</ul>

<div id="childs"></div>
<div id="referrals"></div>
<div class="childs-template" style="display:none;">
    <h5 class="toggle-table" style="clear:both; margin:40px 0px 0px 0px; padding:5px 10px; background: #F0F0F0;"><span style="float:right; font-weight:normal;"></span></h5>
    <table class="table table-condensed sortable">
        <thead>
            <tr>
                <th class="childs-th-template" style="min-width:100px; font-size:13px; vertical-align:middle; border-top: 1px solid #DDDDDD;"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="childs-tr-template">
                <td class="childs-td-template" style="min-width:100px; font-size:13px;">
                    <a class="open_child" style="display:block;"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){

        document.title = "{{ page_title.replace('\"', '\\\"') }}";

        make_tables('/api2/entity-{{ entity.get('id') }}/childs', '#childs');
        make_tables('/api2/entity-{{ entity.get('id') }}/referrals', '#referrals');

        function make_tables(url, div) {
            // get and show entity childs
            spinner(div);
            $.get(url, function(data) {
                for(var d_key in data.result) {
                    var definition     = data.result[d_key];
                    var entities       = definition.entities;

                    var $element       = $('.childs-template').clone(true).removeClass('childs-template').appendTo(div);

                    // make section header
                    if(entities.length > 1) {
                        $element.children('h5').prepend(definition.label_plural);
                    } else {
                        $element.children('h5').prepend(definition.label);
                    }
                    $element.children('h5').children('span').html(entities.length);

                    // make table header
                    if(definition.table_header) {
                        var $th = $element.find('.childs-th-template').clone(true).removeClass('childs-th-template').appendTo($element.children('table').children('thead').children('tr'));
                        $th.html('');
                        $th.attr('style', 'width:25px; vertical-align:middle; border-top: 1px solid #DDDDDD;');
                        $th.show();
                        for(th_key in definition.table_header) {
                            var $th = $element.find('.childs-th-template').clone(true).removeClass('childs-th-template').appendTo($element.children('table').children('thead').children('tr'));
                            $th.html(definition.table_header[th_key]);
                            $th.show();
                        }
                        $element.find('.childs-th-template').remove();
                    } else {
                        $element.find('thead').remove();
                    }

                    //make table rows
                    for(tr_key in definition.entities) {
                        var $tr = $element.find('.childs-tr-template').clone(true).removeClass('childs-tr-template').appendTo($element.children('table').children('tbody'));

                        //make table cells
                        if(definition.entities[tr_key].table) {
                            var $td = $tr.children('.childs-td-template').clone(true).removeClass('childs-td-template').appendTo($tr);
                            $td.attr('data-value', definition.entities[tr_key].id);
                            $td.children('a').html('<img src="/api2/entity-' + definition.entities[tr_key].id + '/picture" style="height:25px; max-width:25px;" />');
                            $td.children('a').attr('href', '#'+definition.entities[tr_key].id);
                            $td.attr('style', 'width: 25px;');

                            for(td_key in definition.entities[tr_key].table) {
                                var $td = $tr.children('.childs-td-template').clone(true).removeClass('childs-td-template').appendTo($tr);
                                $td.attr('data-value', definition.entities[tr_key].table[td_key]);
                                $td.children('a').html(definition.entities[tr_key].table[td_key]);
                                $td.children('a').attr('href', '#'+definition.entities[tr_key].id);
                            }
                        } else {
                            var $td = $tr.children('.childs-td-template').clone(true).removeClass('childs-td-template').appendTo($tr);
                            $td.attr('data-value', definition.entities[tr_key].name);
                            $td.children('a').html('<img src="/api2/entity-' + definition.entities[tr_key].id + '/picture" style="height:25px; max-width:25px; margin-right:5px; " />' + definition.entities[tr_key].name);
                            $td.children('a').attr('href', '#'+definition.entities[tr_key].id);
                        }

                        $tr.children('.childs-td-template').remove();
                    }
                    $element.find('.childs-tr-template').remove();

                    //show it
                    $.bootstrapSortable(true, 'reversed');
                    $element.show();
                }
                spinner(div);
            }, 'json');
        }

        $('.toggle-table').css('cursor', 'pointer');
        $('.toggle-table').click(function() {
            $(this).next('table').toggle();
            $(this).toggleClass('no-print');
        });

        $('#toolbar').html($('#toolbar_template').html());
        $('#toolbar_template').html('')

        $.bootstrapSortable(true, 'reversed');

        change_fullscreen_icon();

        function change_fullscreen_icon() {
            if($('#content').hasClass('fullscreen')) {
                $('#toolbar-item-fullscreen').children('i').removeClass('fa-expand');
                $('#toolbar-item-fullscreen').children('i').addClass('fa-compress');
            } else {
                $('#toolbar-item-fullscreen').children('i').removeClass('fa-compress');
                $('#toolbar-item-fullscreen').children('i').addClass('fa-expand');
            }
        }

        $('#toolbar-item-fullscreen').click(function() {
            if($('#content').hasClass('fullscreen')) {
                if($('#content').hasClass('menu-hidden')) {
                    $('#menu_hidden').show();
                } else {
                    $('#menu').show();
                };
                $('#list').show();
                $('#list_search').show();
                $('#content').css('left', parseInt($('#list').css('left'))+parseInt($('#list').css('width'))+'px');
                $('#content').removeClass('fullscreen');
            } else {
                if($('#content').hasClass('menu-hidden')) {
                    $('#menu_hidden').hide();
                } else {
                    $('#menu').hide();
                };
                $('#list').hide();
                $('#list_search').hide();
                $('#content').css('left', '0px');
                $('#content').addClass('fullscreen');
            }
            change_fullscreen_icon();
        });

        $('.open-modal-box').click(function() {
            url = $(this).data('url');
            $.get(url, function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
                setTimeout(function () {
                    $(':text:input:first').focus();
                    document.body.style.cursor = 'default';
                }, 400);
            });
        });

        $('.html-property').each(function() {
            div = $(this);
            $.get('/entity-{{ entity['id'] }}/html-'+div.data('property'), function(html) {
                div.html(html);
            });
        });

    });
</script>
