<div id="list">
    <div id="list_search"><input type="search" id="searchbox" class="search-query" placeholder="{{ _('search_placeholder') }}" /><span></span></div>
    <div id="list_items"></div>
    <div id="list_end"></div>
</div>
<a class="listitem listitem-template" tabindex="0" style="display:none;"><img /><span></span></a>

<ul id="list_toolbar_template" style="display:none;">
    {% if add_definitions %}
        <li class="dropdown">
            <a href="#" class="toolbar-item dropdown-toggle header-menu-item" data-toggle="dropdown" title="{{ _('menu_add') }}"><i class="fa fa-plus"></i></a>
            <ul class="dropdown-menu">
                {% for ck, cv in add_definitions.iteritems() %}
                    <li class="dropdown-header">{{ _('menu_add_under').replace('%s', ck) }}</li>
                    {% for c in sorted(cv, key=itemgetter('label')) %}
                        <li><a href="javascript:void(0);" class="open-modal-box" data-url="/entity-{{ c['related_entity_id'] }}/add/{{ c['keyname'] }}">{{ c['label'] }}</a></li>
                    {% end %}
                {% end %}
            </ul>
        </li>
    {% end %}
    <li><a href="javascript:void(0);" id="toolbar-item-tableview" class="toolbar-item " title="{{ _('menu_tableview') }}"><i class="fa fa-table"></i></a></li>
</ul>


<script>

    function open_item(id, skip_push_state) {
        $('#content').html('');
        $('#toolbar').html('');
        $('#list_items a.active').removeClass('active');
        if(id) {
            spinner('open_item');
            $('#listitem_'+id).addClass('active');
            $.get('/entity-'+id, function(html) {
                spinner('open_item');
                $('#content').html(html);
            });
            if(!skip_push_state) {
                window.history.replaceState('entity-'+id, '', '/entity/{{ entity_definition_keyname }}/' + id);
            };
            if(typeof _gaq != 'undefined') {
                _gaq.push(['_trackPageview', '/entity-'+id]);
            }
        } else {
            $('#toolbar').html($('#list_toolbar_template').html());
            $('#content').html('');
        }

        {% if intercom_key %}
            window.Intercom('update');
        {% end %}
    };

    $(document).ready(function(){
        items = [];

        get_list();
        if(window.location.hash.substring(1)) {
            open_item(window.location.hash.substring(1));
        } else {
            open_item(window.location.pathname.replace('/entity/{{ entity_definition_keyname }}', '').replace('/', ''));
        }

        window.onpopstate = function(e){
            if(e.state) {
                open_item(window.location.pathname.replace('/entity/{{ entity_definition_keyname }}', '').replace('/', ''), false);
            };
        };

        $(window).bind('hashchange', function() {
            open_item(window.location.hash.substring(1));
        });

        function get_list() {
            if($('#list_end').data('page') < 0) return;

            spinner('list');
            var limit = 25;
            var page = 1;
            if($('#list_end').data('page') > 0) {
                var page = $('#list_end').data('page');
            } else {
                $('#list_items').html('');
            }
            $('#list_end').data('page', -1);

            $.get('/api2/entity', {'query': $('#searchbox').val(), 'definition': '{{ entity_definition_keyname }}', 'limit': limit, 'page': page}, function(data) {
                for (var e_key in data.result){
                    var $element = $('.listitem-template').clone(true).removeClass('listitem-template').appendTo('#list_items');
                    $element.attr('id', 'listitem_'+data.result[e_key].id);
                    $element.attr('href', '#'+data.result[e_key].id);
                    $element.children('span').before(data.result[e_key].name);
                    $element.children('span').html(data.result[e_key].info);
                    $element.children('img').attr('src', '/api2/entity-'+data.result[e_key].id+'/picture');
                    $element.show();
                }

                if(data.result.length < limit) {
                    $('#list_end').data('page', -1);
                } else {
                    $('#list_end').data('page', page+1);
                }
                switch(data.count) {
                    case 0:
                        $('#list_search span').html("{{ _('search_noresult') }}");
                        break;
                    case 1:
                        $('#list_search span').html("{{ _('search_result_count1') }}".replace('%s', data.count));
                        break;
                    default:
                        $('#list_search span').html("{{ _('search_result_count2') }}".replace('%s', data.count));
                        break;
                }

                spinner('list');
            }, 'json');
        }

        var delay = (function(){
            var timer = 0;
            return function(callback, ms){
                clearTimeout (timer);
                timer = setTimeout(callback, ms);
            };
        })();

        old_search = $('#searchbox').val();
        $('#searchbox').keyup(function(e) {
            delay(function(){
                if(old_search != $('#searchbox').val()) {
                    old_search = $('#searchbox').val();
                    $('#list_end').data('page', false);
                    get_list();
                };
            }, 1000 );
        });

        $('#list').scroll(function() {
            position = $('#list_end').position();
            if ((position.top - $(document).height()) < 250) {
                get_list();
            }
        });

        $(document.body).on('keyup', '.listitem', function(e){
            if (e.keyCode == 38 && $(this).prev().attr('href')) {
                window.location = $(this).prev().attr('href')
                $(this).prev().focus()
            };
            if (e.keyCode == 40 && $(this).next().attr('href')) {
                window.location = $(this).next().attr('href')
                $(this).next().focus()
            };
        });

        $('.open-modal-box').click(function() {
            url = $(this).data('url');
            $.get(url, function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
                setTimeout(function () {
                    $(':text:input:first').focus();
                    document.body.style.cursor = 'default';
                }, 400);
            });
        });

        $('#modal-box').on('hide', function () {
            if($('#modal-box').data('open_entity_id')) {
                open_item($('#modal-box').data('open_entity_id'), false);
            } else {
                open_item(window.location.pathname.replace('/entity/{{ entity_definition_keyname }}', '').replace('/', ''), false);
            }
        })

        function change_tableview_icon() {
            if($('#tableview').hasClass('fullscreen')) {
                $('#toolbar-item-tableview').children('i').removeClass('fa-table');
                $('#toolbar-item-tableview').children('i').addClass('fa-columns');
            } else {
                $('#toolbar-item-tableview').children('i').removeClass('fa-columns');
                $('#toolbar-item-tableview').children('i').addClass('fa-table');
            }
        }

        $('#toolbar-item-tableview').click(function() {
            if($('#tableview').hasClass('fullscreen')) {
                if($('#tableview').hasClass('menu-hidden')) {
                    $('#menu_hidden').show();
                } else {
                    $('#menu').show();
                };
                $('#list').show();
                $('#list_search').show();
                $('#content').show();
                $('#tableview').hide();
                $('#tableview').css('left', parseInt($('#list').css('left'))+parseInt($('#list').css('width'))+'px');
                $('#tableview').removeClass('fullscreen');
            } else {
                spinner('tableview');
                if($('#tableview').hasClass('menu-hidden')) {
                    $('#menu_hidden').hide();
                } else {
                    $('#menu').hide();
                };
                $('#list').hide();
                $('#list_search').hide();
                $('#content').hide();
                $('#tableview').show();
                $('#tableview').css('left', '0px');
                $('#tableview').addClass('fullscreen');
                $.post('/entity/table/{{ entity_definition_keyname }}', { 'q': $('#searchbox').val() },
                    function(html) {
                        $('#tableview').html(html);
                        spinner('tableview');
                    }
                );
            }
            change_tableview_icon();
        });


    });
</script>
