<div class="modal-header" style="border:none;">
    <h3>{{ _('menu_rights') }}</h3>
</div>
<div class="modal-body" style="padding:0px;">
    <table class="table" style="margin:15px auto 20px auto; width:560px;" data-intro="{{ _('rights_help_share') }}" data-position="left">
        <tbody>
            <tr class="share{% if sharing == 'public' %} share-selected{% end %}" data-value="public" style="cursor:pointer;">
                <td class="share-icon" style="vertical-align:middle; border:none; font-size:30px; color:gray;"><i class="fa fa-globe"></i></td>
                <td class="share-name" style="width:100%; vertical-align:middle; padding: 8px; border:none;">
                    {{ _('rights_public') }}<br />
                    <span style="font-size:12px; font-weight:normal; color:gray;">{{ _('rights_public_desc') }}</span>
                </td>
                <td class="share-cb" style="vertical-align:middle; border:none; font-size:24px; color:#F5F5F5;"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="share{% if sharing == 'domain' %} share-selected{% end %}" data-value="domain" style="cursor:pointer;">
                <td class="share-icon" style="vertical-align:middle; font-size:30px; color:gray;"><i class="fa fa-home"></i></td>
                <td class="share-name" style="width:100%; vertical-align:middle; padding: 8px;">
                    {{ _('rights_domain') % app_organisation }}<br />
                    <span style="font-size:12px; font-weight:normal; color:gray;">{{ _('rights_domain_desc') % app_organisation }}</span>
                </td>
                <td class="share-cb" style="vertical-align:middle; font-size:24px; color:#F5F5F5;"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="share{% if sharing == 'private' %} share-selected{% end %}" data-value="private" style="cursor:pointer;">
                <td class="share-icon" style="vertical-align:middle; font-size:30px; color:gray;"><i class="fa fa-user" style="font-size:30px;"></i></td>
                <td class="share-name" style="width:100%; vertical-align:middle; padding: 8px;">
                    {{ _('rights_private') }}<br />
                    <span style="font-size:12px; font-weight:normal; color:gray;">{{ _('rights_private_desc') }}</span>
                </td>
                <td class="share-cb" style="vertical-align:middle; font-size:24px; color:#F5F5F5;"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="" data-value="link">
                <td class="share-icon" style="vertical-align:middle; font-size:30px; color:gray;"><i class="fa fa-link"></i></td>
                <td class="share-name" style="width:100%; vertical-align:middle; padding: 8px;" colspan="2">
                    {{ _('rights_link') }}<br />
                    <span style="font-size:12px; font-weight:normal; color:gray;">{{ _('rights_link_desc') }}</span><br />
                    <a id="generate-sharing-link" style="margin-top:10px; font-size:12px; color:green; {% if sharing_link %}display:none;{% end %}" href="javascript:void(0);">{{ _('rights_generate_link') }}</a>
                    <a id="sharing-link" style="margin-top:10px; font-size:12px; {% if not sharing_link %}display:none;{% end %}" href="{{ sharing_link }}" target="_blank">{{ sharing_link }}</a><br />
                    <a id="delete-sharing-link" style="margin-top:10px; font-size:12px; color:red; {% if not sharing_link %}display:none;{% end %}" href="javascript:void(0);">{{ _('rights_delete_link') }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="edit-form table table-bordered" style="margin:0px;" data-intro="{{ _('rights_help_rights') }}" data-position="right">
        <tbody>
            {% for r in rights %}
            <tr class="rights rights-{{ r['right'] }}" {% if r['id'] %}data-id="{{ r['id'] }}"{% else %}id="rights-new" style="display:none;"{% end %}>
                <th class="rights-name" {% if r['id'] == current_user.get('id') %} style="color:grey;"{% end %}>
                    {{ r['name'] }}
                </th>
                <td class="{% if r['id'] != current_user.get('id') %}rights-icon{% end %}" data-value="" data-title="{{ _('rights_no_access') }}" style="width:50px; text-align:center; vertical-align:middle; font-size:20px; color:#F5F5F5; cursor:pointer;"><i class="fa fa-ban"></i></td>
                <td class="{% if r['id'] != current_user.get('id') %}rights-icon{% end %}{% if r['right'] == 'viewer' %} rights-selected{% end %}" data-value="viewer" data-title="{{ _('rights_can_view') }}" style="width:50px; text-align:center; vertical-align:middle; font-size:20px; color:#F5F5F5; cursor:pointer;"><i class="fa fa-eye"></i></td>
                <td class="{% if r['id'] != current_user.get('id') %}rights-icon{% end %}{% if r['right'] == 'expander' %} rights-selected{% end %}" data-value="expander" data-title="{{ _('rights_can_add_child') }}" style="width:50px; text-align:center; vertical-align:middle; font-size:20px; color:#F5F5F5; cursor:pointer;"><i class="fa fa-plus"></i></td>
                <td class="{% if r['id'] != current_user.get('id') %}rights-icon{% end %}{% if r['right'] == 'editor' %} rights-selected{% end %}" data-value="editor" data-title="{{ _('rights_can_edit') }}" style="width:50px; text-align:center; vertical-align:middle; font-size:20px; color:#F5F5F5; cursor:pointer;"><i class="fa fa-pencil"></i></td>
                <td class="{% if r['id'] != current_user.get('id') %}rights-icon{% end %}{% if r['right'] == 'owner' %} rights-selected{% end %}" data-value="owner" data-title="{{ _('rights_owner') }}" style="width:50px; text-align:center; vertical-align:middle; font-size:20px; color:#F5F5F5; cursor:pointer;"><i class="fa fa-unlock"></i></td>
                <td class="rights-title" style="padding:8px; vertical-align:middle; font-size:12px;"></td>
            </tr>
            {% end %}
        </tbody>
    </table>
    <table class="edit-form table table-bordered" style="margin:30px 0px 50px 0px;">
        <tbody>
            <tr class="rights">
                <th style=" border-top:none;">
                    {{ _('rights_add_user') }}
                </th>
                <td colspan="6" data-intro="{{ _('rights_help_add') }}" data-position="bottom">
                    <input id="add-new-person" style="width:100%;" />
                </td>
        </tbody>
    </table>

</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
</div>

<script>

    $(document).ready(function(){

        $('#add_user').select2();

        $('.share-selected').each(function() {
            select_sharing($(this));
        });

        $('.share').click(function() {
            select_sharing($(this));
            $.post('/entity-{{ entity_id }}/rights', { sharing: $(this).data('value') });
        });

        $('#generate-sharing-link').click(function() {
            $('#generate-sharing-link').hide();
            $.post('/entity-{{ entity_id }}/rights', { generate_link: true }, function(data) {
                $('#sharing-link').html(data);
                $('#sharing-link').attr('href', data);
                $('#sharing-link').show();
                $('#delete-sharing-link').show();
            });
        });

        $('#delete-sharing-link').click(function() {
            $('#delete-sharing-link').hide();
            $.post('/entity-{{ entity_id }}/rights', { delete_link: true }, function(data) {
                $('#sharing-link').html('');
                $('#sharing-link').attr('href', '');
                $('#sharing-link').hide();
                $('#generate-sharing-link').show();
            });
        });

        function select_sharing(object) {
            $('.share-icon').css('color', 'gray');
            $('.share-cb').css('color', '#F5F5F5');
            $('.share-name').css('font-weight', 'normal');
            object.children('.share-icon').css('color', 'black');
            object.children('.share-cb').css('color', 'green');
            object.children('.share-name').css('font-weight', 'bold');
            $('.share-selected').removeClass('share-selected');
            object.addClass('share-selected');
        }

        $('.rights').hover(function() {
        }, function() {
            $(this).children('.rights-icon').css('color', '#F5F5F5');
            $(this).children('.rights-icon-selected').css('color', '#2E2E2E');
            if ($(this).data('title')) {
                $(this).children('.rights-title').html($(this).data('title'));
            } else {
                $(this).children('.rights-title').html('');
            }
        });

        $('.rights-icon').hover(function() {
            $(this).parent('tr').children('.rights-title').html($(this).data('title'));
        });

        $('.rights-icon').click(function() {
            select_right($(this));
            set_right($(this).parent('tr').data('id'), $(this).data('value'));
        });

        $('.rights-selected').each(function() {
            select_right($(this));
        });

        function select_right(object) {
            object.parent('tr').data('title', object.data('title'));
            object.parent('tr').children('.rights-title').html(object.data('title'));

            object.parent('tr').children('.rights-icon').removeClass('rights-icon-selected');
            object.addClass('rights-icon-selected');

            object.parent('tr').children('.rights-icon').css('color', '#F5F5F5');
            object.css('color', '#2E2E2E');
        }

        function set_right(id, right) {
            $.post('/entity-{{ entity_id }}/rights', { person: id, right: right });
        }

        $('#add-new-person').select2({
            placeholder: ' ',
            minimumInputLength: 1,
            multiple: true,
            ajax: {
                url: '/entity/users',
                dataType: 'json',
                quietMillis: 1000,
                data: function (term, page) {
                    return {
                        q: term,
                        definition: 'person',
                        exclude_entity: '{{ ','.join([str(x['id']) for x in rights if x.get('id')]) }}',
                    };
                },
                results: function (data, page) {
                    return {results: data.entities};
                }
            },
            formatResult: function (data) {
                if(data.image) {
                    image = '<img src="'+data.image+'" />';
                } else {
                    image = '';
                };
                if(data.info) {
                    info = '<span>'+data.info+'</span>';
                } else {
                    info = '';
                };
                return '<div class="select2-result-item">'+image+data.title+info+'</div>';
            },
        });

        $('#add-new-person').change(function(e) {
            var value = e.added;
            $(this).select2('val', '');
            set_right(value.id, 'viewer');
            var newrow_template = $('#rights-new');
            var newrow = newrow_template.clone(true);
            newrow.removeAttr('id');
            newrow.children('.rights-name').html(value.title);
            newrow.data('id', value.id)
            select_right(newrow.children(".rights-icon[data-value='viewer']"));
            newrow_template.before(newrow);
            newrow.show();
        });

    });
</script>
