{% autoescape None %}
{% extends '../../main/template/index.html' %}

{% block head %}
{% end %}

{% block logo_url %}/entity{% end %}

{% block fluid %}-fluid{% end %}

{% block left_toolbar %}
{% end %}

{% block right_toolbar %}
    <ul class="nav pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle header-menu-item toolbar-item">{{ current_user.name }}<img src="{{ current_user.picture }}" style="margin: -8px -8px -8px 10px;height:36px; width:36px;" ></a>
            <ul class="dropdown-menu" style="margin-right:5px; mrgin-top:0px;">
                <li><a href="javascript:void(0);" class="open-modal-box" data-url="/user/preferences"><i class="icon-cog"></i> {{ _('menu_preferences') }}</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0);" id="logout"><i class="icon-off" style="font-size:14px;"></i> {{ _('menu_exit') }}</a></li>
            </ul>
        </li>
    </ul>
    <ul id="toolbar" class="nav pull-right">
    </ul>
{% end %}

{% block content %}
{% from operator import itemgetter %}
    <div class="container-fluid">
        <div id="menu_hidden">
            <div class="rotate">{{ entity_definition_label }}</div>
        </div>
        <div id="menu">
            <div id="menu_accordion" class="accordion">
                {% for m in menu %}
                    <h3><a href="#">{{ m['label'] }}</a></h3>
                    <div>
                        {% for i in sorted(m['items'], key=itemgetter('title')) %}
                            <a href="/entity/{{ i['keyname'] }}">{{ i['title'] }}</a>
                        {% end %}
                    </div>
                {% end %}
            </div>
        </div>
        {% if show_list %}
            {% include 'list.html'%}
            <div id="content">
            </div>
        {% else %}
            <div id="content-wide">
                <div class="pull-right span4">
                    <div class="well alert-success pull-right span4">
                        <h3 style="margin:0px;">{{ _('version_history') }}</h3>
                        {{ history }}
                    </div>
                    <div class="well alert-success pull-right span4">
                        <h3 style="margin:0px;">{{ _('quota') }}</h3>
                        {{ _('quota_entities') % (quota_entities_used, quota_entities) }}
                        <div class="progress">
                            {% if quota_entities_used > quota_entities %}
                            <div class="bar bar-success" style="width: {{ round(quota_entities * 100 / quota_entities_used) }}%;"></div>
                            <div class="bar bar-danger" style="width: {{ 100 - round(quota_entities * 100 / quota_entities_used) }}%;"></div>
                            {% else %}
                            <div class="bar {% if round(quota_entities_used * 100 / quota_entities) > 80 %}bar-warning{% else %} bar-success{% end %}" style="width: {{ round(quota_entities_used * 100 / quota_entities) }}%;"></div>
                            {% end %}
                        </div>
                        {{ _('quota_files') % (quota_size_used_human, quota_size_human) }}
                        <div class="progress" style="margin:0px;">
                            {% if quota_size_used > quota_size %}
                            <div class="bar bar-success" style="width: {{ round(quota_size * 100 / quota_size_used) }}%;"></div>
                            <div class="bar bar-danger" style="width: {{ 100 - round(quota_size * 100 / quota_size_used) }}%;"></div>
                            {% else %}
                            <div class="bar {% if round(quota_size_used * 100 / quota_size) > 80 %}bar-warning{% else %} bar-success{% end %}" style="width: {{ round(quota_size_used * 100 / quota_size) }}%;"></div>
                            {% end %}
                        </div>
                    </div>
                </div>
            </div>
        {% end %}
    </div>

    <script>
        $(document).ready(function(){

        {% if show_list and current_user.hide_menu == True %}
            menu_hide();

            $('#menu, #menu_hidden').hover(function() {
                menu_show();
            }, function() {
                menu_hide();
            });

            $('#menu_hidden').click(function() {
                menu_show();
            });

            function menu_show() {
                $('#menu').show();
                $('#menu_hidden').hide();
                $('#list').css('left', parseInt($('#menu').css('width'))+1+'px');
                $('#list_search').css('left', parseInt($('#menu').css('width'))+1+'px');
                $('#content').css('left', parseInt($('#list').css('left'))+parseInt($('#list').css('width'))+'px');
                $('#content').removeClass('menu-hidden');
                $('#menu_accordion').accordion('resize');
            };
            function menu_hide(){
                $('#menu').hide();
                $('#menu_hidden').show();
                $('#list').css('left', parseInt($('#menu_hidden').css('width'))+1+'px');
                $('#list_search').css('left', parseInt($('#menu_hidden').css('width'))+1+'px');
                $('#content').css('left', parseInt($('#list').css('left'))+parseInt($('#list').css('width'))+'px');
                $('#content').addClass('menu-hidden');
            };
        {% end %}

            $('.open-modal-box').click(function() {
                url = $(this).data('url');
                $.get(url, function(html) {
                    document.body.style.cursor = 'wait';
                    $('#modal-box').modal('show');
                    $('#modal-box').html(html);
                    setTimeout(function () {
                        $(':text:input:first').focus();
                        document.body.style.cursor = 'default';
                    }, 400);
                });
            });

            $('#logout').click(function(e) {
                newwindow = window.open('/exit', 'do_entu_logout', 'height=200,width=150');
                close = setInterval(function() {
                    newwindow.close();
                    window.location.href=window.location.href;
                    clearInterval(close)
                }, 3000);
            });

            $('.accordion').accordion({
                fillSpace: true,
                navigation: true,
            });
            $('#menu').find("a[href='"+window.location.pathname+"']").each(function(){
                $(this).addClass('active')
            })

            $(window).resize(function(){
                $('#menu_accordion').accordion('resize');
            });

        });
    </script>
{% end %}
