{% from operator import itemgetter %}

<div class="modal-header" style="border:none;">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{ entity.get('displayname', '') }}</h3>
</div>
<div class="modal-body" style="padding:0px;">
    <table class="table table-condensed" style="margin:0px;">
        <tbody>
            {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
            <tr{% if p['description'] %} title="{{ p['description'] }}"{% end %}>
                <th style="min-width:200px; text-align:right; vertical-align:middle;">
                    <h6{%if p['public'] %} style="color:black;"{% end %}>{%if p['multiplicity'] == 1 %}{{ p['label'] }}{% else %}{{ p['label_plural'] }}{% end %}</h6>
                </th>
                <td style="padding-bottom:0px; vertical-align:middle;">
                    {% if p['datatype'] in ['string', 'datetime', 'date', 'integer', 'decimal'] %}
                        {% if p.get('select', None) %}
                            {% for v in p['values'] %}
                                <select class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" style="width:100%; margin-bottom:4px;">
                                    <option value=""></option>
                                    {% for s in p.get('select','') %}
                                    <option value="{{ s['label'] }}" {% if s['label'] == v['value'] %} selected{% end %}>{{ s['label'] }}</option>
                                    {% end %}
                                </select>
                            {% end %}
                        {% else %}
                            {% for v in p['values'] %}
                                <input type="text" class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ v['value'] }}" value="{{ v['value'] }}" style="width:98%; margin-bottom:4px;" />
                            {% end %}
                        {% end %}
                    {% elif p['datatype'] in ['text', 'javascript'] %}
                        {% for v in p['values'] %}
                            <textarea class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ v['value'] }}" style="width:98%; margin-bottom:4px;">{{ v['value'] }}</textarea>
                        {% end %}
                    {% elif p['datatype'] == 'boolean' %}
                        {% for v in p['values'] %}
                            <input type="checkbox" class="autosave {% if p['can_add_new'] %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" {% if v.get('db_value', 0) == 1 %} checked{% end %} style="margin-bottom:4px;" />
                        {% end %}
                    {% elif p['datatype'] == 'file' %}
                        {% for v in p['values'] %}
                            {% if not v['id'] %}
                                <span id="blobstore_upload_{{ p['id'] }}"></span>
                                <img src="{{ static_url('images/spinner_white.gif') }}" style="display:none;" />
                                <iframe name="iframe_{{ p['id'] }}" height="0" width="0" frameborder="0" scrolling="no" onLoad="showDocument(this.contentWindow.document.body.innerHTML, '#blobstore_upload_{{ p['id'] }}');" style="display:none;"></iframe>
                                <form method="post" action="/entity/save" target="iframe_{{ p['id'] }}" enctype="multipart/form-data" style="margin:0px; padding:0px;">
                                    <input type="hidden" class="file_entity_id" name="entity_id" value="{{ entity.get('id', '') }}" />
                                    <input type="hidden" name="parent_entity_id" value="{{ parent_entity_id }}" />
                                    <input type="hidden" name="entity_definition_id" value="{{ entity_definition_id }}" />
                                    <input type="hidden" name="property_id" value="{{ p['id'] }}" />
                                    <input type="file" name="file" class="dtype-{{ p['datatype'] }}" style="border:none; width:80px; margin-bottom:4px;" />
                                </form>
                            {% else %}
                                <a href="/entity/file-{{ v['db_value'] }}">{{ v['value'] }}</a><br />
                            {% end %}
                        {% end %}
                    {% elif p['datatype'] == 'counter_value' %}
                        {% for v in p['values'] %}
                            {% if v['value'] %}
                                {{ v['value'] }}
                            {% else %}
                                <button data-property="{{ p['id'] }}" data-id="{{ v['id'] }}" class="counter btn btn-warning" style="margin-bottom:4px;">{{ _('counter_generate_value') }}...</button>
                            {% end %}
                        {% end %}
                    {% else %}
                        {{ ', '.join(['%s' % v['value'] for v in p['values'] if v['value']]) }}
                    {% end %}
                </td>
            </tr>
            {% end %}
            <tr title="{{ _('public_description') }}">
                <th style="text-align:right; white-space:nowrap; vertical-align:middle;">
                    <h6>{{ _('public') }}</h6>
                </th>
                <td style="width:100%; vertical-align:middle;">
                    <input type="checkbox" class="is_public" {% if entity.get('is_public', False) %} checked{% end %} />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
</div>

<div id="database" data-entity_id="{{ entity.get('id', '') }}" style="display:hidden;"></div>

<script>


    function showDocument(json_string, div){
        newvalue = jQuery.parseJSON(json_string.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">','').replace('</pre>',''))
        $('#database').data('entity_id', newvalue.entity_id);
        $('.file_entity_id').val(newvalue.entity_id);
        $(div).append(newvalue.value+'<br />');
        $(div).parent().children('img').hide();
        $(div).parent().children('form').children('.dtype-file').val('');
        $(div).parent().children('form').show();
    };

    $(document).ready(function(){

        document.body.style.cursor = 'default';

        $('[title]').tooltip({placement: 'bottom'});
        $('textarea').elastic();

        $('.dtype-datetime').change(function() {
            $(this).val(format_date($(this).val(), 'yyyy-MM-dd HH:mm'));
        });
        $('.dtype-date').change(function() {
            $(this).val(format_date($(this).val(), 'yyyy-MM-dd'));
        });
        function format_date(dinput, format) {
            var result = ''
            dvalue = Date.parse(dinput);
            if(dvalue) {
                result = dvalue.toString(format);
            }
            return result;
        }

        $('.can_add_new').keypress(function() {
            var inputbox = $(this);
            var newinput = inputbox.clone(true);
            newinput.val('');
            newinput.removeData('id');
            newinput.removeData('value');
            inputbox.after(newinput);
            inputbox.removeClass('can_add_new');
            inputbox.unbind('keypress');
        });

        $('.counter').click(function() {
            var inputbox = $(this);
            var inputbox_parent = $(this).parent();
            inputbox_parent.html('<img src="{{ static_url('images/spinner_white.gif') }}" class="spinner" />');
            $.post('/entity/save', {
                counter: 'true',
                entity_id: $('#database').data('entity_id'),
                parent_entity_id: '{{ parent_entity_id }}',
                entity_definition_id: '{{ entity_definition_id }}',
                property_id: inputbox.data('property'),
            },
            function(newvalue) {
                //alert(JSON.stringify(newvalue));
                $('#database').data('entity_id', newvalue.entity_id);
                $('.file_entity_id').val(newvalue.entity_id);
                inputbox_parent.html(newvalue.value);
            }, 'json');
        });

        $('.autosave').change(function() {
            var inputbox = $(this);
            if (inputbox.attr('type') == 'checkbox') {
                value = inputbox.is(':checked');
            } else {
                value = inputbox.val();
            }
            if (value != inputbox.data('value')) {
                $.post('/entity/save', {
                    entity_id: $('#database').data('entity_id'),
                    parent_entity_id: '{{ parent_entity_id }}',
                    entity_definition_id: '{{ entity_definition_id }}',
                    property_id: inputbox.data('property'),
                    value_id: inputbox.data('id'),
                    value: value
                },
                function(newvalue) {
                    //alert(JSON.stringify(newvalue));
                    $('#database').data('entity_id', newvalue.entity_id);
                    $('.file_entity_id').val(newvalue.entity_id);
                    inputbox.data('id', newvalue.value_id);
                }, 'json');
            }
        });

        $('.is_public').change(function() {
            var inputbox = $(this);
            value = inputbox.is(':checked');
            $.post('/entity/save', {
                entity_id: $('#database').data('entity_id'),
                parent_entity_id: '{{ parent_entity_id }}',
                entity_definition_id: '{{ entity_definition_id }}',
                is_public: 'true',
                value: value
            },
            function(newvalue) {
                //alert(JSON.stringify(newvalue));
                $('#database').data('entity_id', newvalue.entity_id);
                $('.file_entity_id').val(newvalue.entity_id);
            }, 'json');
        });

        $('.dtype-file').change(function() {
            $(this).parent().hide();
            $(this).parent().parent().children('img').show()
            $(this).parent().submit();

        });

    });
</script>
