{% from operator import itemgetter %}

<div class="modal-header">
    <a class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
    <h3>{{ entity.get('displayname', '') }}</h3>
</div>
<div class="modal-body">
    {% if actions %}
        <ul class="nav nav-tabs">
            {% for idx, action in enumerate(actions) %}
                <li{% if idx == 0 %} class="active"{% end %}><a href="#{{ action }}" data-toggle="tab">{{ _('action_add_%s' % action) }}</a></li>
            {% end %}
            <li><a href="#home" data-toggle="tab">{{ _('action_add_default') }}</a></li>
        </ul>
    {% end %}
    <div class="tab-content">
        {% for idx, action in enumerate(actions) %}
            <div id="{{ action }}" class="tab-pane{% if idx == 0 %} active{% end %}" >
                {% if action == 'ester' %}{% include '../action/ester.html' %}{% end %}
                {% if action == 'csv' %}{% include '../action/csv.html' %}{% end %}
            </div>
        {% end %}
        <table id="home" class="edit-form table table-bordered{% if actions %} tab-pane{% end %}">
            <tbody>
                {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
                    {% for idx, v in enumerate(p['values']) %}
                    <tr{% if p['description'] %} title="{{ p['description'] }}"{% end %}>
                        {% if idx == 0 %}
                        <th style="{%if not p['public'] %}color:gray;{% end %}" rowspan="{{ len(p['values']) }}">
                            {%if p['multiplicity'] == 1 %}{{ p['label'] }}{% else %}{{ p['label_plural'] }}{% end %}
                        </th>
                        {% end %}
                        <td>
                            {% if p['readonly'] %}
                                <span style="padding:8px; font-style:italic; color:gray;">{{ ', '.join(['%s' % v['value'] for v in p['values'] if v['value']]) }}</span>
                            {% else %}
                                {% if p['datatype'] in ['string', 'datetime', 'date', 'integer', 'decimal'] %}
                                    {% if p.get('select', None) %}
                                        <select class="autosave {% if p['can_add_new'] and idx+1 == len(p['values']) %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}">
                                            <option value=""></option>
                                            {% for s in p.get('select','') %}
                                            <option value="{{ s['label'] }}" {% if s['label'] == v['value'] %} selected{% end %}>{{ s['label'] }}</option>
                                            {% end %}
                                        </select>
                                    {% else %}
                                        <input type="text" class="autosave {% if p['can_add_new'] and idx+1 == len(p['values']) %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" value="{{ v['db_value'] }}" />
                                    {% end %}
                                {% elif p['datatype'] in ['text', 'html'] %}
                                    <textarea class="autosave {% if p['can_add_new'] and idx+1 == len(p['values']) %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" data-value="{{ v['value'] }}">{{ v['value'] }}</textarea>
                                {% elif p['datatype'] == 'boolean' %}
                                    <input type="checkbox" class="autosave {% if p['can_add_new'] and idx+1 == len(p['values']) %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" {% if v.get('db_value', 0) == 1 %} checked{% end %} />
                                {% elif p['datatype'] == 'file' %}
                                    {% if not v['id'] %}
                                        <div class="new-filenames" style="padding:0px;"></div>
                                        <img src="{{ static_url('images/spinner_white.gif') }}" style="display:none; padding:8px;" />
                                        <iframe name="iframe_{{ p['keyname'] }}" height="0" width="0" frameborder="0" scrolling="no" onLoad="showDocument(this.contentWindow.document.body.innerHTML, '#upload-form-{{ p['keyname'] }}');" style="display:none;"></iframe>
                                        <form id="upload-form-{{ p['keyname'] }}" method="post" action="/entity/save" target="iframe_{{ p['keyname'] }}" enctype="multipart/form-data" style="margin:0px; padding:0px;">
                                            <input type="hidden" name="is_file" value="true" />
                                            <input type="hidden" class="file_entity_id" name="entity_id" value="{{ entity.get('id', '') }}" />
                                            <input type="hidden" name="parent_entity_id" value="{{ parent_entity_id }}" />
                                            <input type="hidden" name="entity_definition_keyname" value="{{ entity_definition_keyname }}" />
                                            <input type="hidden" name="property_definition_keyname" value="{{ p['keyname'] }}" />
                                            <input type="hidden" name="dropbox_file" id="dropbox-file" />
                                            <input type="hidden" name="dropbox_name" id="dropbox-name" />
                                            <div class="edit" style="height:23px;">
                                                <input type="file" name="value" class="dtype-{{ p['datatype'] }}" data-form="#upload-form-{{ p['keyname'] }}" title="{{ _('add_files_computer') }}" multiple />
                                                <label class="dropbox-open btn btn-mini pull-right" data-form="#upload-form-{{ p['keyname'] }}">{{ _('add_files_dropbox') }}</label>
                                            <div>
                                        </form>
                                    {% else %}
                                        <div class="delete-file-row edit" style="padding:8px;"><a href="/entity/file-{{ v['db_value'] }}">{{ v['value'] }}</a> <a href="javascript:void(0);" data-property_id="{{ v['id'] }}" class="delete-file" style="float:right; display:none;"><i class="icon-trash" style="color:red;"></i></a></div>
                                    {% end %}
                                {% elif p['datatype'] == 'counter-value' %}
                                    {% if v['value'] %}
                                        <span style="padding:8px;">{{ v['value'] }}</span>
                                    {% else %}
                                        <button data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" class="counter btn btn-warning btn-mini" style="margin:8px;">{{ _('counter_generate_value') }}...</button>
                                    {% end %}
                                {% elif p['datatype'] == 'reference' %}
                                    <input type="hidden" class="autosave reference" data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" {% if v['db_value'] %} data-value="{{ v['db_value'] }}"{% end %} value="{{ v['value'] }}" data-reference_definition="{{ p.get('reference_definition') }}" style="width:100%;" />
                                {% elif p['datatype'] == 'dynamic' %}
                                    <input type="text" class="autosave {% if p['can_add_new'] and idx+1 == len(p['values']) %}can_add_new{% end %} dtype-{{ p['datatype'] }}" data-property_definition_keyname="{{ p['keyname'] }}" data-id="{{ v['id'] }}" data-value="{{ v['db_value'] }}" value="{{ v['db_value'] }}" />
                                {% else %}
                                    <span style="padding:8px; font-style:italic; color:gray;">{{ ', '.join(['%s' % v['value'] for v in p['values'] if v['value']]) }}</span>
                                {% end %}
                            {% end %}
                        </td>
                    </tr>
                    {% end %}
                {% end %}
                <tr title="{{ _('public_description') }}">
                    <th>
                        {{ _('public') }}
                    </th>
                    <td>
                        <input type="checkbox" class="is_public" {% if entity.get('is_public', False) %} checked{% end %} />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    {% if entity.get('id') %}
    <a id="delete-entity" class="btn btn-link pull-left" style="color:red;" href="javascript:void(0);">{{ _('entity_delete') }}</a>
    {% end %}
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
</div>

<div id="database" data-entity_id="{{ entity.get('id', '') }}" style="display:hidden;"></div>

<script type="text/javascript" src="{{ static_url('javascript/bootstrap.file-input.js') }}"></script>
<script>


    function showDocument(json_string, div){
        td = $(div).parent();
        newvalue = jQuery.parseJSON(json_string.replace('<pre style="word-wrap: break-word; white-space: pre-wrap;">','').replace('</pre>',''))
        $('#database').data('entity_id', newvalue.entity_id);
        {% if open_after_add %}$('#modal-box').data('open_entity_id', newvalue.entity_id);{% end %}
        $('.file_entity_id').val(newvalue.entity_id);
        td.children('.new-filenames').prepend('<div class="new-input">'+newvalue.value+'</div>');
        td.children('img').hide();
        td.children('form').children('.dtype-file').val('');
        td.children('form').show();
        $('#dropbox-file').val('');
        $('#dropbox-name').val('');
    };

    $(document).ready(function(){

        document.body.style.cursor = 'default';

        $('textarea').elastic();


        $('.reference').each( function() {
            var definition = $(this).data('reference_definition');
            $(this).select2({
                placeholder: ' ',
                minimumInputLength: 1,
                allowClear: true,
                ajax: {
                    url: '/entity/search',
                    dataType: 'json',
                    quietMillis: 1000,
                    data: function (term, page) {
                        return {
                            q: term,
                            definition: definition
                        };
                    },
                    results: function (data, page) {
                        return {results: data.entities};
                    }
                },
                formatResult: formatSelectBoxResult,
                formatSelection: formatSelectBoxSelection,
            });
        });
        $('.reference[data-value]').each( function() {
            $(this).select2('data', {id: $(this).data('value'), title: $(this).val()});
        });

        function formatSelectBoxResult(data) {
            if(data.image) {
                image = '<img src="'+data.image+'" />';
            } else {
                image = '';
            };
            if(data.info) {
                info = '<span>'+data.info+'</span>';
            } else {
                info = '';
            };
            return '<div class="entity-list-item">'+image+data.title+info+'</div>';
        }

        function formatSelectBoxSelection(data) {
            return data.title;
        }

        $('.dtype-datetime').change(function() {
            $(this).val(format_date($(this).val(), 'yyyy-MM-dd HH:mm'));
        });
        $('.dtype-date').change(function() {
            $(this).val(format_date($(this).val(), 'yyyy-MM-dd'));
        });
        function format_date(dinput, format) {
            var result = ''
            dvalue = Date.parse(dinput);
            if(dvalue) {
                result = dvalue.toString(format);
            }
            return result;
        }

        $('.can_add_new').keypress(function() {
            var inputbox = $(this);
            var newinput = inputbox.clone(true);
            newinput.val('');
            newinput.removeData('id');
            newinput.removeData('value');
            inputbox.after(newinput);
            inputbox.removeClass('can_add_new');
            inputbox.addClass('new-input');
            inputbox.unbind('keypress');
        });

        $('.counter').click(function() {
            var inputbox = $(this);
            var inputbox_parent = $(this).parent();
            inputbox_parent.html('<img src="{{ static_url('images/spinner_white.gif') }}" class="spinner" />');
            $.post('/entity/save', {
                counter: 'true',
                entity_id: $('#database').data('entity_id'),
                parent_entity_id: '{{ parent_entity_id }}',
                entity_definition_keyname: '{{ entity_definition_keyname }}',
                property_definition_keyname: inputbox.data('property'),
            },
            function(newvalue) {
                //alert(JSON.stringify(newvalue));
                $('#database').data('entity_id', newvalue.entity_id);
                {% if open_after_add %}$('#modal-box').data('open_entity_id', newvalue.entity_id);{% end %}
                $('.file_entity_id').val(newvalue.entity_id);
                inputbox_parent.html('<span style="padding:8px;">'+newvalue.value+'</span>');
            }, 'json');
        });

        $('.autosave').change(function() {
            var inputbox = $(this);
            if (inputbox.attr('type') == 'checkbox') {
                value = inputbox.is(':checked');
            } else {
                value = inputbox.val();
            }
            if (String(value) !== String(inputbox.data('value'))) {
                $.post('/entity/save', {
                    entity_id: $('#database').data('entity_id'),
                    parent_entity_id: '{{ parent_entity_id }}',
                    entity_definition_keyname: '{{ entity_definition_keyname }}',
                    property_definition_keyname: inputbox.data('property_definition_keyname'),
                    value_id: inputbox.data('id'),
                    value: value
                },
                function(newvalue) {
                    //alert(JSON.stringify(newvalue));
                    $('#database').data('entity_id', newvalue.entity_id);
                    {% if open_after_add %}$('#modal-box').data('open_entity_id', newvalue.entity_id);{% end %}
                    $('.file_entity_id').val(newvalue.entity_id);
                    inputbox.data('id', newvalue.value_id);
                    inputbox.data('value', value)
                }, 'json');
            }
        });

        $('.is_public').change(function() {
            var inputbox = $(this);
            value = inputbox.is(':checked');
            $.post('/entity/save', {
                entity_id: $('#database').data('entity_id'),
                parent_entity_id: '{{ parent_entity_id }}',
                entity_definition_keyname: '{{ entity_definition_keyname }}',
                is_public: 'true',
                value: value
            },
            function(newvalue) {
                //alert(JSON.stringify(newvalue));
                $('#database').data('entity_id', newvalue.entity_id);
                $('.file_entity_id').val(newvalue.entity_id);
            }, 'json');
        });

        $('.dtype-file').change(function() {
            form = $($(this).data('form'));
            form.hide();
            form.parent().children('img').show();
            form.submit();
        });

        $('.delete-file-row').hover(
            function() {
                $(this).children('.delete-file').show();
            },
            function() {
                $('.delete-file').hide();
            }
        );

        $('.dropbox-open').click(function() {
            form = $($(this).data('form'));
            Dropbox.choose({
                linkType: 'direct',
                success: function(files) {
                    $('#dropbox-file').val(files[0].link);
                    $('#dropbox-name').val(files[0].name);
                    form.hide();
                    form.parent().children('img').show();
                    form.submit();
                }
            });
        });

        $('.delete-file').click(function() {

            link = $(this);
            if (confirm('{{ _('confirm_file_delete').replace('\'', '\\\'') }}'.replace('%s',link.prev().html()))) {
                $.post('/entity/delete-file', {
                    property_id: $(this).data('property_id'),
                    entity_id: '{{ entity.get('id', '') }}',
                },
                function(newvalue) {
                    link.parent().remove();
                }, 'json');
            };
        });

        $('#delete-entity').click(function() {

            link = $(this);
            if (confirm('{{ _('confirm_entity_delete').replace('\'', '\\\'') }}'.replace('%s','{{ entity.get('displayname', '').replace('\'', '\\\'') }}'))) {
                $.post('/entity/delete-entity', {
                    entity_id: '{{ entity.get('id', '') }}',
                },
                function(newvalue) {
                    window.location.hash = '';
                    window.location.reload(true);
                }, 'json');
            };
        });


    });
</script>
