{% autoescape None %}
{% from operator import itemgetter %}

{% for parent in parents.values() %}
<ul class="breadcrumb" style="text-align:center;">
  <li style="float:left;"><i class="divider icon-arrow-up" style="padding-left:0px;"></i></li>
  <li>{{ parent[0].get('label', '') }}  </li>
  <li><a href="#{{ parent[0].get('id', '') }}">{{ parent[0].get('displayname', '') }}</a></li>
  <li style="float:right;"><i class="divider icon-arrow-up" style="padding-right:0px;"></i></li>
</ul>
{% end %}

<img src="{{ entity['displaypicture'] }}" id="entity_picture" class="" width="120" style="float:right; margin-bottom:20px;" />
<h3 style="margin-right:140px;">{{ entity['displayname'] }}</h3>
<div style="margin-right:140px;">
    <table class="table table-condensed">
        <tbody>
            {% for p in sorted(entity.get('properties', {}).values(), key=itemgetter('ordinal')) %}
            <tr>
                <th style="text-align:right; min-width:200px;">
                    <h6>{{ p['label'] }}</h6>
                </th>
                <td style="width:100%;{%if not p['public'] %} color:gray;{% end %}">
                    {% if p['datatype'] == 'file' %}
                        {{ '<br />'.join(['<a href="/entity/file-%s">%s</a>' % (v['db_value'], v['value']) for v in p['values']]) }}
                    {% elif p['datatype'] == 'javascript' %}
                        <a href="javascript:void(0);" id="entity-run-javascript" data-property="{{ p['dataproperty'] }}" title="Run user script!">Run</a>
                    {% else %}
                        {{ '<br />'.join(['%s' % v['value'] for v in p['values']]) }}
                    {% end %}
                </td>
            </tr>
            {% end %}
            <tr>
                <th style="text-align:right; white-space:nowrap; vertical-align:middle;">
                    <h6>{{ _('public') }}</h6>
                </th>
                <td style="width:100%; vertical-align:middle;">
                    {% if entity.get('is_public', False) %}<b>{{ _('boolean_true') }}</b>{% else %}{{ _('boolean_false') }}{% end %}
                </td>
            </tr>
            <tr>
                <th style="text-align:right; white-space:nowrap; vertical-align:middle;">
                    <h6>{{ _('created') }}</h6>
                </th>
                <td style="width:100%; vertical-align:middle;">
                    {{ entity.get('created', '') }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ul id="toolbar_template" style="display:none;">
    {% if can_add and allowed_childs %}
        <li class="dropdown toolbar-item">
            <a href="#" class="dropdown-toggle header-menu-item" data-toggle="dropdown" title="{{ _('menu_add') }}"><i class="icon-plus"></i></a>
            <ul class="dropdown-menu toolbar-item-add">
                {% for c in allowed_childs %}
                <li><a href="javascript:void(0);" data-id="{{ c.id }}">{{ c.label }}</a></li>
                {% end %}
            </ul>
        </li>
    {% end %}
    {% if can_edit %}
        <li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-edit" title="{{ _('menu_edit') }}"><i class="icon-pencil"></i></a></li>
        <li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-link" title="{{ _('menu_relate') }}"><i class="icon-link"></i></a></li>
    {% end %}
    {% if is_owner %}
        <!--li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-rights" title="{{ _('menu_rights') }}"><i class="icon-lock"></i></a></li-->
    {% end %}
    <li class="toolbar-item"><a href="javascript:void(0);" id="toolbar-item-email" title="{{ _('menu_share') }}"><i class="icon-share"></i></a></li>
</ul>

<!--ul class="nav nav-tabs" id="myTab" style="clear:both;">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#profile">Alamullid</a></li>
    <li><a href="#messages">Messages</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">...</div>
    <div class="tab-pane" id="profile">...</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
</div-->

{% for k, v in relatives.iteritems() %}
    <table class="table table-condensed table-bordered" style="clear:both; margin-top:20px;">
        <thead class="toggle-table">
            <tr>
                <th {% if v[0].get('displaytable', None) %}colspan="{{ len(v[0].get('displaytable', ''))+1 }}"{% end %}>
                    <h6>{{ k }}<span style="float:right; font-weight:normal;">{{ len(v) }}</span></h6>
                </th>
            </tr>
        </thead>
        <tbody style="1display:none;">
            {% if v[0].get('displaytable', None) %}
            <tr>
                {% for l in v[0].get('displaytable_labels', '') %}
                <td style="min-width:100px;">
                    <h6>{{ l }}</h6>
                </td>
                {% end %}
                <th>
                    <h6>{{ _('created') }}</h6>
                </th>
            </tr>
            {% end %}
            {% for i in v %}
            <tr>
                {% if i.get('displaytable', None) %}
                    {% for x in i.get('displaytable', '') %}
                    <td style="min-width:100px;">
                        <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{% if x %}{{ x }}{% else %}&nbsp;{% end %}</a>
                    </td>
                    {% end %}
                    <td style="text-align:center; width:70px; white-space:nowrap; vertical-align:middle;">
                        {{ i.get('created', '') }}
                    </td>
                {% else %}
                <td style="">
                    <a href="#{{ i.get('id', '') }}" class="open_child" style="display:block;">{% if i.get('displayname', '') %}{{ i.get('displayname', '') }}{% else %}&nbsp;{% end %}</a>
                </td>
                {% end %}
            </tr>
            {% end %}
        </tbody>
    </table>
{% end%}

<script>
    $(document).ready(function(){

        document.title = '{{ page_title }}';

        $('.toggle-table').click(function() {
            $(this).parent().children('tbody').toggle();
        });

        $('#entity_picture').dblclick(function() {
            window.open('https://appengine.google.com/datastore/edit?app_id=s~bubbledu&key={{ entity['gae_key'] }}');
        });

        $('#toolbar').html($('#toolbar_template').html());
        $('#toolbar_template').html('')

        $('.toolbar-item-add a').click(function() {
            $.get('/entity-{{ entity['id'] }}/add/'+$(this).data('id'), function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
            });
        });

        $('#toolbar-item-edit').click(function() {
            $.get('/entity-{{ entity['id'] }}/edit', function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
            });
        });

        $('#toolbar-item-email').click(function() {
            $.get('/entity-{{ entity['id'] }}/share', function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
            });
        });

        $('#toolbar-item-relate').click(function() {
            $.get('/entity-{{ entity['id'] }}/relate', function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
            });
        });

        $('#entity-run-javascript').click(function() {
            $.get('/entity-{{ entity['id'] }}/jsproperty-'+$(this).data('property'), function(html) {
                document.body.style.cursor = 'wait';
                $('#modal-box').modal('show');
                $('#modal-box').html(html);
            });
        });

    });
</script>
