{% autoescape None %}
{% extends '../main/index.html' %}

{% block head %}
{% end %}

{% block logo_url %}/entity{% end %}
{% block fluid %}-fluid{% end %}

{% block left_toolbar %}
    {% if show_list %}
        <li id="list_search"><input type="search" id="searchbox" class="search-query" placeholder="{{ _('search_placeholder') }}" /><span></span></li>
    {% end %}
    <ul id="toolbar" class="nav">
    </ul>
{% end %}

{% block right_toolbar %}
    <li class="toolbar-item"><a href="">{{ current_user.name }}<img src="{{ current_user.picture }}" style="margin:-2px -5px 0px 10px; height:40px; width:40px;" /></a></li>
    <li class="toolbar-item"><a id="logout" href="javascript:void(0);" title="{{ _('menu_exit') }}"><i class="icon-off"></i></a></li>
{% end %}

{% block content %}
    <div class="container-fluid">
        <div id="menu">
            <div id="menu_accordion" class="accordion">
                {% for m in menu %}
                    <h3><a href="#">{{ m['label'] }}</a></h3>
                    <div>
                        {% for i in m['items'] %}
                            <a href="/entity/{{ i['keyname'] }}">{{ i['title'] }}</a>
                        {% end %}
                    </div>
                {% end %}
            </div>
        </div>
        {% if show_list %}
            {% include 'list.html'%}
            <div id="content">
            </div>
        {% else %}
            <div id="content-wide">
                <div class="pull-right span4">
                    <div class="well alert-success pull-right span4">
                        <h3 style="margin:0px;">Changes</h3>
                        {{ history }}
                    </div>
                    <div class="well alert-success pull-right span4">
                        <h3 style="margin:0px;">Quota used</h3>
                        {{ quota_entities_used }} of {{ quota_entities }} entities
                        <div class="progress">
                            {% if quota_entities_used > quota_entities %}
                            <div class="bar bar-success" style="width: {{ round(quota_entities * 100 / quota_entities_used) }}%;"></div>
                            <div class="bar bar-danger" style="width: {{ 100 - round(quota_entities * 100 / quota_entities_used) }}%;"></div>
                            {% else %}
                            <div class="bar {% if round(quota_entities_used * 100 / quota_entities) > 80 %}bar-warning{% else %} bar-success{% end %}" style="width: {{ round(quota_entities_used * 100 / quota_entities) }}%;"></div>
                            {% end %}
                        </div>
                        {{ quota_size_used_human }} of {{ quota_size_human }}
                        <div class="progress" style="margin:0px;">
                            {% if quota_size_used > quota_size %}
                            <div class="bar bar-success" style="width: {{ round(quota_size * 100 / quota_size_used) }}%;"></div>
                            <div class="bar bar-danger" style="width: {{ 100 - round(quota_size * 100 / quota_size_used) }}%;"></div>
                            {% else %}
                            <div class="bar {% if round(quota_size_used * 100 / quota_size) > 80 %}bar-warning{% else %} bar-success{% end %}" style="width: {{ round(quota_size_used * 100 / quota_size) }}%;"></div>
                            {% end %}
                        </div>
                    </div>
                </div>
            </div>
        {% end %}
    </div>

    <script>
        $(document).ready(function(){

            $('#logout').click(function(e) {
                newwindow = window.open('/exit', 'do_entu_logout', 'height=200,width=150');
                close = setInterval(function() {
                    newwindow.close();
                    window.location.href=window.location.href;
                    clearInterval(close)
                }, 3000);
            });

            $(".accordion").accordion({
                fillSpace: true,
                navigation: true,
            });
            $("#menu").find("a[href='"+window.location.pathname+"']").each(function(){
                $(this).addClass("active")
            })

            $(window).resize(function(){
                $('#menu_accordion').accordion('resize');
            });

        });
    </script>
{% end %}
