{% extends main_template %}

{% block head %}
<script src="/javascript/jquery.elastic.js" type="text/javascript"></script>
<script src="http://datejs.googlecode.com/svn/tags/Alpha1.0/build/date-et-EE.js" type="text/javascript"></script>
<script src="/javascript/jquery.autocomplete-min.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        <li>{{ str.bubbletype_bubbletypes }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}

<div id="content">

        {% for bt in bubbletypes %}
        <div class="table_row infiniterow" bubble="{{ b.key }}">
            <div class="table_cell">
                <a href="/btype/{{ bt.key.id }}">{{ bt.displayname }}</a>
                {% if bt.allowed_subtypes %}
                    (
                    {% for st in bt.AllowedSubtypes %}
                        {{ st.displayname }}; 
                    {% endfor %}
                    )
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>
    <span style="display:block; text-align:center; font-size:11px;">{{ changed }}</span>

</div>

<script type="text/javascript">
    $(document).ready(function(){

        if(!$('#name').val()) {
            $('#name').focus();
        }

        $('textarea').elastic();

        $('.autosave_date').change(function() {
            dinput = $(this);
            dvalue = Date.parse(dinput.val());
            if(dvalue) {
                dinput.val(dvalue.toString('dd.MM.yyyy'));
            } else {
                dinput.val('');
            }
            autoSave(dinput, {});
        });

        $('.autosave').change(function() {
            autoSave($(this), {});
        });

        function autoSave(input, data) {
            if(!data['field']) data['field'] = input.attr('name');
            if(!data['value']) data['value'] = input.val();

            $.post('/btype/{{ bybbletype.key }}', data, function(json) {
                input.effect("highlight", {}, 1000);
            }, "json");
        }



    });
</script>

{% endblock %}