{% extends '../../main/template/index.html' %}

{% block style %}
    {% from random import randint %}
    html {
        background: url('{{ static_url('images/backgrounds/bg-%s.png' % randint(1, 12)) }}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: none important!;
    }
    body {
        background: none;
    }
    .brand {padding-left:0px !important;}
{% end %}

{% block navbar %}
{% end %}


{% block content %}
    <div class="container" style="">
        <div id="login-mid" class="login-box" style="display:none;">
            <h2 id="mobileid-code"></h2>
            <span style="padding: 0px 20px;">{{ _('log_in_mid_message') }}</span>
            <h2><i class="fa fa-spinner fa-spin"></i></h2>
            <button id="mobileid-cancel" class="btn btn-link" type="button">{{ _('log_in_mid_cancel') }}</button>
        </div>
        <div id="login-authenticators" class="login-box">
            <h2>{{ _('log_in') }}</h2>
            <table class="table" style="width:100%; margin-top:20px; background:white;">
                <tr class="mobileid">
                    <td style="padding:0px; vertical-align:middle; border-top: none;">
                        <a class="no-underline" href="javascript:void(0);" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-mobile-phone" style="padding-right:5px; font-size:24px; line-height:24px; color:#F04822;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none; border-top: none;">
                        <a class="no-underline" href="javascript:void(0);" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Mobiil-ID</a>
                    </td>
                </tr>
                <tr id="mobileid-input" style="display:none;">
                    <td colspan="2" style="text-align:center; border-top:none; padding-bottom:10px;" >
                        <form id="mobileid-form" class="input-append" style="margin:0px; padding:0px;">
                            <input id="mobileid-phone" class="span2" type="text" placeholder="{{ _('log_in_mid_phone') }}" />
                            <button id="mobileid-submit" class="btn" type="submit">{{ _('log_in_mid_go') }}</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ google }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-google-plus-square" style="font-size:24px; line-height:24px; color:#DC2400;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ google }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Google</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ facebook }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-facebook-square" style="font-size:24px; line-height:24px; color:#39579A";></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ facebook }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Facebook</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ live }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-windows" style="font-size:21px; line-height:21px; color:#0070C9;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ live }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Microsoft</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ taat }}" style="padding:7px 3px; display:block; text-align:right;"><i class="fa fa-university" style="font-size:19px; line-height:19px; color:#369a21;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ taat }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">TAAT</a>
                    </td>
                </tr>
            </table>
            <div class="muted" style="position:absolute; text-align:center; bottom:0px; padding:20px;">
                <small>{{ _('log_in_info') }}</small>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            $('#content-wrap .content').css('min-height', $(document).height() - 255 + 'px');

            $('.mobileid').click(function() {
                $('#mobileid-input').toggle();
                $('#mobileid-input').addClass('info');
                $('#mobileid-phone').focus();
            });

            $('.mobileid').hover(function() {
                $('#mobileid-input').addClass('info');
            });

            $('#mobileid-input').hover(function() {
                $(this).prev().addClass('info');
            });

            mobile_id_inprogress = false;
            $('#mobileid-form').submit(function(e) {
                if($('#mobileid-phone').val() && !mobile_id_inprogress) {
                    mobile_id_inprogress = true;
                    $.post('/auth/mobileid', {
                        mobile: $('#mobileid-phone').val(),
                    }, function(data) {
                        mobile_id_inprogress = false;
                        $('#mobileid-code').html('');
                        if(data){
                            $('#mobileid-code').html(data.code);
                            $('#mobileid-code').data('session', data.session);
                            $('#mobileid-code').data('file', data.file);
                            $('#login-authenticators').hide();
                            $('#login-mid').show();
                            setTimeout(mobile_id_check, 5000);
                        } else {
                            $('#mobileid-phone').select();
                            $('#mobileid-form').effect('shake', { times:3 }, 100);
                        }
                    }, 'json');
                }
                return false;
            });

            function mobile_id_check() {
                $.post('/auth/mobileid', {
                    session: $('#mobileid-code').data('session'),
                    file: $('#mobileid-code').data('file'),
                }, function(data) {
                    if(data) {
                        if(data.url) {
                            window.location.href = data.url;
                        } else if(data.in_progress) {
                            setTimeout(mobile_id_check, 2000);
                        } else {
                            $('#mobileid-cancel').click();
                        }
                    }
                }, 'json');
            }

            $('#mobileid-cancel').click(function() {
                $('#mobileid-phone').val('')
                $('#mobileid-input').hide();
                $('#mobileid-code').html('');
                $('#login-mid').hide();
                $('#login-authenticators').show();
            });

            $('tr').hover(function() {
                $(this).addClass('info');
            }, function() {
                $('tr').removeClass('info');
            });

        });
    </script>
{% end %}
