{% extends '../../main/template/index.html' %}

{% block style %}
    {% from random import randint %}
    html {
        background: url('{{ static_url('images/backgrounds/bg-%s.png' % randint(1, 12)) }}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-color: none important!;
    }
    body {
        background: none;
    }
    .brand {padding-left:0px !important;}
{% end %}

{% block navbar %}
{% end %}


{% block content %}
    <div class="container" style="">
        <div id="login-mid" class="login-box" style="display:none;">
            <h2 id="mobileid-code"></h2>
            <span style="padding: 0px 20px;">{{ _('log_in_mid_message') }}</span>
            <h2><i class="fa fa-spinner fa-spin"></i></h2>
            <button id="mobileid-cancel" class="btn btn-link" type="button">{{ _('log_in_mid_cancel') }}</button>
        </div>
        <div id="login-authenticators" class="login-box">
            <h2>{{ _('log_in') }}</h2>
            <table class="table" style="width:100%; margin-top:20px; background:white;">
                <tr class="mobileid">
                    <td style="padding:0px; vertical-align:middle; border-top: none;">
                        <a class="no-underline" href="javascript:void(0);" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-mobile-phone" style="padding-right:5px; font-size:24px; line-height:24px; color:#F04822;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none; border-top: none;">
                        <a class="no-underline" href="javascript:void(0);" style="padding:7px 5px; display:block; color:black; font-weight:bold;">{{ _('log_in_mid') }}</a>
                    </td>
                </tr>
                <tr id="mobileid-input" style="display:none;">
                    <td colspan="2" style="text-align:center; border-top:none; padding-bottom:10px;" >
                        <form id="mobileid-form" class="input-append" style="margin:0px; padding:0px;">
                            <input id="mobileid-idcode" class="span2" type="text" placeholder="{{ _('log_in_mid_idcode') }}" />
                            <button id="mobileid-submit" class="btn" type="submit">{{ _('log_in_mid_go') }}</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ idcard }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-id-card-o" style="font-size:18px; line-height:24px; color:#3D89F7;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ idcard }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">{{ _('log_in_idcard') }}</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ google }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-google-plus-square" style="font-size:24px; line-height:24px; color:#DC2400;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ google }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Google</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ facebook }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-facebook-square" style="font-size:24px; line-height:24px; color:#39579A";></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ facebook }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Facebook</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ live }}" style="padding:7px 5px; display:block; text-align:right;"><i class="fa fa-windows" style="font-size:21px; line-height:21px; color:#0070C9;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ live }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">Microsoft</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding:0px; vertical-align:middle; width:100px;">
                        <a class="no-underline" href="{{ taat }}" style="padding:7px 3px; display:block; text-align:right;"><i class="fa fa-university" style="font-size:19px; line-height:19px; color:#369a21;"></i></a>
                    </td>
                    <td style="padding:0px; vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="{{ taat }}" style="padding:7px 5px; display:block; color:black; font-weight:bold;">TAAT</a>
                    </td>
                </tr>
            </table>
            <div class="muted" style="position:absolute; text-align:center; bottom:0px; padding:20px;">
                <small>{{ _('log_in_info') }}</small>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var getUrlParameter = function getUrlParameter(sParam) {
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            };

            $('#content-wrap .content').css('min-height', $(document).height() - 255 + 'px');

            $('.mobileid').click(function() {
                $('#mobileid-input').toggle();
                $('#mobileid-input').addClass('info');
                $('#mobileid-idcode').focus();
            });

            $('.mobileid').hover(function() {
                $('#mobileid-input').addClass('info');
            });

            $('#mobileid-input').hover(function() {
                $(this).prev().addClass('info');
            });

            mobile_id_inprogress = false;
            $('#mobileid-form').submit(function(e) {
                if($('#mobileid-idcode').val() && !mobile_id_inprogress) {
                    mobile_id_inprogress = true;
                    $.ajax({
                        url: 'https://auth.entu.ee/auth/mobile-id',
                        type: 'POST',
                        data: {
                            idcode: $('#mobileid-idcode').val(),
                            next: getUrlParameter('next')
                        },
                        dataType: 'json',
                        success: function(data) {
                            console.log(data);
                            $('#mobileid-code').html(data.result.code);
                            $('#mobileid-code').data('key', data.result.key);
                            $('#login-authenticators').hide();
                            $('#login-mid').show();
                            setTimeout(mobile_id_check, 5000);
                        },
                        error: function(data) {
                            console.log(data);
                            mobile_id_inprogress = false;
                            $('#mobileid-idcode').select();
                            $('#mobileid-form').effect('shake', { times:3 }, 100);
                        }
                    });
                }
                return false;
            });

            function mobile_id_check() {
                $.ajax({
                    url: 'https://auth.entu.ee/auth/mobile-id/' + $('#mobileid-code').data('key'),
                    type: 'POST',
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        if(data.result.in_progress) {
                            setTimeout(mobile_id_check, 2000);
                        } else if(data.result.authenticated) {
                            window.location.href = 'https://auth.entu.ee/auth/mobile-id/' + $('#mobileid-code').data('key') + window.location.search;
                        } else {
                            console.log(data);
                            $('#mobileid-cancel').click();
                        }
                    },
                    error: function(data) {
                        console.log(data);
                        $('#mobileid-cancel').click();
                    }
                });
            }

            $('#mobileid-cancel').click(function() {
                $('#mobileid-idcode').val('')
                $('#mobileid-input').hide();
                $('#mobileid-code').html('');
                $('#login-mid').hide();
                $('#login-authenticators').show();
            });

            $('tr').hover(function() {
                $(this).addClass('info');
            }, function() {
                $('tr').removeClass('info');
            });

        });
    </script>
{% end %}
