{% from operator import itemgetter %}

<div class="modal-header" style="border:none;">
    <h3>{{ _('user_preferences') }}</h3>
</div>
<div class="modal-body" style="padding:0px;">
    <table class="edit-form table table-bordered" style="margin:0px;">
        <tbody>
            <tr>
                <td colspan="2" style="vertical-align:middle; text-align:center; padding-bottom:5px;">
                    <h4 style="margin-bottom:0px;">
                        <img src="/api2/entity-{{ current_user.get('id') }}/picture" class="img-rounded" style="height:120px; width:120px; margin-bottom:5px;" ><br />
                        {{ current_user.get('name') }}<br />
                    </h4>
                    <span style="color:gray;">{{ current_user.get('email') }} ({{ current_user.get('provider') }})</span>
                </td>
            </tr>
            <tr>
                <th>
                    {{ _('user_language') }}
                </th>
                <td style="padding:8px;">
                    <select class="autosave" name="language">
                        <option value="estonian"{%if current_user.get('language') == 'estonian' %} selected{% end %}>Eesti keel</option>
                        <option value="english"{%if current_user.get('language') == 'english' %} selected{% end %}>English</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    {{ _('user_hide_menu') }}
                </th>
                <td style="padding:8px;">
                    <input class="autosave" name="hide_menu" type="checkbox" {%if current_user.get('hide_menu') == True %} checked{% end %} />
                </td>
            </tr>
            <!--tr>
                <th>
                    {{ _('user_timezone') }}
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th rowspan="2">
                    {{ _('user_accounts') }}
                </th>
                <td style="padding:8px;">
                    Google
                </td>
            </tr>
            <tr>
                <td style="padding:8px; color:gray;">
                    Facebook
                </td>
            </tr-->
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
</div>

<script>
    $(document).ready(function(){
        $('.autosave').change(function() {
            var inputbox = $(this);
            property = inputbox.attr('name');
            if (inputbox.attr('type') == 'checkbox') {
                value = inputbox.is(':checked');
            } else {
                value = inputbox.val();
            }
            $.post('/user/preferences', {
                property: property,
                value: value
            });
        });
    });
</script>
