<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />
		<title>Not Supported Browser</title>
		<style type="text/css">
			body {
				margin: 50px;
				background: black;
				color: white;
				font-family: "Lucida Grande", "Sans Serif", Arial;
			}
			a:link, a:visited, a:active {
				color: white;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
	<center>
		<img src="/images/sad_mac.png" /><br />
		<strong>Sorry, but Your browser is not compatible with this site!</strong><br /><br />
		<small>
			We support the following browsers:<br />
			<a target="_blank" id="Chrome" href="http://www.google.com/chrome">Chrome 6 or later</a><br />
			<a target="_blank" id="Safari" href="http://www.apple.com/safari/">Safari 3 or later</a><br />
			<a target="_blank" id="Firefox" href="http://www.mozilla.com/firefox/">Firefox 2 or later</a><br />
			<a target="_blank" id="IE" href="http://www.microsoft.com/ie/">Internet Explorer 7 or later</a>
		</small>
	<center>
	</body>
</html>