<form>
	<ul>
		<li>
			<label>{{ str.title }}</label>
			<input id="namefield" placeholder="{{ str.title }}..." value="" />
		</li>
		<li>
			<label>{{ str.code }}</label>
			<input id="codefield" placeholder="{{ str.code }}..." value="" />
		</li>
		<li>
			<label>{{ str.tags }}</label>
			<input id="tagsfield" placeholder="{{ str.tags }}..." value="" />
		</li>
		<li>
			<label>{{ str.level_of_education }}</label>
			<input id="level_of_educationfield" placeholder="{{ str.level_of_education }}..." value="" />
		</li>
		<li>
			<label>{{ str.form_of_training }}</label>
			<input id="form_of_trainingfield" placeholder="{{ str.form_of_training }}..." value="" />
		</li>
		<li>
			<label>{{ str.nominal_years }}</label>
			<input id="nominal_yearsfield" placeholder="{{ str.nominal_years }}..." value="" />
		</li>
		<li>
			<label>{{ str.nominal_credit_points }}</label>
			<input id="nominal_credit_pointsfield" placeholder="{{ str.nominal_credit_points }}..." value="" />
		</li>
		<li>
			<label>{{ str.degree }}</label>
			<input id="degreefield" placeholder="{{ str.degree }}..." value="" />
		</li>
		<li>
			<label>{{ str.manager }}</label>
			<input id="managerfield" placeholder="{{ str.manager }}..." value="" />
		</li>
	</ul>
	<input id="add_new_curriculum" class="openid active" type="submit" value="{{ str.add_new }} {{ str.curriculum }}" />
</form>



