<ul>
{% for curriculum in curriculums %}
    <li>
        {{ curriculum.name }} ({{ curriculum.code }})
        <ul>
            <li>
                {{ str.tags }}:
                <ul>
                {% for tag in curriculum.tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
                </ul>
            </li>
            <li>{{ str.form_of_training      }}: {% curriculum.form_of_training.dictionary.translation %}</li>
            <li>{{ str.level_of_education    }}: {% curriculum.level_of_education.dictionary.translation %}</li>
            <li>{{ str.nominal_years         }}: {% curriculum.nominal_years %}</li>
            <li>{{ str.nominal_credit_points }}: {% curriculum.nominal_credit_points %}</li>
            <li>{{ str.degree                }}: {% curriculum.degree.dictionary.translation %}</li>
            <li>{{ str.manager               }}: {% curriculum.manager.forename %} {% curriculum.manager.surname %}</li>
        </ul>
    </li>
{% endfor %}
</ul>