{% extends "main.html" %}

{% block head %}
<script src="/javascript/jquery.elastic.js" type="text/javascript"></script>
<script src="/javascript/jquery.raty.min.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        <li><a href="/feedback">{{ str.questionary }} 1/{{ count }}</a></li>
        <li>{{ questionary.questionary.name.translate }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}

<section id="wide_content">
    <form id="feedback_form" action="/feedback" method="post">
        <input type="hidden" name="person_questionary" value="{{ questionary.key }}"/>

    <div class="table" style="margin-bottom:20px; margin-top:10px;">
        <div class="table_header_row">
            <div class="table_cell">
                {{ questionary.questionary.name.translate }}
            </div>
        </div>
        <div class="table_row" style="width:100%">
            <div class="table_cell" style="width:100%">
                {{ questionary.questionary.description.translate|linebreaksbr }}
            </div>
        </div>
    </div>

    {% regroup questions|dictsort:"teacher" by teacher as grouped %}
	{% for group in grouped %}
    <div class="table" style="margin-bottom:20px; margin-top:10px;">
        <div class="table_header_row">
            <div class="table_cell">
                {% if group.grouper %}{{ group.grouper }}{% else %}{{ str.general_questions }}{% endif %}
            </div>
        </div>

        {% for item in group.list|dictsort:"question" %}
        <div class="table_row" style="width:100%">
            <div class="table_cell" style="width:100%">
                {{ item.question }}{% if item.is_mandatory %} *{% endif %}
                {% ifequal item.type "likert" %}
                <div class="range" style="float:right;"><input type="hidden" class="range_input" name="{{ item.key }}" value="{{ item.answer|default:"0" }}"/></div>
                {% endifequal %}

                {% ifequal item.type "freetext" %}
                <br /><textarea name="{{ item.key }}" rows="1" style="width:99%; height:20px;">{{ item.answer|default:"" }}</textarea>
                {% endifequal %}
            </div>
        </div>
	   {% endfor %}
    </div>
	{% endfor %}

    </form>
    <a href="javascript:void(0);" id="feedback_submit" class="button" style="float:right;">{{ str.submit }}</a>
    <span style="float:left; font-style:italic; font-size:11px;">{{ str.mandatory_questions }}</span>
</section>

<script type="text/javascript">
    $(document).ready(function(){
        $('textarea').elastic();

        $('.range').each(function(){
            rating = $(this)
            value = rating.children('input').val()
            rating.raty({
                number: 5,
                path: '/images/rating/',
                showCancel: true,
                start: value,
                onClick: function(score) {
                    $(this).children('input').val(score);
                }
            });
        });

        $('#feedback_submit').click(function(){
            $('#feedback_form').submit();
        });
    });
</script>

{% endblock %}