<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{{ site_name }}</title>

        <link href="/css/blueprint/reset.css" rel="stylesheet" type="text/css" />
        <link href="/css/blueprint/grid.css" rel="stylesheet" type="text/css" />
        <link href="/css/blueprint/typography.css" rel="stylesheet" type="text/css" />
        <link href="/css/blueprint/forms.css" rel="stylesheet" type="text/css" />
        <link href="/css/blueprint/fancy-type/screen.css" rel="stylesheet" type="text/css" />
        <link href="/css/screen.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" media="screen" href="/css/slickmap.css" />

        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
            google.load("jquery", "1");
        </script>

        <script src="/javascript/jquery.elastic.js" type="text/javascript"></script>

        {% block head %}
        {% endblock %}

    </head>
    <body>
        <div id="container" class="container">

            <div id="header" class="span-95 prepend-1 prepend-top last">
                <div id="header_title" class="prepend-10">
                    <a href="/">{{ site_name }}</a>
                </div>
                <div id="header_menu" class="span-60">
                    {% if user %}
                    <span style="padding-right:7px; font-style:italic;">{{ str.welcome }} {{ user.nickname }}!</span> <a href="{{ logouturl }}">{{ str.logout }}</a>
                    {% else %}
                    <a href="{{ loginurl }}" style="border:none;">{{ str.login }}</a>
                    {% endif %}
                </div>
            </div>

            <div id="content" class="span-95 last">

            {% block content %}
            {% endblock %}

            </div>
            <div id="footer" class="span-95 prepend-top last">
            </div>
        </div>
    </body>
</html>

