{% extends "main.html" %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        <li id="crumb_title">{{ str.preferences }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}

<section id="wide_content">

    <div class="vertical_table">
        <div class="table_row">
            <div class="header_cell">
                {{ str.name }}:
            </div>
            <div class="table_cell">
                {{ person.displayname|default:"" }}
            </div>
        </div>
        <div class="table_row">
            <div class="header_cell">
                {{ str.user }}:
            </div>
            <div class="table_cell">
                {{ person.key.name }}
            </div>
        </div>
        <div class="table_row">
            <div class="header_cell">
                {{ str.language }}:
            </div>
            <div class="table_cell">
                <select id="language" name="language">
                    <option value="estonian"{% ifequal preferences.language "estonian" %} selected{% endifequal %}>{{ str.lang_estonian }}</option>
                    <option value="english"{% ifequal preferences.language "english" %} selected{% endifequal %}>{{ str.lang_english }}</option>
                    <option value="russian"{% ifequal preferences.language "russian" %} selected{% endifequal %}>{{ str.lang_russian }}</option>
                </select><br />
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function(){
        $('#language').change(function() {
            $.post('/preferences', { language: $(this).val() }, function(data) {
                window.location = '';
            });
        });
    });
</script>

{% endblock %}