<img src="{{ person.photourl }}" id="person_photo" />
<h1>{{ person.displayname }}</h1>

<section class="table">
    <div class="row">
        <div class="v_header">
            {{ str.person_username }}
        </div>
        <div class="cell">
            {{ person.users|join:"<br />" }}
            <a href="javascript:void(0);" id="gapps_account"></a>
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_idcode }}
        </div>
        <div class="cell">
            {{ person.idcode|default:"" }}
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_birthdate }}
        </div>
        <div class="cell">
            {{ person.birth_date|date:"d.m.Y" }}
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_age }}
        </div>
        <div class="cell">
            {{ person.age|default:"" }}
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_gender }}
        </div>
        <div class="cell">
            {% ifequal person.gender "male" %}{{ str.person_gender_male }}{% endifequal %}
            {% ifequal person.gender "female" %}{{ str.person_gender_female }}{% endifequal %}
        </div>
    </div>
    {% for c in person.GetContacts %}
    <div class="row">
        <div class="v_header">
            {% ifequal c.type "address" %}{{ str.contact_address }}{% endifequal %}
            {% ifequal c.type "email" %}{{ str.contact_email }}{% endifequal %}
            {% ifequal c.type "phone" %}{{ str.contact_phone }}{% endifequal %}
            {% ifequal c.type "skype" %}{{ str.contact_skype }}{% endifequal %}
        </div>
        <div class="cell">
            {{ c.value }}
        </div>
    </div>
    {% endfor %}
</section>

<section class="info_accordion">
    <div style="display:none;">
        <h2>{{ str.person_grades }}<span><img src="/images/spinner_gray_small.gif" /></span></h2>
        <div id="grades" class="subbubbles_list"></div>
    </div>
    <div style="display:none;">
        <h2>{{ str.person_leeching_bubbles }}<span><img src="/images/spinner_gray_small.gif" /></span></h2>
        <div id="leeching_bubbles" class="subbubbles_list"></div>
    </div>
    <div style="display:none;">
        <h2>{{ str.person_seeding_bubbles }}<span><img src="/images/spinner_gray_small.gif" /></span></h2>
        <div id="seeding_bubbles" class="subbubbles_list"></div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function(){

        person_id = {{ person.key.id }};

        $(".info_accordion div h2").click(function() {
            $(this).next().slideToggle();
        });

        ajax_grades_list('/rating/grades', { person: '{{ person.key }}' }, $('#grades'), 'grades');
        ajax_bubbles_list('/bubble', { leecher: '{{ person.key }}' }, $('#leeching_bubbles'), 'bubbles');
        ajax_bubbles_list('/bubble', { seeder: '{{ person.key }}' }, $('#seeding_bubbles'), 'bubbles');

        $.post('/gapps/checkaccount', {person_id: person_id}, function(json) {
            $('#gapps_account').html(json.text);
            $('#gapps_account').data('url', json.url);
        }, 'json');

        $('#gapps_account').click(function() {
            link = $(this);
            link.html('');
            $.post($(link).data('url'), {person_id: person_id}, function(json) {
                $(link).html(json.text);
                $(link).data('url');
            }, 'json');
        });

        function ajax_grades_list(post_url, post_data, div, id) {
            $.post(post_url, post_data, function(list) {
                for (i in list.keys) {
                    div.append('<a href="#" id="'+id+'_'+list.keys[i]+'">&nbsp;</a>');
                    $.post(post_url, {key: list.keys[i]}, function(item) {
                        if(item.info) {
                            info = '<span>'+item.info+'</span>';
                        } else {
                            info = '';
                        }
                        if('#'+item.id == window.location.hash) {
                            active = 'class="active" ';
                        } else {
                            active = '';
                        }
                        $('#'+id+'_'+item.key).html(item.date+' '+item.type+' - '+item.bubble+'<span>'+item.title+'</span>');
                    }, 'json');
                }
                if (list.keys.length > 0) {
                    div.parent().show();
                    div.parent().children('h2').children('span').html(list.keys.length);
                } else {
                    div.parent().hide();
                }
            }, 'json');
        }

        function ajax_bubbles_list(post_url, post_data, div, id) {
            $.post(post_url, post_data, function(list) {
                for (i in list.keys) {
                    div.append('<a href="#" id="'+id+'_'+list.keys[i]+'">&nbsp;</a>');
                    $.post(post_url, {key: list.keys[i]}, function(item) {
                        if(item.info) {
                            info = '<span>'+item.info+'</span>';
                        } else {
                            info = '';
                        }
                        if('#'+item.id == window.location.hash) {
                            active = 'class="active" ';
                        } else {
                            active = '';
                        }
                        $('#'+id+'_'+item.key).html(item.type_name+' - '+item.title+'<span>'+item.info+'</span>');
                        $('#'+id+'_'+item.key).attr('href', '/bubble/'+item.type+'#'+item.id);
                    }, 'json');
                }
                if (list.keys.length > 0) {
                    div.parent().show();
                    div.parent().children('h2').children('span').html(list.keys.length);
                } else {
                    div.parent().hide();
                }
            }, 'json');
        }

    });
</script>
