{% extends main_template %}

{% block content %}
<div id="wide_content">
    <h1>{{ page_title }}</h1>

    <img src="/images/spinner_white.gif" class="spinner" />
    <div id="table" style="display:none;">
        <div id="persons" class="table" style="white-space:nowrap;">
            {% for key in persons %}
            <div class="row person" id="{{ key }}"><div class="cell merge icon join" title="{{ str.person_duplicates_merge }}" style="font-size:26px; vertical-align:middle; color:gray; cursor:pointer;"></div></div>
            {% endfor %}
        </div>
        <a id="find_next" href="/person/merge/{{ next_page }}">{{ str.person_duplicates_next }}</a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){

        if($('#persons').html().trim() == '') {
            $('.spinner').hide();
        }

        $.each($('.person'), function () {
            var person = $(this);
            $.post('/person', {person_duplicates: person.attr('id')}, function(list) {
                if (list.keys.length > 1) {
                    for (i in list.keys) {
                        $.post('/person', {key: list.keys[i]}, function(item) {
                            person.append('<label for="'+person.attr('id')+item.id+'" class="cell" style="vertical-align:middle; border-right:none; padding-right:0px;"><input type="checkbox" id="'+person.attr('id')+item.id+'" value="'+item.id+'" class="cell" /></label><label for="'+person.attr('id')+item.id+'" class="cell"><a href="/person#'+item.id+'" target="_blank" title="'+item.id+'">'+item.title+'</a><br /><span style="font-size:11px; color:gray;">'+item.email+'<br />'+item.idcode+'<br />'+item.birth_date+'</span></label>');
                            $('.spinner').hide();
                            $('#table').show();
                        }, 'json');
                    }
                } else {
                    person.remove();
                    if($('#persons').html().trim() == '') {
                        window.location = '/person/merge/{{ next_page }}';
                    }
                }
            }, 'json');
        });

        $('div.merge').click(function(){
            var keys = [];
            $(this).parent().find(':checked').each(function() {
                keys.push($(this).val());
            });
            if (keys.length > 1) {
                $('.spinner').show();
                $('#table').hide();
                $.post('/person/merge', {person_ids: keys.join(' ')}, function(list) {
                    for (i in list.keys) {
                        $('#'+list.keys[i]).remove();
                    }
                    if($('#persons').html().trim() == '') {
                        window.location = '/person/merge/{{ next_page }}';
                    } else {
                        $('.spinner').hide();
                        $('#table').show();
                    }
                }, 'json');
            }
        });

    });
</script>

{% endblock %}
