{% extends "../main.html" %}

{% block head %}
<script src="/javascript/jquery.elastic.js" type="text/javascript"></script>
<script src="http://datejs.googlecode.com/svn/tags/Alpha1.0/build/date-et-EE.js" type="text/javascript"></script>
<script src="/javascript/jquery.autocomplete-min.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        {% if person %}
        <li>{{ person.displayname }}</li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}

<div id="content">

    {% if can_search %}
    <div style="margin:10px 0px; float:left;">
        {{ str.search }}: <input type="text" id="search_person" name="search_person" maxlength="500" style="width:200px;" />
    </div>
    {% endif %}

    {% if person %}
    <h1 style="text-align:center;">{{ person.displayname }}</h1>
    <div class="vertical_table">
        <div class="table_row">
            <div class="table_cell" style="width:300px; vertical-align:top;">

                <label for="forename" style="display:block;">{{ str.person_forename }}:</label>
                <input type="text" id="forename" name="forename" class="autosave" value="{{ person.forename|default:""|escape }}" maxlength="500" style="display:block; width:99%; margin-bottom:15px;" disabled />

                <label for="surname" style="display:block;">{{ str.person_surname }}:</label>
                <input type="text" id="surname" name="surname" class="autosave" value="{{ person.surname|default:""|escape }}" maxlength="500" style="display:block; width:99%; margin-bottom:15px;" disabled />

                <label for="primary_email" style="display:block;">{{ str.person_primary_email }}:</label>
                <input type="text" id="primary_email" name="primary_email" class="autosave" value="{{ person.primary_email|default:""|escape }}" maxlength="500" style="display:block; width:99%; margin-bottom:15px;" disabled />

                <label for="person_birthdate" style="display:block;">{{ str.person_birthdate }}:</label>
                <input type="text" id="person_birthdate" name="person_birthdate" class="autosave_date" value="{{ person.birth_date|date:"d.m.Y" }}" maxlength="500" style="width:110px; margin-bottom:15px;" disabled />
                
                <label for="person_idcode" style="display:block;">{{ str.idcode }}:</label>
                <input type="text" id="person_idcode" name="person_idcode" class="autosave" value="{{ person.idcode|default:""|escape }}" maxlength="500" style="width:110px; margin-bottom:15px;" disabled />

            </div>


            <div class="table_cell" style="vertical-align:top; padding-top:10px;">
            

                <div class="table_row" alt="">
                {% for head_cell in ratings.head %}
                    <div class="table_cell" title="{{ head_cell }}" style="text-align:center; white-space:nowrap;">
                        <b>{{ head_cell }}</b>
                    </div>
                {% endfor %}
                </div>
                
                {% for rating in ratings.data %}
                <div class="table_row" alt="{{ rating.name }}">
                    <div class="table_cell" style="text-align:center; white-space:nowrap;">{{ rating.name }}</div>
                    <div class="table_cell" style="text-align:center; white-space:nowrap;">{{ rating.grade }}</div>
                    <div class="table_cell" style="text-align:center; white-space:nowrap;">{{ rating.equivalent }}</div>
                    <div class="table_cell" style="text-align:center; white-space:nowrap;">{{ rating.date }}</div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
    <span style="display:block; text-align:center; font-size:11px;">{{ changed }}</span>
    {% endif %}

</div>

<script type="text/javascript">
    $(document).ready(function(){

        if(!$('#name').val()) {
            $('#name').focus();
        }

        $('textarea').elastic();

        $('.autosave_date').change(function() {
            dinput = $(this);
            dvalue = Date.parse(dinput.val());
            if(dvalue) {
                dinput.val(dvalue.toString('dd.MM.yyyy'));
            } else {
                dinput.val('');
            }
            autoSave(dinput, {});
        });

        $('.autosave').change(function() {
            autoSave($(this), {});
        });

        function autoSave(input, data) {
            if(!data['field']) data['field'] = input.attr('name');
            if(!data['value']) data['value'] = input.val();

            $.post('/person/{{ person.key }}', data, function(json) {
                input.effect("highlight", {}, 1000);
            }, "json");
        }

        var le = $('#search_person').autocomplete({
            serviceUrl: '/person/person_ids',
            onSelect: function(value, data){
                window.location.href = '/person/' + data;
            },
        });



    });
</script>

{% endblock %}