<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />
		<title>Not Supported Browser</title>
		<style type="text/css">
			body {
				margin: 100px;
				background: white;
				color: black;
				font-family: "Lucida Grande", "Sans Serif", Arial;
			}
			a:link, a:visited, a:active {
				color: black;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
		</style>
	</head>
	<body>
	<center>
		<img src="/images/sad_mac_white.png" /><br /><br /><br />
		<strong>Sorry, but this site works only with modern brausers!</strong><br /><br />
		<small>
			Get one of those:<br />
			<a target="_blank" id="Chrome" href="http://www.google.com/chrome">Chrome</a><br />
			<a target="_blank" id="Safari" href="http://www.apple.com/safari/">Safari</a><br />
			<a target="_blank" id="Firefox" href="http://www.mozilla.com/firefox/">Firefox</a><br />
			<a target="_blank" id="IE" href="http://www.microsoft.com/ie/">Internet Explorer</a>
		</small>
	<center>
	</body>
</html>