{% autoescape off %}
<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="utf-8" />

        <title>{{ site_name }}</title>

        <link rel="stylesheet" href="/css/screen.css" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
        <script src="/javascript/jstorage.min.js" type="text/javascript"></script>

        {% block head %}
        {% endblock %}

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-260765-18']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </head>
    <body>

        <section id="main_nav">
            <img src="/images/spinner_menu.gif" class="spinner" />
        </section>


        <section id="main_content">
        {% if list_url %}
            <section id="list">
                <div id="list_search">
                    <input type="search" id="searchbox" placeholder="{{ str.search }}" />
                </div>
                <div id="list_items">
                    <img src="/images/spinner_white.gif" class="spinner" />
                </div>
            </section>
        {% endif %}

        {% block content %}
        {% endblock %}
        </section>

        <script type="text/javascript">
            $(document).ready(function(){
                menu = $.jStorage.get('main_menu');
                if(menu){
                    $('#main_nav').html(menu);
                } else {
                    $.ajax({
                        url: '/dashboard/menu',
                        cache: true,
                        success: function(html){
                            $.jStorage.set('main_menu', html);
                            $('#main_nav').html(html);
                        }
                    });
                }

            {% if list_url %}

                posts = []

                $('#searchbox').keyup(function() {
                    for (p in posts) {
                        posts[p].abort();
                    }
                    delay(function(){
                        fill_list();
                    }, 1000 );
                });

                var delay = (function(){
                    var timer = 0;
                    return function(callback, ms){
                        clearTimeout (timer);
                        timer = setTimeout(callback, ms);
                    };
                })();

                function fill_list() {
                    search_string = $('#searchbox').val();
                    $.post('{{ list_url }}', {search: $('#searchbox').val()}, function(list) {
                        $('#list_items').html('');
                        for (n in list.keys) {
                            key = list.keys[n];
                            posts.push($.post('{{ list_url }}', {key: key}, function(item) {
                                if(item.image) {
                                    image = '<img src="'+item.image+'" />';
                                } else {
                                    image = '';
                                }
                                if(item.info) {
                                    info = '<span>'+item.info+'</span>';
                                } else {
                                    info = '';
                                }
                                $('#list_items').append('<a href="'+item.url+'">'+image+item.title+info+'</a>');
                            }, 'json'));
                        }
                    }, 'json');
                }

                fill_list();
            {% endif %}

            });
        </script>
    </body>
</html>
{% endautoescape %}