<ul>
{% for person in persons %}
    <li>
        {{ person.forename }}, {{ person.surname }}
        <ul>
            <li>
                {{ str.contacts }}:
                <ul>
                {% for contact in person.contacts %}
                    <li>
                        {{ contact.contact_type.translate }}: {{ contact.value }}
                    </li>
                {% endfor %}
                </ul>
            </li>
            <li>
                {{ str.roles }}:
                <ul>
                {% for role in person.roles %}
                    <li>{{ role.value }}</li>
                {% endfor %}
                </ul>
            </li>
        </ul>
    </li>
{% endfor %}
</ul>