<h2>{{ page_title }}</h2>
<section class="table" style="width:100%;">
    <div class="row">
        <div class="v_header">
            {{ str.person_username }}
        </div>
        <div class="cell">
            {{ person.user }}
            <a href="javascript:void(0);" id="gapps_account"></a>
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_name }}
        </div>
        <div class="cell">
            {{ person.displayname|default:"" }}
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_language }}
        </div>
        <div class="cell">
            <select id="language" name="language" class="autosave">
                {% for l in languages %}
                <option value="{{ l.value }}"{% ifequal preferences.language l.value %} selected{% endifequal %}>{{ l.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            {{ str.person_timezone }}
        </div>
        <div class="cell">
            <select id="timezone" name="timezone" class="autosave">
                {% for tz in timezones %}
                <option value="{{ tz }}"{% ifequal preferences.timezone tz %} selected{% endifequal %}>{{ tz }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.autosave').change(function() {
            autoSave($(this), {});
        });

        function autoSave(input, data) {
            if(!data['field']) data['field'] = input.attr('name');
            if(!data['value']) data['value'] = input.val();

            $.post('/preferences', data, function(json) {
                input.effect("highlight", {}, 1000);
            }, "json");
        }
    });
</script>
