<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="Argo Roots" />

        <title>{{ page_title }}</title>

        <link rel="shortcut icon" href="{{ static_url('images/favicons/favicon.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ static_url('images/favicons/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ static_url('images/favicons/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ static_url('images/favicons/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ static_url('images/favicons/apple-touch-icon-57-precomposed.png') }}">

        <!-- jQuery & jQuery UI -->
        <script src="{{ static_url('frameworks/jquery/jquery-2.1.0.min.js') }}"></script>
        <script src="{{ static_url('frameworks/jquery/jquery-ui-1.9.2.min.js') }}"></script>

        <!-- Bootstrap & Font Awesome-->
        <link  href="{{ static_url('frameworks/bootstrap2/css/bootstrap.min.css') }}" rel="stylesheet" />
        <script src="{{ static_url('frameworks/bootstrap2/js/bootstrap.min.js') }}"></script>
        <link  href="{{ static_url('frameworks/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />

        <!-- Other JS libraries -->
        <link  href="{{ static_url('frameworks/bootstrap-sortable/bootstrap-sortable.css') }}" rel="stylesheet" />
        <script src="{{ static_url('frameworks/bootstrap-sortable/bootstrap-sortable.js') }}"></script>

        <link  href="{{ static_url('frameworks/select2/select2.css') }}" rel="stylesheet" />
        <script src="{{ static_url('frameworks/select2/select2.min.js') }}"></script>

        <link  href="{{ static_url('frameworks/chardinjs/chardinjs.css') }}" rel="stylesheet" />
        <script src="{{ static_url('frameworks/chardinjs/chardinjs.min.js') }}"></script>

        <script src="{{ static_url('frameworks/jquery.elastic.source.js') }}"></script>
        <script src="{{ static_url('frameworks/date-et-EE.js') }}"></script>
        <script src="{{ static_url('frameworks/bootstrap.file-input.js') }}"></script>


        <!-- Google & Dropbox API's -->
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="h14c0u5pcjcdppt"></script>

        <!-- Entu CSS -->
        <link href="{{ static_url('css/screen.css') }}" rel="stylesheet" />
        <link href="{{ static_url('css/print.css') }}" rel="stylesheet" media="print" />

        <!-- View CSS -->
        <style type="text/css">
        {% block style %}{% end %}
        </style>

        <!-- Google Analytics -->
        {% if google_analytics_code %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
                _gaq.push(['_setDomainName', 'entu.ee']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% end %}

        {% block head %}{% end %}

    </head>
    <body>
        {% block navbar %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container{% block fluid %}{% end %}">
                    <ul class="nav pull-left">
                        <li><a class="brand" href="{% block logo_url %}{% end %}">{{ app_title }} <span>{{ app_organisation }}</span></a></li>
                    </ul>
                    {% block right_toolbar %}{% end %}
                </div>
            </div>
        </div>
        {% end %}

        {% block content %}
        {% end %}

        <div id="modal-box" class="modal fade" style="display:none;">
        </div>

        <script>
            function showHelp() {
                $('body').chardinJs('start');
            }

            $(document).ready(function(){
                if (navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPod/i)) $('.hideonmobile').hide();
            });
        </script>
    </body>
</html>
