{% extends '../main/index.html' %}

{% block style %}
    .brand {padding-left:0px !important;}

{% end %}

{% block navbar %}
{% end %}


{% block content %}
    <div class="container" style="">
        <div class="well span3 offset4" style="margin-top:150px; text-align:center;">
            <h2>{{ _('log_in') }}</h2>
            <table class="table table-bordered table-condensed" style="width:100%; background-color:white; margin-top:20px;">
                {% if google %}
                <tr>
                    <td style="vertical-align:middle; width:40%;">
                        <a class="no-underline" href="/auth/google" style="display:block; text-align:right;"><i class="icon-google-sign" style="font-size:30px; line-height:20px; color:#DC2400;"></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="/auth/google" style="display:block; color:black; font-weight:bold;">Google</a>
                    </td>
                </tr>
                {% end %}
                {% if facebook %}
                <tr>
                    <td style="vertical-align:middle; width:40%;">
                        <a class="no-underline" href="/auth/facebook" style="display:block; text-align:right;"><i class="icon-facebook-sign" style="padding-top:5px; font-size:30px; line-height:20px; color:#39579A";></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="/auth/facebook" style="display:block; color:black; font-weight:bold;">Facebook</a>
                    </td>
                </tr>
                {% end %}
                {% if twitter %}
                <tr>
                    <td style="vertical-align:middle; width:40%;">
                        <a class="no-underline" href="/auth/twitter" style="display:block; text-align:right;"><i class="icon-twitter-sign" style="padding-top:5px; font-size:30px; line-height:20px; color:#00A7E9;"></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="/auth/twitter" style="display:block; color:black; font-weight:bold;">Twitter</a>
                    </td>
                </tr>
                {% end %}
                {% if live %}
                <tr>
                    <td style="vertical-align:middle; width:40%;">
                        <a class="no-underline" href="/auth/live" style="display:block; text-align:right;"><i class="icon-windows8" style="padding-top:0px; font-size:26px; line-height:20px; color:#0070C9;"></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" href="/auth/live" style="display:block; color:black; font-weight:bold;">Microsoft</a>
                    </td>
                </tr>
                {% end %}
            </table>
            <div class="muted" style="text-align:justify;">
                <small>{{ _('log_in_info') }}</small>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            var images = [
                '{{ static_url('images/bg-optimized-1.png') }}',
                '{{ static_url('images/bg-optimized-2.png') }}',
                '{{ static_url('images/bg-optimized-3.png') }}',
                '{{ static_url('images/bg-optimized-4.png') }}',
                '{{ static_url('images/bg-optimized-5.png') }}',
                '{{ static_url('images/bg-optimized-6.png') }}',
                '{{ static_url('images/bg-optimized-7.png') }}',
                '{{ static_url('images/bg-optimized-8.png') }}'
            ];

            $('html').css('background-size', 'cover');
            $('html').css('background-position', 'center top');
            $('body').css('background', 'none');
            $('#content-wrap .content').css('min-height', $(document).height() - 255 + 'px');

            randomize(images);
            preload(images);

            /*setInterval(function() {
                randomize(images)
            }, 10000);*/

            function randomize(arrayOfImages) {
              $('html').css('background-image', 'url(' + images[Math.floor(Math.random() * images.length)] + ')');
            }

            function preload(arrayOfImages) {
              $(arrayOfImages).each(function(){
                  $('<img/>')[0].src = this;
                  // Alternatively you could use:
                  // (new Image()).src = this;
              });
            }

            $('tr').hover(function() {
                $(this).addClass('success');
            }, function() {
                $('tr').removeClass('success');
            });

        });
    </script>
{% end %}
