{% extends '../main/index.html' %}

{% block style %}
    .brand {padding-left:0px !important;}

{% end %}

{% block navbar %}
{% end %}


{% block content %}
    <div class="container" style="">
        <div class="well span3 offset4" style="margin-top:150px; text-align:center;">
            <h2>{{ _('log_in') }}</h2>
            <table class="table table-bordered table-hover" style="width:100%; background-color:white; margin-top:20px;">
                <tr>
                    <td style="vertical-align:middle; text-align:right;">
                        <a class="no-underline" {% if google %}href="/auth/google"{% end %} style="display:block;"><i class="icon-google-sign" style="padding-top:5px; font-size:30px; line-height:20px; color:#DC2400;"></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" {% if google %}href="/auth/google"{% end %} style="display:block;">Google</a>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right;">
                        <a class="no-underline" {% if facebook %}href="/auth/facebook"{% end %} style="display:block;"><i class="icon-facebook-sign" style="padding-top:5px; font-size:30px; line-height:20px; color:#39579A";></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" {% if facebook %}href="/auth/facebook"{% end %} style="display:block;">Facebook</a>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right;">
                        <a class="no-underline" {% if twitter %}href="/auth/twitter"{% end %} style="display:block;"><i class="icon-twitter-sign" style="padding-top:5px; font-size:30px; line-height:20px; color:#00A7E9;"></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" {% if twitter %}href="/auth/twitter"{% end %} style="display:block;">Twitter</a>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle; text-align:right;">
                        <a class="no-underline" {% if live %}href="/auth/live"{% end %} style="display:block;"><i class="icon-windows-8" style="padding-top:5px; font-size:30px; line-height:20px; color:#0070C9;"></i></a>
                    </td>
                    <td style="vertical-align:middle; border-left:none;">
                        <a class="no-underline" {% if live %}href="/auth/live"{% end %} style="display:block;">MS Live</a>
                    </td>
                </tr>
            </table>
            <div class="muted" style="text-align:justify;">
                <small>{{ _('log_in_info') }}</small>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){

            var images = [
                'http://www.entu.ee/photos/bg-optimized-1.png',
                'http://www.entu.ee/photos/bg-optimized-2.png',
                'http://www.entu.ee/photos/bg-optimized-3.png',
                'http://www.entu.ee/photos/bg-optimized-4.png',
                'http://www.entu.ee/photos/bg-optimized-5.png',
                'http://www.entu.ee/photos/bg-optimized-6.png',
                'http://www.entu.ee/photos/bg-optimized-7.png',
                'http://www.entu.ee/photos/bg-optimized-8.png'
            ];


            $('html').css('background-size', 'cover');
            $('html').css('background-position', 'center top');
            $('body').css('background', 'none');
            $('#content-wrap .content').css('min-height', $(document).height() - 255 + 'px');

            randomize(images);
            preload(images);

            setInterval(function(){randomize(images)}, 10000);

            function randomize(arrayOfImages) {
              $('html').css('background-image', 'url(' + images[Math.floor(Math.random() * images.length)] + ')');
            }

            function preload(arrayOfImages) {
              $(arrayOfImages).each(function(){
                  $('<img/>')[0].src = this;
                  // Alternatively you could use:
                  // (new Image()).src = this;
              });
            }

        });
    </script>
{% end %}
