{% extends main_template %}

{% block content %}

{% include "search.html" %}

<h3>{{ name }}</h3>

<table class="table table-condensed">
    <tbody>
        {% for t in bubble.GetProperties %}
        {% if t.has_values and t.data_property != "name" and t.is_public %}
        <tr>
            <th style="text-align:right; white-space:nowrap;">
                {{ t.name }}
            </th>
            <td style="width:100%;">
                {% for v in t.values %}
                    {% if v.value %}
                        {% if t.data_type == "blobstore" %}
                            <a href="/public/{{ key }}/{{ v.key }}">{{ v.value }}</a>{% if not forloop.last %}<br />{% endif %}
                        {% else %}
                            {{ v.value|safe|urlize }}{% if not forloop.last %}<br />{% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
