{% extends main_template %}

{% block content %}

{% include "search.html" %}

<table class="table table-bordered">
    <thead>
        <tr>
            <th colspan="4">
                {{ count }}
            </td>
        </tr>
    </thead>
    <tbody>
        {% for bubble in bubbles %}
        <tr>
            <td style="white-space:nowrap;">
                {{ bubble.number }}
            </td>
            <td>
                <a href="/public/{{ bubble.key }}">{{ bubble.name }}</a>
            </td>
            <td style="white-space:nowrap;">
                {{ bubble.created }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
