<form id="search" class="form-horizontal" action="/public" style="text-align:center;">
    <div class="input-append">
        <input id="search_input" type="text" name="q" class="span4" placeholder="{{ str.search_placeholder }}" value="{{ search|default:"" }}" /><button class="btn"  type="submit">{{ str.search }}</button>
    </div>
    <div class="row"></div>
</form>

<script>
  $(document).ready(function() {

        $(document).scroll(function() {
            if($(this).scrollTop()-$('#search').offset().top > -10){
                $('#menusearch').show();
                if($('#search_input').is(':focus')) $('#menusearch_input').focus();
            }else{
                if($('#menusearch_input').is(':focus')) $('#search_input').focus();
                $('#menusearch').hide();
            }
        });

        $('#search_input').keyup(function() {
            $('#menusearch_input').val($('#search_input').val());
        });
        $('#menusearch_input').keyup(function() {
            $('#search_input').val($('#menusearch_input').val());
        });

  });
</script>
