html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:14px;font-family:inherit;vertical-align:baseline;list-style:none;}
header,footer,aside,nav,article,section{display:block;}
body{font-family:HelveticaNeue-Regular,'Helvetica Neue',Helvetica,Arial,Tahoma,Verdana,sans-serif;margin:50px;}
h1{display:block;margin-bottom:20px;font-size:18px;font-weight:bold;text-align:center;letter-spacing:1px;color:#006600;}
h2{padding-top:20px;margin-bottom:5px;font-size:14px;font-weight:bold;letter-spacing:1px;text-transform:uppercase;color:#b9b9b9;clear:both;}
a,a:active,a:visited{color:#454a4e;text-decoration:none;}
a:hover{text-decoration:underline;}
img.spinner{margin:100px auto;display:block;}
.table{display:table;}.table .row{display:table-row;}.table .row .v_header{display:table-cell;padding:5px 10px;text-align:right;vertical-align:top;white-space:nowrap;border-right:1px solid #b9b9b9;}
.table .row .h_header{display:table-cell;padding:5px 10px;text-align:center;font-weight:bold;vertical-align:middle;border-right:1px solid #b9b9b9;}
.table .row .cell{display:table-cell;padding:5px 10px;vertical-align:top;border-right:1px solid #b9b9b9;}.table .row .cell:last-child{border:none;}
.table .row:nth-child(odd){background-color:#F3F6FA;}
.table .row:hover{background-color:#7ABCFF;}
