/* CONSTANTS */

@text_color: #454A4E;
@nav_width: 200px;
@list_width: 300px;
@search_height: 37px;
@text_font: HelveticaNeue-Regular, 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif; //Georgia, Times, serif;
@header_font: HelveticaNeue-Regular, 'Helvetica Neue', Helvetica, Arial, Tahoma, Verdana, sans-serif;
@bordercolor: #B9B9B9;




/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

header, footer, aside, nav, article, section {
    display: block;
}



/* MAIN ELEMENTS */

body {
    font-family: @text_font;
}

a, a:active, a:visited {
    color: @text_color;
}

a:hover {
    text-decoration: underline;
}


img.spinner {
    margin:100px auto;
    display: block;
}


#main_nav {
    width: @nav_width;
    position: fixed;
    top: 0px;
    bottom: 0px;
    background: #3A4044;
    color: #FFFFFF;
    font-size: 11px;
    border-right: 1px solid #222222;

    header {
        padding: 10px;
        height: 60px;
        font-size: 16px;
        background: #33393D;
        text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
        white-space: nowrap;
        overflow: hidden;

        img {
            float: left;
            margin-right: 10px;
            background: #FFFFFF;
            box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
            -moz-box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
            -webkit-box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
        }

        a, a:active, a:visited {
            color: #FFFFFF;
            text-decoration: none;

        }

        a:hover {
            text-decoration: underline;
        }

    }

    nav {
        position: fixed;
        width: @nav_width;
        top: 60px;
        bottom: 0px;

        .accordion {
            border-bottom: 1px solid #222222;

            h3 {
                display: block;
                font-size: 12px;
                border-top: 1px solid #222222;

                a, a:active, a:visited {
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #3D4548;
                    border-bottom: 1px solid #3D4548;
                    background: #33393D;
                    color: #FFFFFF;
                    text-decoration: none;
                    font-weight: bold;
                }
            }

            h3.ui-state-active a {
                text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
            }

            div {
                display: block;
                border-top: 1px solid #222222;

                a, a:active, a:visited {
                    display: block;
                    padding: 5px 10px;
                    border: none;
                    color: #FFFFFF;
                    text-decoration: none;
                    font-weight: bold;
                    text-shadow: rgba(0, 0, 0, 0.8) 1px 1px 2px;
                }
                a.active {
                    border-bottom: 1px solid #3D4548;

                    background: rgb(122,188,255);
                    background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(64,150,238,1)));
                    background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
                    background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
                    background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
                    background: linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
                }

            }

        }

    }

}


#main_content {
    margin-left: @nav_width + 1px;
    background: #FFFFFF;
}


#list {
    width: @list_width;
    position: fixed;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid #222222;
    overflow: hidden;
}


#list_search {
    position: fixed;
    top: 0;
    height: @search_height;
    width: @list_width;
    border-bottom: 1px solid @bordercolor;

    background: rgb(238,238,238);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);

    input {
        display: block;
        width: @list_width - 30px;
        height: @search_height -10px;
        margin: 10px auto;
    }
}

#list_items {
    width: @list_width;
    position: fixed;
    top: @search_height + 1px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;

    a {
        display: block;
        padding: 10px;
        min-height: 32px;
        font-size: 13px;
        border-bottom: 1px solid @bordercolor;
        text-decoration: none;
        font-weight: bold;
        background: #FBFBFB;

        img {
            float: left;
            width: 32px;
            height: 32px;
            margin: 0px 10px 10px 0px;
            background: #FFFFFF;
        }

        span {
            display: block;
            padding-top: 3px;
            font-size: 11px;
            font-weight: normal;
            color: gray;
        }
    }

    a.active {
        background: #EEEEEE;
        border-right: 2px solid #222222;
    }
}

