<h2>{{ bubble.displayname }}</h2>
<section class="table" style="width:100%;">
    {% for l in leechers %}
    <div class="row">
        <div class="v_header">
            {{ l.displayname }}
        </div>
        <div class="v_header">
            {{ l.equivalent }}
        </div>
        {% for sg in l.subgrades %}
        <div class="cell" title="{{ sg.bubble.displayname }}" style="text-align:center; vertical-align:middle;{%if not sg.grade.is_positive %} color:red;{% endif %}">
            {{ sg.grade.displayname }}
        </div>
        {% endfor %}
        <div class="cell">
            <select class="rating" data-person="{{ l.key }}">
                <option value=""></option>
                {% for g in grades %}
                <option value="{{ g.key }}"{% ifequal l.grade.key g.key %} selected{% endifequal %}>{{ g.displayname }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% endfor %}
</section>
<a href="/action/rating/{{ bubble.key.id }}?print=true" target="_blank" class="button" data-icon="P">PRINT</a>

<script>
    $(document).ready(function(){
        $('.rating').change(function() {
            var rating = $(this);
            $.post('/action/rating/{{ bubble.key.id }}', {person: rating.data('person'), grade: rating.val()});
        });
    });
</script>
