{% extends main_template %}

{% block content %}
{% if system_logo %}
<img src="{{ system_logo }}" alt="logo" style="margin:0px auto 50px auto; display:block;" />
{% endif %}

<h1>{{ bubble.displayname }}</h1>
<section class="table" style="width:100%;">
    <div class="row">
        <div class="v_header" style="border-top:none;border-right:none;">
        </div>
        <div class="cell" style="border-top:none;">
        </div>
        {% for sg in subbubbles %}
        <div class="h_header" style="border-top:none;">
            {{ sg.displayname }}
        </div>
        {% endfor %}
        <div class="cell" style="border-top:none;">
        </div>
    </div>
    {% for l in leechers %}
    <div class="row">
        <div class="v_header">
        {% if order_number %}
            {{ order_number }}.
        {% endif %}
        <a href="/application/ratings/{{ bubble.key.id }}/{{ l.key }}">{{ l.displayname }}</a>
        </div>
        <div class="v_header">
            {{ l.equivalent }}
        </div>
        {% for sg in l.subgrades %}
        <div class="cell" title="{{ sg.bubble.displayname }}" style="text-align:center; vertical-align:middle;{%if not sg.grade.is_positive %} color:red;{% endif %}">
            {{ sg.grade.displayname }}
        </div>
        {% endfor %}
        <div class="cell" style="{%if not l.grade.is_positive %} color:red;{% endif %}">
            {{ l.grade.displayname }}
        </div>
        <div class="v_header">
        <a href="/update/unrelate_by_key/leecher/{{ bubble.key }}/{{ l.key }}"><i>-unleech-</i></a>
        </div>
    </div>
    {% endfor %}
</section>
{% if print_private_ratings %}
    <a href="/action/private_rating_list/{{ bubble.key.id }}">Saada personaalsed hinnetelehed</a>
{% endif %}

    {% endblock %}
