<section class="table" style="width:100%;">
    <div class="row">
        <div class="v_header">
            Start
        </div>
        <div class="cell">
            <input type="text" id="start" class="datetime" />
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            End
        </div>
        <div class="cell">
            <input type="text" id="end" class="datetime" />
        </div>
    </div>
    <div class="row">
        <div class="v_header">
            Interval
        </div>
        <div class="cell">
            <input type="text" id="interval" class="autosave" />
        </div>
    </div>
</section>
<a href="javascript:void(0);" id="generate" class="button" style="float:right;">Generate</a>
<img id="spinner" src="/images/spinner_gray_small.gif" style="display:none; float:right;" />

<script>
    $(document).ready(function(){
        $('.datetime').change(function() {
            $(this).val(format_date($(this).val(), 'dd.MM.yyyy HH:mm'));
        });

        function format_date(dinput, format) {
            var result = ''
            dvalue = Date.parse(dinput);
            if(dvalue) {
                result = dvalue.toString(format);
            }
            return result;
        }

        $('#generate').click(function() {
            $('#generate').hide();
            $('#spinner').show();

            $.post('/action/timeslot/{{ bubble.key.id }}', { start: $('#start').val(), end: $('#end').val(), interval: $('#interval').val() }, function(data) {
                $('#spinner').hide();
                $('#generate').show();
            });
        });
    });
</script>
