<ion-view title="{{ title }}">
    <div class="bar bar-header bar-calm" ng-click="showQuestions()">
        <button class="button button-clear button-light" ng-click="showQuestions()">{{ person }}</button>
        <h1 class="title">{{ title }}</h1>
        <button class="button button-clear button-light" ng-click="showQuestions()">{{ assessee_titles[current_assessee] }}</button>
    </div>
    <div class="bar bar-subheader">
        <div class="button-bar">
            <a class="button button-clear button-calm" ng-repeat="a in assessees | orderBy : ['ordinal', 'title']" ng-click="showQuestions(a.id)" ng-class="{ 'selected' : current_assessee == a.id }" title="{{ a.title }}">{{ a.title }}</a>
        </div>
    </div>
    <ion-content padding="false" has-bouncing="true" overflow-scroll="true">
        <div class="list" ng-if="!current_assessee">
            <markdown class="item item-text-wrap" ng-model="description"></markdown>
            <markdown class="item item-text-wrap" ng-model="howto"></markdown>
        </div>
        <div class="list" ng-if="current_assessee">
            <div class="item item-text-wrap" ng-repeat="q in questions | filter:{ assessee_id: current_assessee } | orderBy : 'ordinal'">
                <div class="row range range-calm">
                    <div class="col question" ng-class="{ 'no-answer' : q.rating && q.no_rating == false && !q.rating_value }">
                        {{ q.ordinal }} {{ q.title }}
                    </div>
                    <i class="icon ion-minus-circled assertive" ng-if="q.rating"></i>
                    <input class="col col-33" type="range" min="1" max="100" ng-model="q.rating_value" ng-if="q.rating" ng-change="saveRating(q)" ng-disabled="is_loading > 0">
                    <i class="icon ion-plus-circled balanced" ng-if="q.rating"></i>
                    <button class="no-rating button button-small button-calm" ng-class="{ 'button-outline' : q.no_rating == false }" ng-if="q.rating" ng-click="saveNoRating(q)" ng-disabled="is_loading > 0">Ei oska vastata</button>
                </div>
                <div class="row" ng-if="q.text">
                    <div class="col">
                        <textarea rows="4" placeholder="Kommenteeri..." ng-model="q.text_value" ng-change="saveText(q)" ng-disabled="is_loading > 0"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-stable" ng-if="is_loading > 0">
        Laen andmeid{{ loadingProgress() }}
    </ion-footer-bar>
</ion-view>
