{% from operator import itemgetter %}

<div class="modal-header" style="border:none;">
    <a class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></a>
    <h3>{{ _('user_preferences') }}</h3>
</div>
<div class="modal-body" style="padding:0px;">
    <table class="edit-form table table-bordered" style="margin:0px;">
        <tbody>
            <tr>
                <th>
                    {{ _('user_name') }}
                </th>
                <td style="padding:8px;">
                    {{ current_user.name }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ _('user_language') }}
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th>
                    {{ _('user_timezone') }}
                </th>
                <td>

                </td>
            </tr>
            <tr>
                <th rowspan="2">
                    {{ _('user_accounts') }}
                </th>
                <td style="padding:8px;">
                    Google
                </td>
            </tr>
            <tr>
                <td style="padding:8px; color:gray;">
                    Facebook
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">{{ _('close') }}</a>
</div>

<script>
    $(document).ready(function(){

    });
</script>
