{% extends "../main.html" %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
<nav>
    <ul id="crumbs">
        <li><a href="/">{{ system_title }}</a></li>
        <li><a href="/bubbletype/{{ bubble.type2.key.id }}">{{ bubble.type2.displayname }}</a></li>
        <li><a href="/bubble/{{ bubble.key.id }}">{{ bubble.displayname|striptags }}</a></li>
        <li>{{ str.bubble_rating }}</li>
    </ul>
</nav>
{% endblock %}

{% block content %}

<div id="content">
{% regroup leechers|dictsortreversed:"grade_equivalent" by grade_displayname as grouped %}
{% for group in grouped %}
    <h2>{{ group.grouper }}<span>{{ group.list|length }}</span></h2>
    <div class="table" style="margin-bottom:10px;">
        {% if gradebubbles %}
            <div class="table_row" alt="{{ p.key }}">
                <div class="table_cell">
                </div>
                <div class="table_cell">
                </div>
                {% for g in gradebubbles %}
                <div class="table_cell" title="{{ g.displayname }}" style="text-align:center;font-size:11px;">
                    {{ g.displayname }}
                </div>
                {% endfor %}
                <div class="table_cell radio" style="white-space:nowrap;">
                </div>
            </div>
        {% endif %}
        {% for p in group.list|dictsortreversed:"equivalent" %}
            <div class="table_row" alt="{{ p.key }}">
                {% if p.photo %}
                <img class="table_cell" src="{{ p.photo.url }}/24/c" style="width:24px;">
                {% else %}
                <div class="table_cell" style="width:24px;"></div>
                {% endif %}
                <div class="table_cell" style="white-space:nowrap;width:100%;">
                    <a href="/reception/application/{{ p.key }}">{{ p.displayname|default:"" }}</a>
                </div>
                {% if p.subgrades %}
                {% for g in p.subgrades %}
                <div class="table_cell" title="{{ g.displayname }}" style="text-align:center;">
                    {{ g.grade.displayname }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="table_cell radio" style="white-space:nowrap;">
                    <select name="radio_{{ p.key.id }}" class="grade" person="{{ p.key }}"{% if p.grade_is_locked %} disabled{% endif %}>
                        <option value=""></option>
                        {% for gd in gradedefinitions %}
                        <option value="{{ gd.key }}" {% ifequal gd.key p.grade_key %}selected {% endifequal %}>{{ gd.displayname }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="/spam?b={{ bubble.key.id }}&p={% for p in group.list %}{{ p.key.id }}.{% endfor %}&r=/rating/{{ bubble.key.id }}">{{ str.send_submit }}</a>
{% endfor %}
    <a href="/rating/lock/{{ bubble.key.id }}" class="button" style="float:right;">{{ str.rating_lock }}</a>
</div>

<script>
    $(document).ready(function(){
        $(".grade").change(function(){
            var grade = $(this);
            $.post('/rating/{{ bubble.key.id }}', { person: grade.attr('person'), grade: grade.val() }, function(json) {

            }, 'json');

        });
    });
</script>

{% endblock %}